@import "core/base";
@import "core/print";

/*人员信息表，部门信息表样式*/
/*
*form-version-table-user
*form-version-table-department
*/
.form-version-table-user, .form-version-table-department{
    font-size: 12px;
    width: 100%!important;
    .ui-btn-box {
        margin-left: -20px;
    }
    .df-input-radio-wrapper {
        width: 12px;
        height: 12px;
    }
}
.form-version-table-user, .form-version-table-department, .form-default {
    font-size: 12px;
    margin: 10px;
    background: #FFFFFF;
    tr td:first-child {
        width: 30% !important;
        background: #FFFFFF;
    }
    tr td:last-child {
        width: 70% !important;
        background: #F8F8F8;
    }
    .auto-select-component{
        width: 244px !important;
        height: 28px;
        input.text,  input.result{
            height: 28px;
        }

    }
    .dynamic-form-input {
        width: 242px !important;
        height: 24px;
    }
    .textArea {
        border: 1px solid #ddd;
        -webkit-appearance: none;
        padding: 0 0 0 10px;
    }

}

//默认表单样式
.form-default {
    .dynamic-form-input {
        width: 242px !important;
        height: 24px;
    }
    .auto-select-component .choosed .item {
        margin: 2px 3px 0 0;
    }
}

.form-print-position{
    position: relative;
    display: table;
    margin: 0 auto;
    background-color: #FFF;
    width: 100%;
}

