@import "core/base";
@import "core/print";

/*人员信息表，部门信息表样式*/
/*
*form-version-table-user
*form-version-table-department
*/
.form-version-table-user, .form-version-table-department{
    font-family: '微软雅黑';
    font-size: 12px;
    width: 100%!important;
    .ui-btn-box {
        margin-left: -20px;
    }
    .df-input-radio-wrapper {
        width: 12px;
        height: 12px;
    }
}
.form-version-table-user, .form-version-table-department, .form-default {
    font-size: 12px;
    margin: 10px;
    background: #FFFFFF;
    tr td:nth-child(odd) {
        width: 30% !important;
        background: #FFFFFF;
    }
    tr td:nth-child(even) {
        width: 70% !important;
    }

}

//默认表单样式
.form-default {
    .auto-select-component .choosed .item {
        margin: 2px 3px 0 0;
    }
}

.form-print-position{
    position: relative;
    display: table;
    margin: 0 auto;
    background-color: #FFF;
    width: 100%;
}

