@import "core/base";
//颜色配置
$background_color: rgba(0, 136, 255, 1); //背景颜色
$panel_color: #ffffff; //面板颜色
$input_bg_color: rgba(212, 212, 212, 0.2); //输入框背景色
$input_color: rgb(0, 0, 0); //输入文字颜色

//界面背景
.login-main-window {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $background_color;
    background-image: url("../images/login/background.png") ;
    background-repeat: no-repeat;
    background-position: 50% 30%;

    .bg-div {
        position: absolute;
        width: 672px;
        left: calc(50% - 350px);
        top: calc(50% - 400px);
        overflow: hidden;
        //background: url("../images/login/background.png");
        //background-repeat: no-repeat;

        .login-content {
            width: 300px;
            margin-left: 200px;
            margin-top: 150px;

            .login-main-title {
                color: white;
                line-height: 30px;
                font-size: 20px;
                text-align: center;
            }

            .login-version-title{
                color: $panel_color;
                text-align: center;
                font-size: 12px;
            }

            .white-panel {
                background-color: #ffffff;
                margin-top: 25px;
                width: 300px;
                height: 240px;
                border-radius: 2%;

                h2 {
                    padding-top: 15px;
                    height: 40px;
                    line-height: 20px;
                    color: black;
                    //font-size: 0.9em;
                    text-align: center;
                }

                form {
                    .form-group{
                        position: relative;
                        height: 40px;
                        margin-left: 30px;
                        .form-user-logo {
                            width: 16px;
                            height: 16px;
                            display: block;
                            position: absolute;
                            left: 15px;
                            top: 9px;
                        }
                        .form-user-logo {
                            background: url("../images/login/icon_user.png");
                            background-repeat: no-repeat;
                        }
                    }

                    .ps-group {
                        margin-top: 5px;
                        height: 30px;
                        position: relative;
                        .form-pw-logo{
                            left: 45px;
                            top:13px;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            background: url("../images/login/icon_password.png");
                            background-repeat: no-repeat;
                        }
                        .password-component{
                            .password-component-group{
                                height: 40px;
                                .input-box{
                                    margin-left: 30px;
                                    .default-faker-password{
                                        top:12px;
                                        left: 215px;
                                        &.display-password{
                                            top:11px;
                                        }
                                    }
                                }
                                .input-password-warning{
                                    display: none;
                                }
                            }
                        }
                    }
                    .form-group,.ps-group {
                        input {
                            width: 240px;
                            height: 30px;
                            box-sizing: border-box;
                            background-color: $input_bg_color;
                            border: 1px solid rgba(255, 255, 255, 0.3);
                            text-indent: 35px;
                            outline: none;
                            color: $input_color;
                        }

                        input:focus {
                            border-style: solid;
                            border-color: #27adf4;
                            outline: none;
                        }
                    }

                    .remember-pw-group {
                        width: 80px;
                        height: 20px;
                        margin-top: 5px;
                        margin-left: 27px;
                        color: rgba(72, 72, 72, 0.73);

                        input {
                            vertical-align: middle;
                            cursor: pointer;
                        }
                        label {
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }

                    .warn-info {
                        width: 100%;
                        height: 20px;
                        line-height: 20px;
                        margin-top: 5px;
                        color: red;
                        text-align: center;
                    }
                    .panel-bottom {
                        height: 50px;
                        border-top: solid 1px rgba(212, 212, 212, 0.24);
                        .find-pw-group {
                            margin-left: 30px;
                            float: left;
                            height: 20px;
                            width: 80px;
                            margin-top: 15px;
                            position: relative;
                            .find-pw-logo {
                                position: absolute;
                                top: 2px;
                                left: 0;
                                cursor: pointer;
                                width: 16px;
                                height: 16px;
                                background: url("../images/login/find-pw-icon.png");
                                background-repeat: no-repeat;
                            }
                            label {
                                cursor: pointer;
                                margin-left: 20px;
                                line-height: 20px;
                                color: rgba(195, 195, 195, 0.88);
                            }
                        }
                        button {
                            cursor: pointer;
                            width: 90px;
                            height: 30px;
                            color: white;
                            background-color: #686868;
                            border-radius: 5px;
                            border: 0;
                            margin-left: 80px;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .operator-group {
                width: 300px;
                color: white;
                display: inline-flex;
                justify-content: flex-start;

                .register-btn,.update-btn,.mobile-download-btn {
                    width: 100px;
                    box-sizing: border-box;
                    height: 20px;
                    cursor: pointer;
                    margin-top: 20px;
                    //float: left;
                    text-align: center;
                    border-right: #6accfe 1px solid;
                    line-height: 20px;
                    flex-grow: 1;
                }
                .mobile-download-btn{
                    border-right:none;
                }
            }

            //版本表格样式
            .version-view {
                width: 300px;
                height: auto;
                top: 20px;
                overflow: auto;
                display: none;
                .version-table {
                    width: 100%;
                    color: rgba(255, 255, 255, 0.55);
                    text-align: center;
                    border-collapse: collapse;

                    th {
                        font-weight: bold;
                        height: 30px;
                        line-height: 30px;
                        white-space: nowrap;
                        text-align: left;
                    }

                    td {
                        height: 30px;
                        line-height: 30px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-align: left;
                        padding-right: 17px;
                        &.run-btn {
                            cursor: pointer;
                            padding-right: 18px;
                        }
                    }
                    .default-hide {
                        display: none;
                    }
                }
                .self-service-update{
                    width: 65px;
                    height: 24px;
                    text-align: center;
                    background-color: #0088ff;
                    border: solid 1px #66ccff;
                    outline: none;
                    font-size: 12px;
                    padding: 0;
                    color: #FFFFFF;
                    margin-left: 220px;
                    cursor: pointer;
                }
            }

            //反面面板(忘记密码)样式
            .opposite-panel {
                display: none;
                background-color: $panel_color;
                margin-top: 25px;
                width: 300px;
                height: 240px;
                border-radius: 2%;
                .op-header {
                    height: 30px;
                    border-radius: 6px;
                    line-height: 30px;
                    text-align: center;
                    background-color: #fafafa;
                    span {
                        line-height: 30px;
                    }

                    i {
                        float: right;
                        margin-right: 8px;
                        font-size: 18px;
                        cursor: pointer;
                        color: rgba(181, 181, 181, 0.81);
                        vertical-align: middle;
                    }
                }
                .op-content {
                    box-sizing: border-box;
                    height: 140px;
                    border-bottom: 1px solid rgba(180, 180, 180, 0.3);
                    margin-top: 15px;
                    padding-left: 30px;
                    .account-group {
                        span {
                            line-height: 30px;
                            display: block;
                        }
                        input {
                            width: 240px;
                            height: 30px;
                            box-sizing: border-box;
                            margin-top: 5px;
                            background-color: #fafafa;
                            border: 1px solid rgba(180, 180, 180, 0.3);
                        }
                        input:focus {
                            border-style: solid;
                            border-color: #27adf4;
                        }
                    }
                }
                .op-submit {
                    height: 55px;
                    button {
                        width: 90px;
                        height: 30px;
                        cursor: pointer;
                        background-color: #0089FF;
                        color: white;
                        border-radius: 5px;
                        float: right;
                        margin-right: 20px;
                        margin-top: 12px;
                        border: none;
                    }
                }
            }
        }
        //needDownload时显示
        .need-download {
            position: fixed;
            width: 600px;
            height: 200px;
            top: calc(50% - 100px);
            left: calc(50% - 300px);
            display: none;
            span {
                font-size: 20px;
                font-weight: bold;
                color: white;
            }
        }
    }
}





