@import "core/base";

html.main, html.main body {
    width: 100%;
    height: 100%;
    min-width: $body-minwidth;
    min-height: $body-minheight;
    background-color: $main-bg;
    position: relative;
}

#header {
    position: absolute;
    left: $aside-width;
    right: 0;
    top: 0;
    height: $header-height;
    background-color: $header-bg;
}

#aside {
    position: absolute;
    left: 0;
    top: 0;
    width: $aside-width;
    bottom: 0;
    background-color: $aside-bg;
}

#content {
    position: absolute;
    background-color: $content-bg;
    right: 0;
    top: $header-height;
    bottom: 0;
    left: $aside-width;
    iframe {
        width: 100%;
        height: 100%;
    }
}

#footer {
    position: absolute;
    background-color: $footer-bg;
    width: 100%;
    left: 0;
    bottom: 0;
    height: $footer-height;
}
.flex{
    display: flex;
    align-items: center;
}
.flex.flex-column {
    flex-direction: column;
}
.flex.flex-start{

    align-items: flex-start;
}
.flex.flex-between{

    justify-content: space-between;
}
.flex.flex-wrap{
    flex-wrap: wrap;
}

.flex-item {
    flex-grow: 1;
    flex-shrink: 0;
}

.bg_close {
    background-image: url("../images/framework/close.png");
}
.pointer {
    cursor: pointer;
}

.clockwise{
    width: 40px;
    height:40px;
    float: right;
    line-height:40px;
    text-align:center;
    font-size:30px;
    background:url("../images/dataGrid/clockwise.png") no-repeat center center white;
}
.counterclockwise{
    width: 40px;
    height:40px;
    float: right;
    line-height:40px;
    text-align:center;
    font-size:30px;
    background:url("../images/dataGrid/counterclockwise.png") no-repeat center center;
    background-size: 32px 32px;
}
.narrow,.enlarge,.counterclockwise{
    width: 40px;
    height: 40px;
    margin-left: 25px;
}
.narrow{
    background:url("../images/dataGrid/narrow.png") no-repeat center center;
}
.enlarge{
    background:url("../images/dataGrid/enlarge.png") no-repeat center center;
}
.closeImg{
    position: fixed;
    right: 16px;
    top: 16px;
    z-index:500;
    background:url("../images/dataGrid/icon_off.png") no-repeat center center;
    height:30px;
    width:30px;
    border-radius:50%;
}