#ui-datepicker-div {
    .ui-icon-circle-triangle-w {
        background: url("../../../assets/images/form/inco_pre_month.png");
    }
    .ui-icon-circle-triangle-e {
        background: url("../../../assets/images/form/inco_next_month.png");
    }
}

.form-icon {
    display: inline-block;
    width: 16px;
    height:16px;
}
.icon-add {
    background: url("../../../assets/images/form/icon_add.png");
}

.icon-bitian {
    background: url("../../../assets/images/form/icon_bitian.png");
}

.icon-bitian_yes {
    background: url("../../../assets/images/form/icon_bitian_yes.png");
}

.icon-buildln {
    background: url("../../../assets/images/form/icon-buildln.png");
}

.icon-correspondence {
    background: url("../../../assets/images/form/icon_correspondence.png");
}

.icon-delete {
    background: url("../../../assets/images/form/icon_delete.png");
}

.icon-download {
    background: url("../../../assets/images/form/icon_download.png");
}

.icon-error-msg {
    background: url("../../../assets/images/form/error-msg.png");
    width: 20px;
    height: 20px;
}

.icon-history {
    background: url("../../../assets/images/form/icon_history.png");
}

.icon-left {
    background: url("../../../assets/images/form/icon_left.png");
}

.icon-left_grey {
    background: url("../../../assets/images/form/icon_left_grey.png");
}

.icon-next-month {
    background: url("../../../assets/images/form/inco_next_month.png");
}

.icon-plus {
    background: url("../../../assets/images/form/icon_plus.png");
}

.icon-pre-month {
    background: url("../../../assets/images/form/inco_pre_month.png");
}

.icon-reduce {
    background: url("../../../assets/images/form/icon_reduce.png");
}

.icon-refresh {
    background: url("../../../assets/images/form/icon_refresh.png");
}

.icon-right {
    background: url("../../../assets/images/form/icon_right.png");
}

.icon-right_grey {
    background: url("../../../assets/images/form/icon_right_grey.png");
}

.icon-rili {
    background: url("../../../assets/images/form/icon-rili.png");
}

.icon-time {
    background: url("../../../assets/images/form/icon_time.png");
}

.icon-video-play {
    background: url("../../../assets/images/form/icon_video_play.png");
    width: 80px;
    height: 80px;
}

.icon-xuanzeqi {
    background: url("../../../assets/images/form/icon_xuanzeqi.png");
}

.thumbnail-list {
    .left-button.disable {
        content: url("../../../assets/images/form/icon_left_grey.png");
        padding: 22px 0;
    }
    .right-button.disable {
        content: url("../../../assets/images/form/icon_right_grey.png");
        padding: 22px 0;
    }
    .left-button.enable {
        content: url("../../../assets/images/form/icon_left.png");
        padding: 22px 0;
    }
    .right-button.enable {
        content: url("../../../assets/images/form/icon_right.png");
        padding: 22px 0;
    }
}


