.component-calendar-taskbar {
    height: 100%;
    padding-left: 5px;
    display: inline-block;
    .approve-task {
        padding-top: 7px;
        padding-left: 2px;
        padding-bottom: 8px;
        .approve-label {
            margin-left: 1px;
        }
    }
    .remind-task {
        padding-bottom: 2px;
    }
    .label-task {
        .checkbox-label {
            cursor: pointer;
            display: inline-block;
            label.workflow_checked {
                padding: 6px ;
                border: 0px ;
                background-color: RGB(100, 166, 239);
            }
            .checkbox_a {
                display: none;
            }
            .checkbox_a2 {
                cursor: pointer;
                padding: 5px;
                border: 1px solid #C1CACA;
                display: inline-block;
                position: relative;
            }
        }
        .remind-label {
            display: inline-block;
            position: relative;
            bottom: 3px;
        }
        .checkbox-true {
            cursor: pointer;
            display: inline-block;
        }
    }
    .remind-group {
    }
}

.checkbox-group {
    margin-left: 35px;
}
