.bi-chart-select{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background: #fff;
  color: #555;
  width: 280px;
  position: relative;
  select{
    cursor: pointer;
    padding: 10px 40px 10px 10px;
    width: calc(100% - 15px);
    border: none;
    height: 40px;
    overflow: auto;
    border-bottom: 1px solid #ececec;
    outline: none;
    option{
      border: none;
    }
  }
}