<div id="app-workflow">
    <div class="workflow-wrapper">
        <div class="workflow-container">
            <div id="approval-header">
                <div id="approval-info"></div>
            </div>
            <div id="preview-node">
                <div class="preview-node preview-node1"></div>
                <div class="preview-node preview-node2"></div>
                <div class="preview-node preview-node3"></div>
            </div>
            <div class="workflow-main">
                <div id="workflow-seal"></div>
                <div class="workflow-form" id="workflow-form"></div>
                <div class="workflow-grid" id="workflow-grid"></div>
                <div class="workflow-record">
                     <div class="workflow-box" id="workflow-record"></div>
                </div>

                <div class="workflow-foot">
                    <!--<div class="workflow-box  flex flex-column flex-start for-hide" id="add-comment">-->
                        <!--<div class="workflow-box-l">-->
                            <!--<div class="tit">-->
                                <!--<i class="workflow-icon-box workflow-icon-record2"></i>-->
                                <!--<span>审批意见</span>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="workflow-box-r">-->
                            <!--<div class="approve-textarea">-->
                                <!--<textarea id="comment"></textarea>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="workflow-box" id="add-home">
                            <div class="flex flex-column flex-start">
                                    <div class="workflow-box-l flex">
                                        <div class="tit">
                                            <i class="workflow-icon-box workflow-icon-follow"></i>
                                            <span>关注人</span>
                                        </div>
                                        <div class="add-follow flex" id="addFollower"><span class="workflow-icon-box workflow-icon-add add-icon"></span><span>添加关注人</span></div>
                                    </div>
                                    <div class="workflow-box-r">
                                        <div class="content">
                                            <div class="follow-name-list" id="addFollowerList">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div id="flow-node">

                    </div>
                </div>
            </div>
            <div class="wf-btn-box">
                <div class="left">
                    <div class="preview-btn" data-preview="follow-view">关注人</div>
                    <div class="preview-btn" data-preview="flow-view">流程节点</div>
                    <div class="preview-btn" data-preview="record-view">审批记录</div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--<div class="component-loading-cover J_component-loading-cover">-->
    <!--<div class="component-loading-box J_component-loading-box flex">-->
        <!--<div class="dot1"></div>-->
        <!--<div class="dot2"></div>-->
        <!--<div class="dot3"></div>-->
        <!--<div class="dot4"></div>-->
        <!--<div class="dot5"></div>-->
    <!--</div>-->
<!--</div>-->