<div class="my-operation-grid">
    <!--按鈕-->
    <div class="btn-nav">
        <div class="operation-btn-group">
            <a class="float-search-btn" href="javascript:;" title="搜索"><img class="search" src="../../../assets/images/dataGrid/shaixuan.png.png" alt=""><span>搜索</span></a>
            <!--<a class="custom-column-btn" href="javascript:;" title="定制列"><img src="../../../assets/images/dataGrid/icon_dingzhilie_1.png" alt=""><span>定制列</span></a>-->
            <a class="grid-new-window" href="/datagrid/custom_index/?table_id=0&folder_id=216&custom_id=my-operations" target="_blank" title="全屏"><img class="full" src="../../../assets/images/dataGrid/icon_kuanduzishiyng_1.png" alt=""><span>全屏</span></a>
        </div>
    </div>
    <div class="ag-grid-con">
        <!--agGrid数据展示-->
        <div id="operation-agGrid"></div>
        <!--定制列-->
        <!--<div class="custom-columns-panel"></div>-->
    </div>
    <!--分页-->
    <div class="pagination">
    </div>
</div>