<div class="my-operation-grid">
    <!--按鈕-->
    <div class="btn-nav">
        <div class="workflowGrid-btn-group">
            <a class="float-search-btn" href="javascript:;" title="搜索"><img src="../../../assets/images/dataGrid/icon_sousuo_1.png" alt=""><span>搜索</span></a>
            <a class="grid-new-window" href="javascript:;" target="_blank" title="全屏"><img src="../../../assets/images/dataGrid/icon_quanping.png" alt=""><span>全屏</span></a>
        </div>
    </div>
    <div class="operation-grid-con">
        <!--agGrid数据展示-->
        <div id="operation-agGrid"></div>
        <!--定制列-->
    </div>
    <!--分页-->
    <div class="pagination">
    </div>
</div>