.my-operation-grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;.tips {
  position: absolute;
  display: flex;
  i {
    background: url("../../../assets/images/dataGrid/tab-title.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 20px;
    margin-top: 21px;
    margin-left: 15px;
  }
  span {
    line-height: 60px;
  }
}
  .btn-nav {
      height: 60px;
      width: 100%;
      .operation-btn-group {
          float: right;
          display: flex;
          margin-right: 10px;
          height: 60px;
          user-select: none;
          .datagrid-icon-box {
              display: flex;
              align-items: center;
          }
          a {
              cursor: pointer;
              margin-left: 30px;
              position: relative;
              color: #B399A6;
              text-decoration: none;
              font-size: 12px;
              display: flex;
              align-items: center;
              .icon-aggrid {
                  margin-right: 4px;
                  order: 0;
              }
              span {
                  order: 1;
                  line-height: 26px;
              }
              img {
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  vertical-align: sub;
                  margin-right: 4px;
              }
              .showNormalGrid {
                  color: #0E7AEF;
              }
          }
      }
  }
  .ag-grid-con {
    overflow-y: auto;
    height: calc( 100% - 100px );
    #operation-agGrid {
      width: 100%;
      float: left;
      position: relative;
      height: 100%;
    }
    .custom-columns-panel {
      width: 200px;
      height: 100%;
      float: left;
      background: #f0f0f0;
      position: relative;
      display: none;
    }
    .pagination {
      height: 30px;
      width: 100%;
      clear: both;
    }
    .component-date-control {
      img {
        top: 0px !important;
      }
    }
    .component-time-control {
      width: 100%;
      div:first-child{
        width: 100%;
      }
    }
  }
}