.form-chart-text {
    input {
        width:250px;
        margin-top:27px;
        border:none;
        border-bottom:solid 1px rgba(228, 228, 228, 1);
    }
    .error-msg{
        color:red;
    }
}