<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>发起工作流</title>
</head>

<body>

<script>

    window.config = {

    }

</script>



{% ifequal window_type 'develop'%}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/workflow.js"></script>
{% else %}
<link rel="stylesheet" href="/client/static/css/vendors.css">
<link rel="stylesheet" href="/client/static/css/workflow.css">
<script type="text/javascript" src="/client/static/vendors.js"></script>
<script type="text/javascript" src="/client/static/workflow.js"></script>

{% endifequal %}
</body>
</html>