<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>发起工作流</title>
</head>

<body>

<script>

    window.config = {{window_config|safe}};

</script>


<!-- <a href="/wf/approval/?record_id=598d26f3803df8f6e2600dfd&table_id=5318_EHFuJD7Ae76c6GMPtzdiWH&form_id=181&flow_id=43">审批工作流</a> -->

<div id="WorkflowInitial"></div>



{% ifequal window_type 'develop'%}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/createWorkflow.js"></script>
{% else %}
<link rel="stylesheet" href="/client/static/css/vendors.css">
<link rel="stylesheet" href="/client/static/css/createWorkflow.css">
<script type="text/javascript" src="/client/static/vendors.js"></script>
<script type="text/javascript" src="/client/static/createWorkflow.js"></script>

{% endifequal %}
</body>
</html>
