<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ERDS</title>
</head>

<body>

<script>

    window.config = {
    }

</script>

<div id="DataTablePage"></div>

{% ifequal window_type 'develop'%}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/dataGrid.js"></script>
{% else %}
<link rel="stylesheet" href="/client/static/css/vendors.css">
<link rel="stylesheet" href="/client/static/css/dataGrid.css">
<script rel="stylesheet" href="/client/static/scripts/vendors.js"></script>
<script rel="stylesheet" href="/client/static/scripts/dataGrid.js"></script>
{% endifequal %}

</body>
</html>