<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <script>
    </script>
</head>
<body>
<!--{% ifequal window_type 'develop'%}-->
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/form.js"></script>
<!--<link rel="stylesheet" href="/client/static/css/vendors.css"></link>-->
<!--<link rel="stylesheet" href="/client/static/css/form.css"></link>-->
<!--<script type="text/javascript" src="/client/static/vendors.js"></script>-->
<!--<script type="text/javascript" src="/client/static/form.js"></script>-->
<!--{% else %}-->
<!--<link rel="stylesheet" href="/client/static/css/vendors.css"></link>-->
<!--<link rel="stylesheet" href="/client/static/css/form.css"></link>-->
<!--<script type="text/javascript" src="/client/static/vendors.js"></script>-->
<!--<script type="text/javascript" src="/client/static/form.js"></script>-->
<!--{% endifequal %}-->
</body>
</html>