{% load client_version %}
<!DOCTYPE html>
<html class="main">
<head>
    <meta charset="UTF-8">
    <title>ERDS</title>
</head>

<body class="component-loading-effect">

<script>
    window.config = {{window_config|safe}}
</script>

<div id="aside"></div>
<div id="header"></div>
<div id="content"></div>
<div id="calendar"></div>

<div class="component-loading-cover"></div>

<div class="component-loading-box">
    <div class ="dot1"></div>
    <div class ="dot2"></div>
    <div class ="dot3"></div>
    <div class ="dot4"></div>
    <div class ="dot5"></div>
</div>


{% ifequal window_type 'develop'%}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/main.js"></script>
{% else %}
<link rel="stylesheet" href=" {{ "/client/static/css/vendors.css"|version }}">
<link rel="stylesheet" href=" {{ "/client/static/css/main.css"|version }}">
<script type="text/javascript" src=" {{ "/client/static/vendors.js"|version }}"></script>
<script type="text/javascript" src=" {{ "/client/static/main.js"|version }}"></script>
{% endifequal %}

</body>
</html>
