{% load client_version %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ERDS注册</title>
</head>

<body>

<div id="register-page"></div>



{% ifequal window_type 'develop'%}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/register.js"></script>
{% else %}
<link rel="stylesheet" href=" {{ "/client/static/css/vendors.css"|version }}">
<link rel="stylesheet" href=" {{ "/client/static/css/register.css"|version }}">
<script type="text/javascript" src=" {{ "/client/static/vendors.js"|version }}"></script>
<script type="text/javascript" src=" {{ "/client/static/register.js"|version }}"></script>
{% endifequal %}

</body>
</html>