<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ERDS</title>
</head>

<body>

<script>

    window.config = {

    }

</script>



<div id="workflow-create">
    <div class="workflow-wrapper">
        <div id="draw">发起工作流</div>
        <div class="workflow-container">
            <div class="workflow-main">
                <div class="workflow-header" id="workflow-header"></div>
                <div id="workflow-content">
                    <div class="workflow-form">workflow-formworkflow-formworkflow-formworkflow-formworkflow-form</div>
                    <div class="workflow-foot">
                    <div class="workflow-box flex flex-start">
                        <div class="workflow-box-l">
                            <div class="tit">
                                <span>关注人</span>
                                <i></i>
                            </div>
                        </div>
                        <div class="workflow-box-r">
                            <div class="content">
                                <div class="add-follow">添加关注人</div>
                                <div class="follow-name-list">
                                    <span>管理员——</span>
                                    <span>陆洋</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="workflow-box flex flex-start">
                        <div class="workflow-box-l">
                            <div class="tit">
                                <span>工作流程</span>
                                <i></i>
                            </div>
                        </div>

                        <div class="workflow-box-r">
                            <div id="drowflow"></div>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% ifequal window_type 'develop'%}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/workflow.js"></script>
{% else %}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/workflow.js"></script>
<!--<link rel="stylesheet" href="/client/static/css/vendors.css">
<link rel="stylesheet" href="/client/static/css/workflow.css">
<script type="text/javascript" src="/client/static/vendors.js"></script>
<script type="text/javascript" src="/client/static/workflow.js"></script>-->

{% endifequal %}
</body>
</html>