.auto-select-component {
    position: relative;
    background-color: #fff;
    //height: 30px;
    input.auto-select-text {
        width: 100%;
        border: 1px solid #ddd;
        height: 30px;
        line-height: 30px;
        padding: 0;
        outline: none;
        text-indent: 10px;
        box-sizing: border-box;
        z-index: 100;
    }
    .list {
        border: 1px solid #ddd;
        overflow: auto;
        margin-top: -1px;
        &.popup {
            position: absolute;
            width: 100%;
            height: 300px;
            background-color: #fff;
            left: 0;
            top: calc(100% - 1px);
            display: none;
            z-index: 101;
            box-sizing: border-box;
        }
        ul {
            user-select: none;
            overflow: auto;
            box-sizing: border-box;
            background-color: #fff;
            height: calc(100% - 30px);
            li {
                height: 30px;
                line-height: 30px;
                cursor: pointer;

                &:hover {
                    background: #ddd;
                }

                .custom-checkbox {
                    display: block;
                    cursor: pointer;
                    width: 100%;
                    height: 30px;
                    input.checkbox {
                        vertical-align: top;
                        margin: 9px 0 0 8px;
                        &:before {

                        }
                        &:after {

                        }
                    }
                    span {
                        margin: 0!important;
                        padding-left: 8px;
                    }
                }
            }
        }
        .select-all {
            height: 30px;
            background-color: #FAFAFA;
            overflow: hidden;
            a {
                background-color: #0088ff;
                color: #fff;
                display: block;
                width: 40px;
                line-height: 22px;
                margin: 4px 10px;
                cursor: pointer;
                float: left;
                font-size: 12px;
                text-align: center;
                border-radius: 3px;
            }
        }
    }
    .choosed {
        font-size: 0;
        padding-bottom: 5px;
        .item {
            display: inline-block;
            background-color: #ccc;
            color: #fff;
            height: 20px;
            line-height: 20px;
            padding: 0 5px;
            margin: 5px 5px 0 0;
            font-size: 12px;
            cursor: pointer;
        }
    }
    &.single-select {
        .choosed {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}