<div class="auto-select-component">
    <input class="result" readonly="readonly" placeholder="{{placeholder}}">
    <div class="triangle"></div>
    <div class="list">
        <div class="auto-select-text-wrap">
            <input class="auto-select-text" type="text" placeholder="选择或者输入查找" />
        </div>
        <ul class="auto-select-ul">
            {{#each list}}
            <li class="match-visible" data-id="'{{id}}'" data-name="'{{name}}'" data-py="'{{py}}'">
                <label class="custom-checkbox clearfix">
                    <input type="checkbox" class="checkbox" name="" data-id="'{{id}}'" value="'{{id}}'" data-name="'{{name}}'"/>
                    <span title="{{name}}">{{name}}</span>
                </label>
            </li>
            {{/each}}
        </ul>
        <div class="select-all">
            <a>全选</a>
            已选<span>0</span>项
        </div>
    </div>

</div>