
.J_select-container{
    .J_tip{
        width: 300px;
        height: 30px;
        padding-left: 10px;
    }
}
.select-icon{
    display: inline-block;
    height: 28px;
    text-align: center;
    line-height: 28px;
    width: 30px;
    font-size: 20px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    cursor: pointer;
    .fa{
    }
}
.select-comp{
    .select-tree{
        position: absolute;
        top: 30px;
        left: 0;
        width: 300px;
        z-index: 2;
        background: #fff;
        padding: 2px 3px;
        height: 500px;
        overflow-y: scroll;
        display: none;
        .select-head{
            width: 100%;
            height: 30px;
            input{
                width: 100%;
                height: 100%;
                border: 1px solid gray;
                border-radius: 5px;
            }
        }
        .select-content{
            width: 100%;
            .tree-list{
                padding-left: 10px;

            }
        }
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
}

.tree-list{
    li{
         font-size: 12px;
        .root{
            padding-left: 18px;
            height: 30px;
            line-height: 30px;
        }
        .child-list{
            padding-left: 36px;
            max-height: 999px;
            transition: max-height 0.5s;
        }
        .child-item{
            height: 30px;
            line-height: 30px;
        }
        .child-hide{
            max-height: 0;
            overflow: hidden;
        }
    }
}