
.component-select-comp {
    .J_tip {
        width: 300px;
        height: 25px;
        line-height: 25px;
        padding-left: 10px;
        cursor: pointer;
        .select-Workflow {
            color: rgba(153, 153, 153, 1);
        }
    }
    .select-tree {
        position: absolute;
        left: 0;
        width: 300px;
        z-index: 2;
        background: #fff;
        padding-right: 2px;
        height: 500px;
        overflow-y: hidden;
        display: none;
        .select-head {
            width: 100%;
            height: 30px;
            margin-bottom: 3px;
            position: sticky;
            top: 0;
            z-index: 100;
            input {
                width: 100%;
                height: 100%;
                border: 1px solid #e7e7e7;
                border-radius: 5px;
            }
        }
        .select-content {
            width: 100%;
            height: 100%;
            overflow: scroll;
            padding-bottom: 30px;
            .tree-list {
                padding-left: 10px;

            }
        }
    }
    #tree-list{
        .show {
            display: block;
        }
        .hide {
            display: none;
        }
    }
}

.tree-list {
    .workflow-icon-box{
        margin: 0 5px 0 -16px;
    }
    li {
        font-size: 12px;
        .name-label{
            height: 100%;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .root {
            padding-left: 18px;
            height: 30px;
            line-height: 30px;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .child-list {
            padding-left: 36px;
            max-height: 9999px;
            transition: max-height 0.5s;
        }
        .child-item {
            height: 30px;
            line-height: 30px;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;

        }
        .child-hide {
            max-height: 0;
            overflow: hidden;
        }
    }
}