.group-container {
    width: 100%;
    height: 100%;
    font-size: 14px;
    position: absolute;
    .group-search {
        width: 100%;
        height: 60px;
        .group-search-title {
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            border-bottom: 1px solid #D7D7D7;
            .icon-l {
                display: block;
                width: 14px;
                height: 14px;
                position: absolute;
                top: 8px;
                left: 10px;
            }
            .text {
                margin-left: 30px;
            }
            .closeGroup {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 4px;
                right: 10px;
            }
            .closeGroup:hover {
                cursor: pointer;
            }
        }
        .input-box {
            padding: 5px;
            input{
                width: calc(100% - 2px);
            }
        }
    }
  .group-data {
      width: calc(100% - 10px);
      height: calc(100% - 100px);
      overflow-y: hidden;
      padding: 5px;
      .group-data-title{
          padding:7px;
          width: calc(100% - 14px);
          font-size: 12px;
          border: 1px solid #e4e4e4;
          border-bottom: none;
      }
      .group-data-list {
          height: calc(50% - 45px);
          overflow-y: auto;
          //border-bottom: 1px solid #fff;
          width: calc(100% - 10px);
          border: 1px solid #e4e4e4;
          padding: 5px;
          margin-bottom: 16px;
          .group-data-item {
              background-color: #ecf9ff;
              border: 1px solid #caeeff;
              padding:7px;
              width: calc(100% - 15px);
              cursor: move;
              margin-bottom: 5px;
              position: relative;
              .group-data-item-select {
                  display: none;
                  right: 5px;
                  position: absolute;
                  width: 70px;
              }
          }
      }
      .group-data-list::-webkit-scrollbar {
          width: 4px;
          height: 6px;
      }
      .group-data-list::-webkit-scrollbar-thumb {
          border-radius: 5px;
          -webkit-box-shadow: inset 0 0 5px rgba(14, 122, 239, 0.290196);
          background: rgba(14, 122, 239,0.2);
      }
      .group-data-list::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 5px rgba(14, 122, 239, 0.290196);
          border-radius: 0;
          background: rgba(14, 122, 239,0.1);
      }
      .grouping-data-title {
          padding:7px;
          width: calc(100% - 14px);
          font-size: 12px;
          border: 1px solid #e4e4e4;
          border-bottom: none;
          .resetGroup{
              float: right;
              color: #999999;
              cursor: pointer;
          }
      }
      .grouping-data-list {
          height: calc(50% - 45px);
          overflow-y: auto;
          //border-bottom: 1px solid #fff;
          width: calc(100% - 10px);
          border: 1px solid #e4e4e4;
          padding: 5px;
          .group-data-item {
              background-color: #ecf9ff;
              border: 1px solid #caeeff;
              padding:7px;
              width: calc(100% - 15px);
              cursor: move;
              margin-bottom: 5px;
              position: relative;
              .group-data-item-select {
                  display: none;
                  right: 5px;
                  position: absolute;
                  width: 70px;
              }
          }
      }
  }
}