.system-message {
    .bar {
        height: 40px;
    }
    .grid {
        height: 700px;
        position: relative;
    }
    .pagination {
        height: 30px;
    }
}

.component-msg-detail {
    text-align: center;
    h3 {
        padding-bottom: 20px;
        font-size: 16px;
        color: #333;
        padding: 20px;
    }
    .text {
        line-height: 22px;
    }
}