.system-message {
    padding: 10px 10px 0 10px;
    .grid {
        height: 485px;
        width: 1175px;
        position: relative;
        //margin: 10px 0 10px 0;
        border: double #e4e4e4;
        .ag-body-viewport{
            .grid-cell-info{
                &.already-read-icon{
                    color: #31fc38;
                }
                &.not-read-icon{
                    color:red;
                }
            }
        }
    }
    .pagination {
        height: 40px;
        clear: none;
        margin-top: 5px;
        //.p-left select,.p-left > span:nth-child(1),.p-left > span:nth-child(3){
        //   display: none;
        //}
        div.p-page-con{
            float: left;
            height: 40px;
        }
        div.selectPage-con{
            margin-left: 30px;
            float: left;
        }
    }
    .bar {
        height: 30px;
        float: right;
        margin-right: 20px;
        margin-top: 10px;
        .markRead,.batchApprove,.batchDelete{
            width: 60px;
            height: 24px;
            border-radius: 3px;
            background-color: #0088ff;
            color: white;
            margin: 3px 0 0 10px;
            outline: none;
            border: none;
            padding: 1px;
            cursor: pointer;
        }
    }
}

.component-msg-detail {
    text-align: center;
    h3 {
        padding-bottom: 20px;
        font-size: 16px;
        color: #333;
        padding: 20px;
    }
    .text {
        line-height: 22px;
    }
}