<div class="system-message">
    <!--<div class="tool-bar">-->
        <!--<a class="float-search-btn" href="javascript:;" title="筛选">-->
            <!--<span class="select">筛选</span>-->
            <!--<i class="icon-aggrid icon-aggrid-filter"></i>-->
        <!--</a>-->
    <!--</div>-->
    <div class="grid"></div>
    <div class="bar">
        <button class="markRead">标为已读</button>
        <button class="batchApprove">批量审批</button>
        <button class="batchDelete">删除</button>
    </div>
    <div class="pagination clearfix"></div>
</div>