@mixin msg-show {
    position: relative;
    .form-label {
        position: absolute;
        border: none;
        left: 45px;
        span {
            position: absolute;
            top: -22px;
            left: 31px;
            min-width: 100px;
            background: none;
            color: #666;
        }
        .error-msg {
            position: absolute;
            top: 35px;
            left: 35px;
            min-width: 100px;
        }
    }
}

.form-group-chart {
    .remove-y-btn {
        position: absolute;
        right: 5px;
        top: -20px;
        color: red;
        text-decoration: none;
        font-size: 12px;
        i {
            vertical-align: middle;
        }
    }
    .form-chart-autocomplete {
        @include msg-show;
    }
    .form-chart-select {
        @include msg-show;
        .form-label {
            span {
                top: 0;
            }
        }
    }
    .form-chart-checkbox {
        @include msg-show;
        .form-label {
            span {
                display: none;
            }
            .error-msg {
                top: -2px;
                //left: -31px;
            }
        }
    }
    .form-chart-radio {
        @include msg-show;
        .form-label {
            span {
                top: -28px;
            }
        }
        label {
            border: none !important;
            background: none !important;
            margin: 0 !important;
            padding: 0 !important;
        }

    }
}