@mixin msg-show {
    position: relative;
    .form-label {
        position: absolute;
        border: none;
        left: 0;
        span {
            position: absolute;
            top: -22px;
            left: 3px;
            min-width: 100px;
            background: none;
            color: #666;
        }
        .error-msg {
            position: absolute;
            top: 35px;
            left: 10px;
            min-width: 100px;
        }
    }
}

@mixin div-equal {
    display: inline-block;
    width: 33.3%;
    margin-top: 20px;
}

.form-chart-multi-chart {
    .form-group-chart {
        position: relative;
        margin-bottom: 20px;
        > div {
            @include div-equal;
        }
        > div:last-child {
            width: 100%;
        }
        > div:nth-last-child(2) {
            margin-top: 0;
            padding-right: 66.7%;
        }
        .form-chart-radio {
            label {
                margin: 8px;
                border: 1px solid #e4e4e4;
                padding: 10px 24px;
                background: #F2F2F2;
            }
        }
    }
}

//行级模式下
.countColumn-width {
    .form-group-chart {
        > div:nth-last-child(2) {
            margin-left: 33.3%;
            padding-right: 0;
        }
    }
}

.form-group-chart {
    .remove-y-btn {
        position: absolute;
        right: 5px;
        top: -20px;
        color: red;
        text-decoration: none;
        font-size: 12px;
        i {
            vertical-align: middle;
        }
    }
    .form-chart-autocomplete {
        @include msg-show;
    }
    .form-chart-select {
        @include msg-show;
        .form-label {
            span {
                top: 0;
            }
        }
    }
    .form-chart-checkbox {
        @include msg-show;
        .form-label {
            span {
                display: none;
            }
            .error-msg {
                top: -6px;
            }
        }
    }
    .form-chart-radio {
        @include msg-show;
        .form-label {
            span {
                top: -28px;
            }
        }
        label {
            border: none !important;
            background: none !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}