
$tr-fontSize: 12px;
.left-calendar-box-top{
  text-align: center;margin-bottom: 10px;font-size: 14px;
}
.left-calendar-table{
  .td-span{font-size: $tr-fontSize !important;vertical-align:middle;cursor: pointer;margin: 2px !important;text-align: center;width: 30px;font-size: 12px;}
  td{font-size: $tr-fontSize !important;vertical-align:middle;cursor: pointer;margin: 2px !important;text-align: center;width: 30px;font-size: 12px;}
  tr{line-height: 28px !important;}
  .next-month-day,.last-month-day{color: rgb(165, 153, 175);}
  .now-month-day:hover,.last-month-day:hover,.next-month-day:hover{background-color:#12d8dd; border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;}
  #now-day{border-radius: 50% !important;-moz-border-radius: 50%;-webkit-border-radius: 50%;background-color: #9BD9DD}
  .now-pitch-on{background-color:#12d8dd !important; border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;}
}


