body.ink-blue{
    #tool-bar {
        background-color: #293846;
        .icon {
            &.active {
                background-color: #304253;
            }
        }
        .erds-logo {
            color: #0088FF;
            background-color: #243340;
        }
    }
    .s-uinfo{
        background-color: #304253;
    }
}