<div class="form-cell form-setting-textarea">
    <div class="wrap">
        <div class="content">
            {{#if unvisible}}
                <p class="info">权限受限</p>
            {{else if be_control_condition}}
                <p class="info">被修改条件限制</p>
            {{else}}
                <textarea disabled class="ui-width"></textarea>
                <input type="button" value="设置" class="button">
            <div>
                {{#if required}}
                <span id="requiredLogo" class="{{requiredClass}}"></span>
                {{/if}}
                <a href="javascript:void(0);" class="ui-history icon-history form-icon visible"  style="vertical-align: middle;position: relative; top: -2px;" title="修改历史"></a>
                {{/if}}
            </div>
        </div>
    </div>
</div>