<div class='dialog-container'>
    <div class='msg'>
        <div class='msg-border'>
            <span class="lab">请输入视图切换轮播时间（单位/秒）：</span>
            <input class="carousel-time" type="number" min="2" value="{{this.data.carousel}}">
            <p class="error-tip-1">字段不能为空</p>
        </div>
    </div>
    <div class='msg'>
        <div class='msg-border'>
            <span class="lab">请输入页面无任何操作轮播时间（单位/秒）：</span>
            <input class='operate-time' type='number' min="1" value="{{this.data.operate}}">
            <p class="error-tip-2">字段不能为空</p>
        </div>
    </div>
    <div class='btns'>
        <button class='ok'><span>确定</span></button>
        <button class='cancel'><span>取消</span></button>
    </div>
</div>