.normal-date-range {
    width: 100%;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    .normal-date-options {
        float: left;
        label {
            border: 1px solid #E6E8E8;
            border-radius: 4px;
            cursor: pointer;
            color: #A4A3A8;
            padding: 4px 12px;
            box-sizing: border-box;
        }
        > span {
            color: #474343;
            margin-right: 8px;
            font-weight: bold;
            font-size: 14px;
        }
        .option-active {
            background-color: #018AFF;
            border: 1px solid #018AFF;
            color: #FFFFFF;
        }
        .custom-radio {
            display: none;
        }
        .option-disabled {
            cursor: not-allowed;
        }
    }
    .normal-date-time {
        float: right;
        margin-right: 40px;
        span {
            font-weight: bold;
            margin: 0 4px;
            color: #686668;
        }
        input {
            border: 1px solid #d4d4d4;;
            width: 115px;
            padding: 4px 12px;
            &::-webkit-inner-spin-button {
                visibility: hidden;
            }
        }
        .search-custom-btn {
            position: relative;
            top: 3px;
        }
    }
}