.comment, .editor {
  width: 100%;
  height: 100%;
  overflow: auto;
  img {
    max-width: 100%;
  }
}

.editor{
  display: none;
  overflow: hidden;
  .quill {
    height: calc(100% - 80px);
    overflow: auto;
  }
  .save-rich{
    padding-top:8px;
    text-align: right;
  }
}
