<div class="attachment-list">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>附件名称</th>
            <th>附件操作</th>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
        <tr id="{{this.file_id}}">
            <td>{{ this.file_name }}</td>
            <td id="{{this.file_id}}">
                {{#if this.isPreview}}
                {{#if this.isImg}}
                <a style="color:#1789FC;" class="ui-href pre" data-id="{{this.file_id}}" href="javascript:;">预览</a>
                {{else}}
                <a  class="preview-url" style="color:#1789FC;" class="ui-href" target="_blank">预览</a>
                {{/if}}
                {{else}}
                    <a style="color: grey;" class="ui-href pre">预览</a>
                {{/if}}
                <a class="download-url" style="color: #1789FC;">下载</a>
                <a style="color: #1789FC;" class="del" data-id="{{this.file_id}}" href="javascript:void(0);">删除</a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>