<div id="app-workflow">
    <div class="workflow-wrapper">
        <div class="workflow-container">
            <div class="workflow-main" style="position:relative;top:0">
                <!--<a href="#workflowDown" class="down">↓</a>-->
                <div  id="print" class="printBtn"> <i class="workflow-icon-box workflow-icon-print"></i> 打印 </div>
                <div class="workflow-foot  J_hide J_lc">
                    <div class="workflow-box flex flex-column flex-start">
                        <div class="workflow-box-l flex">
                            <div class="tit">
                                <i class="workflow-icon-box workflow-icon-edit"></i>
                                <span>选择流程</span>
                            </div>
                        </div>
                        <div class="workflow-box-l flex">
                            <div class="tit" id="wf-select-box">
                                <select id="wf-select" class="workflow-icon-select"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="workflow-form" id="workflow-form">
                    
                </div>
                <div class="workflow-foot J_hide">
                    <div class="workflow-box" id="add-home">
                            <div class="flex flex-column flex-start">
                                    <div class="workflow-box-l flex">
                                        <div class="tit">
                                            <i class="workflow-icon-box workflow-icon-follow"></i>
                                            <span>关注人</span>
                                        </div>
                                        <div class="add-follow flex" id="addFollower"><span class="workflow-icon-box workflow-icon-add add-icon"></span><span>添加关注人</span></div>
                                    </div>
                                    <div class="workflow-box-r">
                                        <div class="content">
                                            <div class="follow-name-list" id="addFollowerList">
                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="workflow-box flex flex-column flex-start" id="flow-node">
                        <div class="workflow-box-l flex">
                            <div class="tit">
                                <i class="workflow-icon-box workflow-icon-node"></i>
                                <span>节点流程</span>
                            </div>
                            <div class="workflow-look flex">
                                <div class="previewBtn"  id="zoomIn">
                                    <i class="workflow-icon-box workflow-icon-scale2"></i>
                                </div>
                                <div class="previewBtn" id="zoomOut">
                                    <i class="workflow-icon-box workflow-icon-scale1"></i>
                                </div>
                                <div class="previewBtn" id="newWin">
                                    <i class="workflow-icon-box workflow-icon-full"></i>
                                </div>
                                <div class="previewBtn flex" id="togglePic">
                                    <i class="workflow-icon-box workflow-icon-switch"></i>
                                    <div class="togglePic-text">节点图</div>
                                </div>
                            </div>
                        </div>

                        <div class="workflow-box-r">
                            <div id="drawflow"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="workflow-flex">
                <div name="submit" id="subAddworkflow">提交</div>
                <div name="submit" id="toEdit">转到编辑</div>
            </div>
        </div>
    </div>
</div>
<div id="workflowDown" name="workflowDown"></div>

