#add-wf-body{
    font-size: 12px;
    overflow-y: scroll;
}
#add-wf{
    div,span,a{
        box-sizing: border-box;
    }
    #app-workflow{
        .workflow,#flow-node{
            margin-bottom: 30px;
        }
    }
}
#app-workflow {
    .workflow-foot .workflow-box{
        width: 100%;
    }
    .workflow-flex{
        display: flex;
        position: fixed;
        bottom: 0px;
        width: 100%;
        justify-content: flex-end;
        background: #fff;
        div{
            background: #0088ff;
            width: 91px;
            height: 30px;
            text-align: center;
            border-radius: 4px;
            box-shadow: none;
            color: #fff;
            margin-right: 9px;
            line-height: 30px;
            cursor: pointer;
        }
    }
    .printBtn {
        background: #fff;
        position: absolute;
        right: 14px;
        height: 25px;
        top: 22px;
        width: 52px;
        line-height: 16px;
        margin-left: 5px;
        cursor: pointer;
        & > i {
            display: inline-block;
            float: left;
            margin-right: 5px;
        }
    }
    .down{
        position: absolute;
        top: 15px;
        right: 88px;
        z-index: 1;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 50%;
        text-decoration: none;
    }
    #toEdit{
        display: none;
    }
    .selectSpan{
        margin-right: 15px;
    }
    #addFollower{
        cursor: pointer;
    }
    #addFollowerList{
        line-height: 20px;
    }
}
    