#add-wf-body{
    font-size: 12px;
    overflow-y: scroll;
}
#add-wf{
    height: 100%;
    div,span,a{
        box-sizing: border-box;
    }
    .group-panel,.custom-columns-panel {
        div{
            box-sizing: content-box!important;
        }
    }
    #app-workflow{
        .workflow,#flow-node{
            margin-bottom: 30px;
        }
    }
    .hide{
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    #workflow-title{
        height: 47px;
    }
}
#app-workflow {
    .workflow-foot .workflow-box{
        width: 100%;
    }
    .workflow-flex{
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: flex-end;
        background: #f2f2f2;
        z-index: 1;
        padding-top: 12px;
        div{
            background: #0088ff;
            width: 91px;
            height: 30px;
            text-align: center;
            border-radius: 4px;
            box-shadow: none;
            color: #fff;
            margin-right: 35px;
            line-height: 30px;
            cursor: pointer;
            position: relative;
            top: -5px;
        }
    }
    .addPrint{
        margin-top: 1px;
        margin-right: 28px;
    }
    .down{
        position: absolute;
        top: 15px;
        right: 88px;
        z-index: 1;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 50%;
        text-decoration: none;
    }
    #toEdit{
        display: none;
    }
    .selectSpan{
        margin-right: 15px;
    }
    #addFollower{
        cursor: pointer;
    }
    #addFollowerList{
        line-height: 20px;
    }
    #wf-select-box{
        width: auto;
        position: relative;
        #wf-select{
            cursor: pointer;
            border: 1px solid #d7d7d7;
            text-indent: 0;
            color: #666666;
            font-size: 12px;
            height: 30px;
            outline: none;
            box-shadow: none;
            -webkit-appearance:none;
            position: relative;
            padding:0 15px 0 5px;
        }
        //&:after{
        //    content: '';
        //    position: absolute;
        //    width: 0;
        //    height: 0;
        //    border-left: 5px solid transparent;
        //    border-right: 5px solid transparent;
        //    border-top: 5px solid #000;
        //    right: 18px;
        //    top: 50%;
        //    transform: translateY(-50%);
        //}
    }

}
