.form-chart-multi-chart {
    .form-group-chart {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        padding: 0 20px 30px;
        div {
            display: flex;
            flex-grow: 1;
        }
        div:last-child {
            width: 100%;
        }
        .remove-y-btn {
            position: absolute;
            right: 5px;
            bottom: 0;
            color: red;
            text-decoration: none;
            font-size: 14px;
        }
        .form-chart-radio{
            label{
                margin: 8px;
                border: 1px solid #e4e4e4;
                padding: 10px 24px;
                background: #F2F2F2;
            }
        }
    }
}
