<div class="calendar-setting">
    <div class="calendar-setting-items">
        <div class="calendar-setting-items-title">
            <div class="search">
                <input class="setting-search" type="text" value="搜索">
            </div>
        </div>
        <div class="setting-content">

        </div>
    </div>
    <div class="calendar-setting-item">
        <div class="calendar-setting-item-title">
            <span>设置</span>
        </div>
        <div class="calendar-setting-item-content">

        </div>
    </div>
</div>
