@import "../calendar";
.calendar-setting {
    margin: 5px;
    border: 1px solid #C1CACA;
    height:90%;
    padding: 5px;
    width:calc(100% - 18px);
    .calendar-setting-items {
        display: inline-block;
        height: 99%;
        width: 200px;
        float: left;
        border: 1px solid #C1CACA;
        position: relative;
        .calendar-setting-items-title{
            border: 1px solid #C1CACA;
            padding: 5px;
            background-color:#f2f2f2;
            .search {
                display: inline-block;
                background-color: white;
                border: 1px solid $boder-color;
                line-height: 16px;
                border-radius: 4px;
                text-align: center;
                vertical-align: middle;
                .setting-search {
                    width:135px;
                    border: none;
                    height: 16px;
                    padding: 4px;
                }
                .search-con{
                    position: relative;
                    top: 5px;
                }

            }
            .hide-con{
                float: right;
                position: relative;
                top: 5px;
            }
        }
        .header {
            padding: 5px;
            background: $bg-color;
            span {
                line-height: 28px;
            }
            .title {
                display: inline-block;
            }
            .tool {
                display: inline-block;
                float: right;
            }
        }
    }
    .setting-content{
        height:95%;
        width: 100%;
        overflow: scroll;
    }
    .calendar-setting-item{
        height: 99%;
        float: left;
        border: 1px solid #C1CACA;
        overflow: hidden;
        margin-left: 6px;
        width:calc(100% - 220px);
        display: inline-block;
        .calendar-setting-item-title{
            border: 1px solid #C1CACA;
            padding: 5px;
            background-color:#f2f2f2;
            line-height: 25px;
            text-align: left;
        }
    }
}
