<div class="calendar-setting">
    <div class="calendar-setting-items">
        <div class="calendar-setting-items-title">
            <div class="search">
                <input class="setting-search" />
                <span class="search-con"><img src="../../../assets/images/calendar/calendar-search.png"></span>
            </div>
            <span class="hide-con">
                <img src="../../../assets/images/calendar/calendar-hide.png">
            </span>
        </div>
        <div class="setting-content">

        </div>
    </div>
    <div class="calendar-setting-item">
        <div class="calendar-setting-item-title">
            设置
            <span class="form-title"></span>
        </div>
        <div class="calendar-setting-item-content">

        </div>
    </div>
</div>
