@import "../calendar";
.calendar-setting {
    font-size: 12px;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 10px;
    box-sizing: border-box;
    .calendar-setting-items {
        display: inline-block;
        height: 100%;
        width: 200px;
        float: left;
        position: relative;
        border: 1px solid $boder-color;
        &.hide-menu {
            width: 30px;
        }
        .calendar-setting-items-title{
            border-bottom: 1px solid $boder-color;
            padding: 3px;
            height: 26px;
            background-color:#f2f2f2;
            .search {
                width: 85%;
                display: inline-block;
                background-color: white;
                border: 1px solid $boder-color;
                line-height: 16px;
                text-align: center;
                vertical-align: middle;
                .setting-search {
                    width: 80%;
                    border: none;
                    height: 16px;
                    padding: 4px;
                    outline: none;
                }
                .search-con{
                    display: inline-block;
                    vertical-align: middle;
                }
                &.hide-search {
                    display: none;
                }

            }
            .hide-con{
                position: absolute;
                display: inline-block;
                img {
                    padding: 5px;
                }
            }
        }
        .header {
            padding: 5px;
            background: $bg-color;
            span {
                line-height: 28px;
            }
            .title {
                display: inline-block;
            }
            .tool {
                display: inline-block;
                float: right;
            }
        }
        .setting-content{
            height: calc(100% - 33px);
            width: 100%;
            overflow: auto;
            &.hide {
                visibility: hidden;
            }
        }

    }

    .calendar-setting-item{
        height: 100%;
        float: left;
        border: 1px solid $boder-color;
        overflow: hidden;
        margin-left: 6px;
        width:calc(100% - 210px);
        display: inline-block;
        &.hide {
            width: calc(100% - 40px);
        }
        .calendar-setting-item-title{
            border-bottom: 1px solid $boder-color;
            padding: 5px;
            background-color:#f2f2f2;
            text-align: left;
            line-height: 22px;
        }
        .calendar-setting-item-content{
            height: calc(100% - 33px);
        }
    }
}


/*

@import "../calendar";
.calendar-setting {
    margin: 5px;
    border: 1px solid #C1CACA;
    height:90%;
    padding: 5px;
    width:calc(100% - 18px);
    .calendar-setting-items {
        display: inline-block;
        height: 99%;
        width: 200px;
        float: left;
        border: 1px solid #C1CACA;
        position: relative;
        .calendar-setting-items-title{
            border: 1px solid #C1CACA;
            padding: 5px;
            background-color:#f2f2f2;
            height: 35px;
            .search {
                display: inline-block;
                background-color: white;
                border: 1px solid $boder-color;
                line-height: 16px;
                border-radius: 4px;
                text-align: center;
                vertical-align: middle;
                .setting-search {
                    width:135px;
                    border: none;
                    height: 16px;
                    padding: 4px;
                }
                .search-con{
                    position: relative;
                    top: 2px;
                }

            }
            .hide-con{
                float: right;
                position: relative;
                top: 5px;
            }
        }
        .header {
            padding: 5px;
            background: $bg-color;
            span {
                line-height: 28px;
            }
            .title {
                display: inline-block;
            }
            .tool {
                display: inline-block;
                float: right;
            }
        }
    }
    .setting-content{
        height:95%;
        width: 100%;
        overflow: scroll;
    }
    .calendar-setting-item{
        height: 99%;
        float: left;
        border: 1px solid #C1CACA;
        overflow: hidden;
        margin-left: 6px;
        width:calc(100% - 220px);
        display: inline-block;
        .calendar-setting-item-title{
            border: 1px solid #C1CACA;
            padding: 5px;
            background-color:#f2f2f2;
            line-height: 25px;
            text-align: left;
        }
        .calendar-setting-item-content{
            height:100%;
        }
    }
}
*/
