.form-rich-editor {
    .editor {
        height: 300px;
    }
    .ql-snow{
        background: white;
    }
    .ql-toolbar.ql-snow .ql-formats {
        margin-right: 0;
        background: white;
    }
    .ql-snow .ql-formats {
        float: left;
    }
}