<div class="form-rich-editor form-cell">
    <div class="wrap">
        <div class="content">
            {{#if unvisible}}
                <p class="info">权限受限</p>
            {{else if be_control_condition}}
                <p class="info">被修改条件限制</p>
            {{else}}
                <div class="toolbar"></div>
                <div class="editor"></div>
            {{/if}}
            <div style="float: left">
                {{#if required}}
                <span id="requiredLogo" class="{{requiredClass}}"></span>
                {{/if}}
            </div>
        </div>
    </div>
</div>