<div class="form-control">
    {{#if unvisible}}
        <a href="javascript:void(0);" class="info">权限受限</a>
    {{else if be_control_condition}}
        <a href="javascript:void(0);" class="info">被修改条件限制</a>
    {{else}}
        {{#if is_special}}
            {{#unless reset}}
                <div id="oneSelect"></div>
                <div id="moreSelect"></div>
                <div style="display: none" id="noneSelect"></div>
            {{/unless}}
        {{else}}
            <div id="multi-select"></div>
        {{/if}}
        <div style="float: left;">
            {{#if required}}
                <span id="requiredLogo" class="required" ></span>
            {{/if}}
            {{#if history}}
                <a href="javascript:void(0);" class="ui-history"></a>
            {{/if}}
        </div>
        {{#if is_view}}
        {{else if can_add_item}}
            <a href="javascript:void(0);" class="add-item noprint"> + </a>
        {{/if}}
    {{/if}}
</div>