<div class="form-control">
    {{#if unvisible}}
        <a href="javascript:void(0);" class="info">权限受限</a>
    {{else if be_control_condition}}
        <a href="javascript:void(0);" class="info">被修改条件限制</a>
    {{else}}
        {{#if is_special}}
            {{#unless reset}}
                <div id="oneSelect"></div>
                <div id="moreSelect"></div>
                <div style="display: none" id="noneSelect"></div>
            {{/unless}}
        {{else}}
            <div id="multi-select"></div>
        {{/if}}
    <div style="min-width: 110px;">
        {{#if required}}
        <span id="requiredLogo" class="required" style="position: relative; top: 5px" ></span>
        {{/if}}
        <a href="javascript:void(0);" class="add-item noprint visible" style="visibility: hidden;" title="添加新选项"> + </a>
        <a href="javascript:void(0);" class="ui-history icon-history form-icon visible" style="position: relative; top: 5px;" title="修改历史"></a>
    </div>

    {{/if}}
</div>