#add-wf *{
    box-sizing: border-box;
}
#app-workflow {
    .workflow-foot .workflow-box{
        width: 100%;
    }
    .workflow-flex{
        display: flex;
        position: absolute;
        bottom: 10px;
        right: 20px;
        div{
            background: #0088ff;
            width: 91px;
            height: 30px;
            text-align: center;
            border-radius: 4px;
            box-shadow: none;
            color: #fff;
            margin-right: 5px;
            line-height: 30px;
            cursor: pointer;
        }
    }
    .icon-workflow-icon11 {
        background: url(../../assets/images/workflow/workflow-icon.png) no-repeat;
        display: block;
        background-position: 0px -26px;
        width: 16px;
        height: 16px;
    }
    .printBtn {
        background: #fff;
        position: absolute;
        right: 14px;
        height: 25px;
        top: 22px;
        width: 52px;
        line-height: 16px;
        margin-left: 5px;
        cursor: pointer;
        & > i {
            display: inline-block;
            float: left;
            margin-right: 5px;
        }
    }
    
}
    