

<div id="app-workflow">
    <div class="workflow-wrapper">
        <div class="workflow-container">
            <div class="workflow-main">
                <div id="workflow-seal" style="width: 50px;height: 50px;"></div>
                <div id="approval-header">
                </div>
                <div class="workflow-form" id="workflow-form"></div>
                <div class="" id="workflow-record">审批记录</div>

                <div class="workflow-foot">
                    <div class="workflow-box" id="add-follow"></div>
                    <div class="workflow-box flex flex-start">
                        <div class="workflow-box-l">
                            <div class="tit">
                                <span>工作流程</span>
                                <i></i>
                            </div>
                        </div>

                        <div class="workflow-box-r">
                            <div id="drowflow"></div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>