btn-div{
  height: 30px;
  background: #159951;
  text-align: center;
  padding: 0 10px;
  line-height: 30px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
}
#approval-workflow{
  position: relative;
  #wf-btn-box{
    position: fixed;
    bottom: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .left{
    display: flex;
    div{
      @extend btn-div;
    }
  }
  .right{
    display: flex;
    div{
      @extend btn-div;
    }
  }
}
body{
  overflow-y:hidden;
}
#app-workflow{
  height: 100%;
  .workflow-wrapper{
    height: 100%;
    .workflow-container{
      height: 100%;
      position: absolute;
      left: 0;
      top: 60px;
      right: 0;
      bottom: 0;
      padding: 0;
    }
  }
}
.workflow-container{
  .approval-bar-f {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-width: 980px;
    color: #000;
    font-size: 14px;
    z-index: 10;
    .approval-bar {
      background: rgba(14, 122, 239,0.4);
      height: 30px;
      margin: 0 10px;
      padding: 0 10px;
    }
  }
  ::-webkit-scrollbar{
    width: 5px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgba(187, 220, 255, 1);
  }
  ::-webkit-scrollbar-track{
    background-color: rgba(240, 247, 255, 1);
  }
}
#app-workflow{
  .workflow-main{
    position: absolute;
    width: 100%;
    padding: 10px;
    height: 100%;
    overflow: auto;
    top:30px;
  }
  #approval-header{

    #approval-info{

    }
  }

}
#app-workflow{
  .workflow-record,.workflow-foot {
    .workflow-box {
      background: #fff;
      margin-bottom: 10px;
      padding: 10px;
      .workflow-box-l {
        padding: 5px 0;
        width: 100px;
        flex-shrink: 0;
        text-align: center;
      }
      .workflow-box-r {
        flex-grow: 1;
        padding: 5px 20px;
        border-left: 1px solid rgb(201, 227, 255);
        width: 100%;
        overflow-x: auto;
        .approve-textarea{
          width: 100%;
          height: 66px;
          border: 1px solid #f2dede;
          textarea{
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            resize: none;

          }
        }
      }
    }
  }
}


