<div id="dialog-confirm" title="Empty the recycle bin?" style="display: none"></div>
<div id="workflow-create">
    <div class="workflow-wrapper">
        <div class="workflow-container">
            <div class="workflow-main">
                <div class="workflow-header" id="workflow-header"></div>
                <div id="workflow-content">
                    <div class="workflow-btn">
                        <div class="divBtn">
                            <div id="singleFlow">单项工作流</div>
                            <div id="multiFlow">批量工作流</div>
                        </div>
                    </div>
                    <div class="workflow-form" id="workflow-form"></div>
                    <div class="workflow-form" id="workflow-grid"></div>
                    <div class="workflow-foot">
                        <div class="workflow-box" id="add-follow"></div>
                        <div class="workflow-box flex flex-start">
                            <div class="workflow-box-l">
                                <div class="tit">
                                    <span>工作流程</span>
                                    <i></i>
                                </div>
                            </div>

                            <div class="workflow-box-r">
                                <div id="drawflow"></div>
                            </div>
                        </div>
                    </div>
                    <button id="submit" class="ui-button ui-widget ui-corner-all">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>