#component-workflow{
    font-size: 12px;
    #container1{
        width: 100%;
        height: 100px;
        position: relative;
    }
    #btns{
        position: absolute;
        left: 0;
        top: 0;
    }
}