

    #container1{
        width: 100%;
        height: 100px;
        position: relative;
    }
    #btns{
        position: absolute;
        left: 0;
        top: 0;}

.flex{
    display: flex;
    align-items: center;
}
.flex.flex-column {
    flex-direction: column;
}
.flex.flex-start{

    align-items: flex-start;
}
.flex.flex-between{

    justify-content: space-between;
}
.flex.flex-wrap{
    flex-wrap: wrap;
}

.flex-item {
    flex-grow: 1;
    flex-shrink: 0;
}
.workflow-wrapper{
    width: 100%;
    position: relative;
    .workflow-container{
        padding: 10px;
        background: rgb(235,235,235);

    }
}
#draw{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgb(255,84,0);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0,0.2);
    color: #fff;
}
.workflow-header{
    background: #fff;
    height: 52px;
    margin-bottom: 10px;
    .tit{
        width: 100px;
        text-align: center;
    }
    .workflow-sel{
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        padding-left: 5px;
    }
    .set-comm-btn{
        margin-left: 10px;
        line-height: 28px;
        top: 10px;
        background-color: #fff;
        color: rgb(14, 122, 239);
        font-size: 12px;
    }
}
.workflow-form{
    height: 600px;
    background: #fff;
    margin-bottom: 10px;
}
.workflow-foot{
    .workflow-box{
        background: #fff;
        margin-bottom: 10px;
        padding: 10px;

    }
}