.nav-tabs {
    a {
        text-decoration: none;
        padding: 0 25px;
        display: inline-block;
        outline: none;
        line-height: 50px;
        height: 100%;
        box-sizing: border-box;
        color: #666666;
        border-bottom: 2px solid transparent;
        position: relative;
        &.active {
            border-bottom-color: #0088FF;
            color: #0088FF;
        }
        i{
            vertical-align: middle;
            margin-right: 2px;
        }
    }
}