.workflow-form{
  height: auto;
  background: #fff;
  margin-bottom: 10px;
  .divBtn{
    display: flex;
    div{
      width: 80px;
      text-align: center;
      line-height: 30px;
      height: 30px;
      background: #117DED;
      color: #fff;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  .collapseFormDiv{
    height:30px;
    .collapseFormBtn{
      height:30px;
      line-height: 30px;
      width:30px;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      background: #ccc;
      cursor: pointer;
      outline: none;
      border: none;
    }

  }
  .place-form{
    height: 200px;
  }
  .show{
    display: block;
  }
  .hide{
    display: none;
  }
}
#submit{
  position: fixed;
  right: 50px;
  bottom: 50px;
}