<div>
    <div class="collapseFormDiv">
        <button class="collapseFormBtn">+</button>
    </div>
    <div class="place-form show" id="place-form">
        我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
         我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
          我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
           我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
            我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
             我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX 我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
              我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
               我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
                我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX 我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
                 我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX我是表单BOX
    </div>
</div>
