.workflow-form{
  height: auto;
  background: #fff;
  margin-bottom: 10px;
  .collapseFormDiv{
    height:40px;
    padding-left: 10px;
    border-bottom:1px solid rgba(228,228,228,1);
    justify-content: space-between;
    .collapseFormBtn{
      cursor: pointer;
      margin-right: 10px;
    }
    .wf-icon{
      margin-right: 10px;
    }
    .wfName{
      font-weight: bold;
    }
  }
  .place-form{
    position: relative;
    padding: 20px 10px;
  }
  .show{
    display: block;
  }

}
#submit,#startNew{

}
#startNew{
  display: none;
}
