<div>
    <div class="collapseFormDiv flex">
        <div class="flex">
            <span class="workflow-icon icon-workflow-tabel wf-icon"></span>
            <span class="J_wfName wfName">表名</span>
        </div>
        <div  id="print" class="access flex">
            <div id="miniFormBtn" class="miniFormBtn"><i class="workflow-icon-box workflow-icon-miniForm-hover"></i>表单最小化</div>
            <div id="newfj" class="newfj"><i class="workflow-icon-box workflow-icon-attachment"></i>附件</div>
            <div id="printBtn" class="printBtn"><i class="workflow-icon-box workflow-icon-print"></i> 打印</div>
            <span class="collapseFormBtn workflow-icon-box workflow-icon-tridown"></span>

        </div>
    </div>
    <div class="place-form show" id="place-form">

    </div>
    <!-- <div class="cloneImgdiv" style="position: absolute;width: 100%;height: 100%;top:0;left: 0;"></div>-->
</div>
