.workflow-form{
  height: auto;
  background: #fff;
  margin-bottom: 10px;
  .collapseFormDiv{
    height:30px;
    padding-left: 10px;
    margin-top: 10px;
    .collapseFormBtn{
      height:30px;
      line-height: 30px;
      width:30px;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      background: #ccc;
      cursor: pointer;
      outline: none;
      border: none;
    }

  }
  .place-form{
    position: relative;
    padding: 20px 10px;
  }
  .show{
    display: block;
  }

}
#submit{
  position: fixed;
  right: 50px;
  bottom: 50px;
}

