@import "../../calendar";
.week-table {
    height: 100%;
    width: 100%;
    border-top: 1px solid $boder-color;
    border-left: 1px solid $boder-color;
    thead {

    }
    .week-body {
        height: 100%;
    }
}