@import "../../../calendar";
tr {
    display: block;
    height: 100%;
    border-top: 1px solid $boder-color;
    //.grid-content {
    //    .task-list {
    //        max-height: 110px;
    //        overflow: auto
    //    }
    //}

}
