.workflow-content{
  padding: 1px 0px 2px 5px;
  position: relative;
  top: -20px;
  z-index: 3;
  font-size: 13px;
  max-width: 180px;
  max-height: 20px;
  overflow: hidden;
  cursor: pointer;
  word-break:keep-all;/* 不换行 */
  white-space:nowrap;/* 不换行 */
}
.workflow-schedule{
  height:25px;
background-color: #5cc3d2}
#circle {
  width: 10px;
  height: 10px;
  background: blue;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block !important;
}