
.component-post-message {
    margin: 20px;
    border-top: 1px solid #e4e4e4;
    .section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #e4e4e4;
        .label-out {
            width: 200px;
            display: block;
            text-align: center;
            color: #666;
        }
        .inputs {
            background-color: #FAFAFA;
            flex-grow: 1;
            display: flex;
            padding: 5px 10px;
            color: #666;
            .text {
                height: 30px;
                width: 260px;
                border: 1px solid #e4e4e4;
                margin: 0;
                box-sizing: border-box;
                outline: none;
                text-indent: 5px;
            }
            textarea {
                height: 90px;
                width: 662px;
                border: 1px solid #e4e4e4;
                margin: 0;
                box-sizing: border-box;
                outline: none;
                padding: 5px;
            }
            .tree {
                width: 350px;
                height: 210px;
                overflow: auto;
                border: 1px solid #e4e4e4;
                margin-right: 10px;
            }
            .users {
                height: 212px;
                overflow: auto;
                border-top: 1px solid #ddd;
                .result,.triangle{
                    display:none
                }
            }
            .custom-radio {
                width: auto;
                height: 30px;
                line-height: 30px;
                float: left;
                margin-right: 10px;
                input {
                    margin-top: 8px;
                    float: left;
                    margin-right: 5px;
                }
            }
        }
        &.prepare-time {
            display: none;

            input[type=datetime-local] {
                border: 1px solid #e4e4e4;
                height: 30px;
                box-sizing: border-box;
                width: 150px;
                line-height: 30px;
                color: #666;
                outline: none;
                float: left;
                &::-webkit-inner-spin-button {
                    margin-top: 5px;
                }
            }
            p {
                line-height: 30px;
                float: left;
                margin: 0 5px 0 20px;
            }
        }
    }
    .oper {
        .submit {
            float: right;
            height: 30px;
            border: 0 none;
            background-color: #0088ff;
            border-radius: 5px;
            color: #fff;
            margin: 20px 0 0;
            width: 100px;
            cursor: pointer;
        }
    }
}