#myGrid {
    //隐藏提示框
    .ag-overlay-no-rows-center {
        border-color: transparent !important;
        background-color: transparent !important;
    }
    //去掉宽度改变时候的滚动条
    .ag-bl {
        overflow-x: hidden;
    }

    //footer
    .ag-floating-bottom-container {
        .ag-cell-no-focus {
            border-right: 1px solid #FFFFFF;
            border-left: none;
        }
        .ag-cell-value {
            padding: 0 8px;
            line-height: 30px;
            font-size: 12px;
        }
        .ag-cell-focus {
            border: none;
        }
        .ag-cell {
            background: #f0f0f0!important;
        }
    }

    .ag-header {
        border-top: 1px solid rgba(228, 228, 228, 1);
        border-bottom: 1px solid rgba(228, 228, 228, 1) !important;
        background: #F2F2F2 !important;
        color: #333!important;
        .ag-header-cell {
            cursor: pointer;
            border-right: 1px solid rgba(228, 228, 228, 1) !important;
            //padding: 0px 8px;
            .floatingFilter-box {
                padding: 5px 10px 0px 10px;
                .component-time-control {
                    div:first-child{
                        top: -2px;
                    }
                }
                .dynamic-form-input{
                    //width: calc(100% - 20px);
                    height: 15px;
                    line-height: 20px;
                    color: rgb(85, 85, 85);
                    border: 1px solid rgb(228, 228, 228);
                    margin-bottom: 5px;
                    border-radius: 2px;
                    text-indent: 5px;
                }
            }
        }
        //解决宽度自适应出现...
        .ag-header-cell-label {
            text-overflow: clip;
            overflow: hidden;
            font-size: 12px;
            line-height: 30px;
            padding: 0px;
        }
        .ag-grid-number {
            position: relative;
        }
        .ag-header-row:first-child {
            z-index: 1;
        }

        .ag-header-group-cell {
            border-right: 1px solid rgba(228, 228, 228, 1);
            .ag-header-cell-resize {
                width: 0px;
            }
            .ag-header-group-cell-label {
                text-align: center;
                font-size: 12px;
                line-height: 24px;
            }
            .ag-header-group-cell-label:hover {
                cursor: pointer;
            }
        }

        .resetFloatingFilter {
            display: block;
            margin: auto;
            position: absolute;
            top: 35px;
            left: 13px;
        }
        .resetFloatingFilter {
            cursor: pointer;
        }
        /*grid初始化按钮*/
        .table-init-logo {
            color: rgb(51, 122, 183);
            cursor: pointer;
            line-height: 27px;
            font-size: 12px;
        }

        .table-init-logo:hover {
            color: rgb(195, 195, 195);
            cursor: pointer;
            text-decoration: none;
        }
    }

    .ag-header-container {
        .ag-header-row {
            border-bottom: 1px solid #E4E4E4;
        }
    }

    .ag-bootstrap .ag-ltr .ag-header-group-cell-label {
        text-align: center;
        border-right: 1px solid #E4E4E4;
        padding: 0;
        height: 100%;
        .ag-header-group-text {
            line-height: 30px;
        }
    }

    .ag-body {
        .ag-cell-wrapper {
            display: block;
            margin: -5px 5px;
        }
        .ui-link {
            color: #0088ff;
            text-decoration: none;
        }
        .ui-link:hover {
            cursor: pointer;
        }
        .ag-row {
            border-bottom: 1px solid rgba(228, 228, 228, 1);
            .ag-group-cell {
                font-style: normal;
            }
            .ag-cell-not-inline-editing {
                padding: 4px 0px;
            }
            .ag-cell-value {
                padding: 0px;
                line-height: 30px;
            }
            .ag-cell {
                border-right: 1px solid #E4E4E4 !important;
                font-family: 微软雅黑;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
                color: #333333;

                a {
                    &.ag-text-style {
                        text-decoration: blink;
                        color: #0097FE;
                    }
                    &.ag-text-style:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                .ag-num-right-style {
                    text-align: right;
                    display: block;
                }
                border: none;
                //background: #E4E4E4;
                .ag-cell-edit-input {
                    border: 1px solid rgb(228, 228, 228);
                    border-radius: 2px;
                    height: 20px;
                    margin: auto;
                    select {
                        border: 1px solid #d7d7d7;
                        border-radius: 3px;
                        height: 20px;
                        margin: auto;
                    }
                }
            }
            &.ag-cell-no-focus {
                border-right: 1px solid #E4E4E4 !important;
            }

        }
        .ag-row-selected {
            background-color: #97DDFF!important;
        }
    }

    .ag-bootstrap .ag-header-cell-text {
        padding-left: 2px;
        font-size: 12px;
        font-weight: 700;
        font-style: normal;
        font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
    }
    //图标
    .checkbox-uncheck {
        background-position: -26px 0px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }
    .checkbox-check {
        background-position: -26px -52px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }
    .sort-1 {
        background-position: -52px -26px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }
    .sort-2 {
        background-position: 0px -52px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }
    .group-expand {
        background-position: -78px -52px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }
    .group-close {
        background-position: -78px -26px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }
}
.ag-bootstrap .ag-cell-focus {
    outline: none;
    background-color: #E4E4E4;
}