.day-date-title {
    font-size: 12px;
    padding-left: 7px;
    line-height: 24px;
    font-weight: bold;
    height: 24px;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 1px;
    display: block;
}
#schedule-item {
    overflow: hidden;
    white-space: nowrap;
    line-height: 16px;
    margin-bottom: 1px;
    margin-right: 2px;
}
.day-schedule-list{
    position: relative;
}