.day-date-title {
    font-size: 17px;
    margin-left: 20px;
    padding-bottom: 2px;
    line-height: 24px;
}
#schedule-item {
    overflow: hidden;
    white-space: nowrap;
    line-height: 16px;
    margin-bottom: 1px;
    margin-right: 2px;
}