<div class="workflow-alertbox" id="add-comment">
    <div class="workflow-box-l">
        <div class="tit">
            <i class="workflow-icon-box workflow-icon-record2"></i>
            <span>审批意见</span>
        </div>
    </div>
    <div class="workflow-box-r">
        <div class="approve-textarea">
            <textarea id="comment"></textarea>
        </div>
    </div>
    <div class="upload-file">

    </div>
    <div class="workflow-btn">
        <button class="J_sure">确定</button>
        <button class="J_cancel">取消</button>
    </div>

</div>