.workflow-alertbox{
    height: 100%;
    .workflow-icon-record2{
        width:16px;
        height: 16px;
        display: block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsSAAALEgHS3X78AAAAU0lEQVQ4y2P8//8/AyWAiYFCwAJjMHYykOSU/+UMjCgGIAsSAsiWUc8LuGzA5XS8BhDrFfp4gZBrBt4L9I9GggYwdjL8JzsMSNXMwMDAwEhpdgYAolEcoJPZbJgAAAAASUVORK5CYII=);
    }
    .workflow-icon-attachment {
        width:16px;
        height: 16px;
        display: block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANNJREFUeNpiYKAQMBKlquN/A5C0h/I2MlQwToBJMRGheT6QrAfiB0B8AYj7gWIJxBkA0QxSvACIHwJxIxAfQHINAwsRmhOhGuKhMgpAfBC/AZiaA4A4EIjXQ1UswO0F3Jr7kTQLYDcAv2aQ0wuh8vWYBhCnuR8aG4mo6QASLfOJ1OwITAcf0F0ACuEJUAUgwyYSoxk9Fi5CFTFA/fiBkGZkF3wAu6KCEaIQkmASCWlGNgCkwQAYFrB4fgANE7yaUTNTx38DqI0OSPFdiE8zVQBAgAEApyFT6NVY+EAAAAAASUVORK5CYII=);
    }
    .workflow-box-l{
        height: 30px;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 10px;
        line-height: 30px;
        font-weight: 700;
        font-size: 14px;
        padding:0 10px;
    }
    .workflow-box-l .tit{
        display: flex;
        align-items:center;
    }
    .workflow-box-r{
        display: flex;
        justify-content: center;
        .approve-textarea{
            width: 100%;
            padding: 10px;
            .ql-toolbar {
                display: none;
            }
            .ql-editor {
                border-top: 1px solid #E4E4E4;
            }
            .editor {
                height: 150px;
            }
            .ql-snow {
                border: 1px solid #E4E4E4;
            }
            .ui-history {
                display: none;
            }
         }
    }
    .workflow-btn{
        text-align: right;
        .J_sure{
            cursor: pointer;
            width: 90px;
            height: 30px;
            background-color: #0088ff;
            border: 1px solid #0088ff;
            border-radius: 4px;
            color: #fff;
            margin-right: 8px;
            font-size:12px;
        }
        .J_cancel {
            cursor: pointer;
            width: 90px;
            height: 30px;
            background-color: #fff;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            color: #666;
            margin-right: 8px;
            font-size:12px;
        }
    }
    #comment{
        border: 1px solid #e4e4e4;
        height: 145px;
        resize: none;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    .workflow-attachment-box {
        display: flex;
        padding: 10px;
        font-size: 12px;
        height: 155px;
        margin-bottom: 10px;
        overflow: auto;
        .file-count {
            color: #1789fc;
        }
        .upload-file, .shot-screen{
            width: 65px;
            height: 24px;
            background: inherit;
            background-color: #fff;
            box-sizing: border-box;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            box-shadow: none;
            cursor: pointer;
            outline: none;
        }
        .attachment-queue-item .file-name {
            strong {
                display: inline-block;
                width: 365px;
                white-space:nowrap;
                text-overflow: ellipsis;
                overflow:hidden;
            }
        }
    }
}