@import "../../../../assets/scss/core/base";
.operation-details{
    min-width: 900px;
    .cache-detail-content{
        padding: 15px;
        display: none;
        .cache-detail-table {
            width: 100%;
            background-color: #f9f9f9;
            td{
                border:1px solid #dddddd;
                line-height: 30px;
                height: 30px;
                padding-left: 8px;
            }
            .cache-detail-title {
                width: 10%;
            }
        }
    }
    .operation-content{
        padding: 15px;
        display: none;
        .operation-table {
            width: 100%;
            background-color: #f9f9f9;
            td{
                border:1px solid #dddddd;
                line-height: 30px;
                padding: 8px;
            }

            .operation-title {
                width: 10%;
                height: 45px;
                position: relative;
                .text{
                    position: absolute;
                    top: 8px;
                }
            }
            .operation-from {
                #approval-workflow {
                    .operation-from-item{
                        span{
                            display: inline-block;
                        }
                        .operation-from-details {
                            color: #0E7AEF;
                            margin-left: 20px;
                            cursor: pointer;
                        }
                    }
                }
                #app-workflow {
                    height: 900px;

                }
            }
        }
    }
}
