@import "../../../assets/scss/core/base";
.menu {

    .search {
        background-image: url("../../../assets/images/framework/search.png");
        background-repeat: no-repeat;
        background-position: 10px 0;
        padding-bottom: 5px;
        display: block;
        border-bottom: 1px solid $aside-top-bg;
        input {
            background-color: transparent;
            display: block;
            border: 0 none;
            outline: none;
            display: block;
            color: #999;
            float: left;
            margin-left: 30px;
            width: calc(100% - 40px);
            &::-webkit-input-placeholder{
                color: #666;
            }
        }

        &.edit {
            display: none;
        }

        &.highlight{
            border-bottom: 1px solid rgb(204,204,204);
            background-image: url("../../../assets/images/framework/highlight-search.png");
        }
    }

    &.mini {
        .ui-widget.ui-widget-content {
            border: 0 none;
            background-color: transparent;
        }
        .ui-state-active {
            background-color: $aside-top-bg;
            border: 0 none;
            margin: 0;
        }
        .ui-menu .ui-menu-item-wrapper {
            padding: 3px;
        }

        .search {
            display: none;
        }
        .menu-full {
            direction: rtl;
            .root {
                overflow-x:hidden;
                overflow-y:auto;
                direction: ltr;
                li {
                    position: static;
                    z-index: 100;
                }
                > li > .menu-full-item {
                    background-color: #333;
                    .ui-menu-icon.ui-icon {
                        display: none;
                    }
                    .row {
                        padding: 12px 10px;
                        &:hover, &.current {
                            background-color: $aside-top-bg;
                        }
                        .icon {
                            float: none;
                            margin: 0 auto;
                        }
                    }
                    .name {
                        display: none;
                    }
                }
                .childlist {
                    position: fixed;
                    background-color: #f5f5f5;
                    left: 100%;

                    z-index: 101;
                    box-shadow: 4px 4px 5px #ccc;
                    &.top {
                        top:0;
                    }
                    &.bottom {
                        bottom: 0;
                    }
                    .menu-full-item {
                        border-top: 1px solid #ddd;
                        .row {
                            .icon {

                            }
                            .name {
                                line-height: 16px;
                                color: #0088ff;
                                font-size: 12px;
                            }
                            &:hover {
                                background-color: #DDDDDD;
                            }
                        }
                    }
                }
                .custom-checkbox {
                    display: none!important;
                }
            }
        }
    }
    .menu-full {
        height: 100%;
        overflow-x: auto;
        overflow-y: auto;
        user-select:none;
        .root {
            .menu-full-item {
                .row {
                    padding: 12px 0 12px 12px;
                    line-height: 16px;
                    cursor: pointer;
                    //font-size: 14px;
                    &:hover, &.current {
                        background-color: $aside-top-bg;
                    }
                    .icon {
                        width: 16px;
                        height: 16px;
                        float: left;
                        margin-right: 8px;
                        border: 0 none;
                        background-color: transparent;
                        &.lv1 {
                            background: url("../../../assets/images/framework/default_menu_icon.png");
                        }
                        &.arrow {
                            margin-right: 4px;
                        }
                    }
                    .custom-checkbox {
                        float: left;
                        margin: 0 5px 0 0;
                        display: none;
                    }
                    .name{
                        word-break: normal;
                        white-space: pre;
                        color: #999999;
                    }
                    .ui-state-active ~p{
                        color: #ccc;
                    }
                }
            }
            .childlist {
                display: none;
                .row{
                    .name{
                        color: #ccc;
                    }
                }
            }
        }
    }
}
