@import "../../../assets/scss/core/base";
.menu {


    &.mini {
        .ui-widget.ui-widget-content {
            border: 0 none;
            background-color: transparent;
        }
        .ui-state-active {
            background-color: $aside-top-bg;
            border: 0 none;
            margin: 0;
        }
        .ui-menu .ui-menu-item-wrapper {
            padding: 3px;
        }

        .search {
            display: none;
        }
        .menu-full {
            > .list {
                > li > .menu-full-item {
                    > .ui-menu-icon.ui-icon {
                        display: none;
                    }
                    > .row {
                        &:hover, &.current {
                            background-color: $aside-top-bg;
                        }
                    }
                }
            }
        }
        .menu-full {
            .list {
                .menu-full-item {
                    .row {
                        overflow: hidden;
                        padding-left: 0;
                        .icon {
                            margin: 0 auto;
                            float: none;
                        }
                        .name {
                            display: none;
                        }
                        &:hover, &.current {
                            background-color: #f5f5f5;
                        }
                    }
                }
                .list {
                    color: #666!important;
                    border: 1px solid #dddddd;
                    border-bottom: 0 none;
                    .icon {
                        display: none;
                    }
                    .row {
                        .name {
                            display: block;
                        }
                    }
                    .menu-full-item {
                        border-bottom: 1px solid #dddddd;
                        background: #FFFFFF;
                        &:hover, &.current {
                            background-color: #f5f5f5;
                            .row {
                                background-color: #f5f5f5;
                                .name {
                                    color: #0088ff;
                                }
                            }
                        }
                        .row {
                            padding: 10px 15px!important;
                            .name {
                                font-size: 12px;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
    }

    .search {
        background-image: url("../../../assets/images/search.png");
        background-repeat: no-repeat;
        background-position: 10px 0;
        padding-bottom: 5px;
        display: block;
        border-bottom: 1px solid $aside-top-bg;
        input {
            background-color: transparent;
            display: block;
            border: 0 none;
            outline: none;
            display: block;
            color: #fff;
            float: left;
            margin-left: 30px;
            width: calc(100% - 40px);
        }
    }
    .menu-full {
        height: 100%;
        user-select:none;
        .list {
            .menu-full-item {
                .row {
                    padding: 12px 0 12px 10px;
                    line-height: 14px;
                    cursor: pointer;
                    font-size: 14px;
                    &:hover, &.current {
                        background-color: $aside-top-bg;
                    }
                    .icon {
                        width: 16px;
                        height: 16px;
                        float: left;
                        margin-right: 10px;
                        border: 0 none;
                        background-color: transparent;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        &.arrow {
                            margin-right: 4px;
                        }
                    }
                    .name {
                        color: #FFFFFF;
                        font-size: 14px;
                        word-break: normal;
                        white-space: pre;
                    }
                }
            }
            .list {
                display: none;
            }
        }
    }
}
