.bi-chart-input{
  width: 100%;
  margin: 10px 0;
  position: relative;
  span{
    display: block;
    font-size: 12px;
    padding: 2px 0;
    color: #757575;
  }
  input{
    font-size: 16px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #ececec;
    padding: 10px 0;
  }
  .border-line{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    transition: all .5s;
  }
  input:focus + .border-line{
    transition: all .5s;
    animation: wid-long .5s forwards;
  }

  @keyframes  wid-long{
    0%{
      width: 0;
      background-color: #fff;
    }
    100%{
      width: 100%;
      background-color: #3b8cff;
    }
  }
}