.bi-chart-input{
  width: 100%;
  margin: 10px 0;
  span{
    display: block;
    font-size: 12px;
    padding: 2px 0;
    color: #3b8cff;
  }
  input{
    font-size: 16px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #ececec;
    padding: 10px 0;
    transition: all .5s;
  }
  input:focus{
    border-bottom-color: #3b8cff;
    animation: wid-long 1s;
  }
  @keyframes  wid-long{
    from{
      width: 0
    }
    to{
      width: 100%;
    }
  }
}