@import "../../../assets/scss/core/base";
#aside {
    &.mini {
        width: $aside-mini-width;
        .aside-wrap {
            .s-name {
                //padding: 22px 0;
                .text {
                    display: none;
                }
            }
            .s-uinfo {
                background-color: transparent;
                padding: 12px 0;
                .avatar {
                    float: none;
                    margin: 0 auto;
                    //background-image: url("../../../assets/images/framework/default_avatar_32.png");
                }
                .default-avatar{
                    background-image: url("../../../assets/images/framework/default_avatar_40.png");
                }
                .u-name, .u-role {
                    display: none;
                }
                .personal-setting {
                    display: none;
                }
                .startwrokflow {
                    width: 40px;
                    margin-top: 12px;
                    overflow: hidden;
                }

            }
            .tabs {
                display: none;
            }
        }
    }
    .aside-wrap {
        height: 100%;
        .s-name {
            //padding: 22px 10px;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            background-color: $aside-top-bg;
            .erds-logo {
                width: 60px;
                height: 60px;
                display: block;
                float: left;
                color: #0088FF;
                font-weight: bold;
                box-sizing: border-box;
                padding-top: 23px;
                text-align: center;
            }
            .text{
                box-sizing: border-box;
                //padding-left: 10px;
                width: 140px;
                height:60px;
                line-height: 25px;
                font-size: 16px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
            }
        }

        .wrap {
            height: 44px;
        }

        .s-uinfo {
            padding: 13px 14px;
            margin-top: 1px;
            background-color: $aside-top-bg;
            .avatar {
                float: left;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                overflow: hidden;
                cursor: pointer;
                margin-right: 10px;
                background-color: #FFFFFF;
                border: solid 2px #E4E4E4;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .default-avatar{
                background-image: url("../../../assets/images/framework/default_avatar_40.png");
            }
            .u-name, .u-role {
                font-size: 12px;
                color: #ccc;
                line-height: 16px;
            }
            .u-name{
                padding-top: 5px;
            }
            .logout {
                color: #0088FF;
                cursor: pointer;
                padding: 0 4px;
            }
            .personal-setting{
                float: right;
                width: 16px;
                height: 16px;
                margin-right: 10px;
                margin-top: 14px;
                cursor: pointer;
                i{
                    width: 100%;
                    height: 100%;
                    background-image: url("../../../assets/images/framework/personal-setting.png");
                    display: block;
                }
            }
            .startwrokflow {
                display: block;
                border-radius: 3px;
                cursor: pointer;
                outline: none;
                width: 197px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                border: 0 none;
                font-size: 12px;
                background-color: rgba(0, 136, 255, 1);
                margin: 12px auto 0;
                &:active {
                    background-color: rgba(0, 122, 229, 1);
                }
            }
            .uploader-button {
                display: block;
                border-radius: 3px;
                cursor: pointer;
                outline: none;
                width: 205px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                border: 0 none;
                background-color: rgba(0, 136, 255, 1);
                margin: 10px auto 0;
                &:active {
                    background-color: rgba(0, 122, 229, 1);
                }
            }
            .delete-button {
                display: block;
                border-radius: 3px;
                cursor: pointer;
                outline: none;
                width: 205px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                border: 0 none;
                background-color: rgba(0, 136, 255, 1);
                margin: 10px auto 0;
                &:active {
                    background-color: rgba(0, 122, 229, 1);
                }
            }
        }

        .tabs {
            padding: 10px 0 10px;
            position: relative;
            p {
                float: left;
                width: 110px;
                line-height: 18px;
                color: #666;
                font-size: 12px;
                cursor: pointer;
                text-align: center;
                &:first-child {
                    border-right: 1px solid #666;
                }
                &.active {
                    color: #fff;
                }
            }
            .edit {
                width: 16px;
                height: 16px;
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                background: url("../../../assets/images/framework/edit.png");
            }
        }
        .edit-model-title {
            display: none;
            padding: 10px 15px;
            line-height: 18px;
            font-size: 14px;
            color: #ccc;
            background-color: #252525;
            a {
                float: right;
                cursor: pointer;
                color: #0088ff;
            }
            border-bottom: 1px solid #444;
        }
        .menu {
            &.edit {
                background-color: #252525;
            }
            label.search > input{
                font-size: 12px;
            }
        }
    }
}

