.icon-previews-previous {
  content:url('../../../assets/images/form/icon_previous_red.png');
}
.icon-previews-previous:hover {
  content:url('../../../assets/images/form/icon_previous_white.png');
}

.icon-previews-next {
  content: url('../../../assets/images/form/icon_next_red.png');
}
.icon-previews-next:hover {
  content: url('../../../assets/images/form/icon_next_white.png');
}

.icon-previews-closeImg{
  content:url('../../../assets/images/form/icon_close_red.png');
}
.icon-previews-closeImg:hover{
  content:url("../../../assets/images/form/icon_close_white.png");
}