.component-select-group {
    .select-all {
        .calendar-select-table {
            word-break: keep-all;
            white-space: nowrap;
            padding-top: 5px;
            padding-bottom: 2px;
            .float-button-group-hide {
                display: inline-block;
                .float-button-group-show {
                    display: inline-block;
                    width: 16px;
                    height:16px;
                    box-sizing: border-box;
                    background: url("../../../../assets/images/calendar/button-hide.png");
                    margin-top: -15px;
                    cursor: pointer;
                }
            }
            .clear {
                clear: both;
            }
            .select-label-show {
                position: relative;
                bottom: 3px;
            }
        }
        .checkbox-label-content {
            position: relative;
            bottom: 1px;
        }
        .checkbox-label {
            //cursor: pointer;
            //border: 1px solid #C1CACA;
            //height: 13px;
            //width:12px;
            //padding: 1px 0px 0px 2px;
            display: inline-block;
            .unchecked {
                background-color: white !important;
                padding: 5px !important;
                border: 1px solid #C1CACA;
            }
            .chk_2 {
                display: none;
            }
            .chk_2 + label {
                cursor: pointer;
                //margin-left: 1px;
                padding: 6px;
                display: inline-block;
                position: relative;
                //border: 1px solid #C1CACA;
            }
        }
        //.chk_1 {
        //    display: none;
        //}
        //.chk_1 + label {
        //    background-color: #FFF;
        //    border: 1px solid #d7d7d7;
        //    padding: 6px;
        //    display: inline-block;
        //    position: relative;
        //    //margin-right: 5px;
        //    cursor: pointer;
        //}
        .label-select-all-show {
            display: inline-block;
            width: 16px;
            height:16px;
            box-sizing: border-box;
            background: url("../../../../assets/images/calendar/calendar-checked-false.png");
            cursor: pointer;
        }
        .label-select-all-checked {
            background: url("../../../../assets/images/calendar/calendar-checked-true.png");
        }
        //.label-select-all-checked + label:after {
        //  content: '\2714'; //勾选符号
        //  position: absolute;
        //  height: 14px;
        //  width: 13px;
        //  padding-right: 1px;
        //  top: 0px;
        //  left: 0px;
        //  color: #2398df;
        //  text-align: center;
        //  font-size: 14px;
        //}
        .float-button-group {
            width: 200px;
            height: 20px;
            margin-right: 90px;
            display: none;
            z-index: 5;
            position: absolute;
            float: right;
            .hide-span:hover {
                background-color: rgb(242, 242, 242);
            }
            .hide-span {
                box-sizing: border-box;
                width: 160px;
                display: block;
                background-color: rgba(250, 250, 250, 1);
                line-height: 30px;
                margin-left: 10px;
                padding-left: 30px;
                border: 1px solid rgba(228, 228, 228, 1);
            }
            .hide-span-function {
                .hide-right-con {
                    float: right;
                    display: inline-block;
                    margin-top: 10px;
                }
            }
            .search-function {
                box-sizing: border-box;
                display: none;
                margin-left: 160px;
                position: absolute;
                margin-top: -32px;
                z-index: 5;
                .search-function-children {
                    width: 150px;
                    display: block;
                    background-color: rgba(250, 250, 250, 1);
                    line-height: 30px;
                    margin-left: 10px;
                    padding-left: 10px;
                    border: 1px solid rgba(228, 228, 228, 1);
                }
                .search-function-children:hover {
                    background-color: rgb(242, 242, 242);
                }
            }
        }
    }
    .label-task-children {
    }
    .label-task-children {
        padding: 6px 0px 6px 10px;
        word-break: keep-all;
        white-space: nowrap;
    }
}




