.component-select-group {
    .select-all {
        .calendar-select-table {
            word-break: keep-all;
            white-space: nowrap;
            padding-top: 5px;
            padding-bottom: 2px;
            .float-button-group-hide {
                display: inline-block;
                .float-button-group-show {
                    display: inline-block;
                    cursor: pointer;
                }
            }
            .clear {
                clear: both;
            }
            .select-label-show {
                position: relative;
                cursor: pointer;
                bottom: 3px;
            }
        }
        .checkbox-label-content {
            position: relative;
            bottom: 1px;
        }
        .checkbox-label {
            display: inline-block;
            .unchecked {
                background-color: white !important;
                padding: 5px !important;
                border: 1px solid #C1CACA;
            }
            .chk_2 {
                display: none;
            }
            .chk_2 + label {
                cursor: pointer;
                padding: 6px;
                display: inline-block;
                position: relative;
            }
        }
        .label-select-all-show {
            display: inline-block;
            cursor: pointer;
        }
        .float-button-group {
            width: 200px;
            height: 20px;
            margin-right: 90px;
            display: none;
            z-index: 5;
            position: absolute;
            float: right;
            .hide-span:hover {
                background-color: rgb(242, 242, 242);
            }
            .hide-span {
                box-sizing: border-box;
                width: 160px;
                display: block;
                background-color: rgba(250, 250, 250, 1);
                line-height: 30px;
                margin-left: 10px;
                padding-left: 30px;
                border: 1px solid rgba(228, 228, 228, 1);
            }
            .hide-span-function {
                .hide-right-con {
                    float: right;
                    display: inline-block;
                    margin-top: 10px;
                }
            }
            .search-function {
                box-sizing: border-box;
                display: none;
                margin-left: 160px;
                position: absolute;
                margin-top: -32px;
                z-index: 5;
                .search-function-children {
                    width: 150px;
                    display: block;
                    background-color: rgba(250, 250, 250, 1);
                    line-height: 30px;
                    margin-left: 10px;
                    padding-left: 10px;
                    border: 1px solid rgba(228, 228, 228, 1);
                }
                .search-function-children:hover {
                    background-color: rgb(242, 242, 242);
                }
            }
        }
    }
    .label-task-children {
    }
    .label-task-children {
        padding: 6px 0px 6px 10px;
        word-break: keep-all;
        white-space: nowrap;
    }
}