.select-all{
  .float-button-group-hide{
    display: inline-block;
    .float-button-group-show{
      margin-top: -15px;
      cursor: pointer;
    }

  }
  .clear{
    clear: both;
  }
  padding-top: 5px;padding-bottom: 5px;
  .chk_1 {
    display: none;
  }
  .chk_1 + label {
    background-color: #FFF;
    border: 1px solid #C1CACA;
    padding: 6px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    cursor: pointer;
  }
  .label-select-all-checked + label:after {
    content: '\2714' !important; //勾选符号
    position: absolute !important;
    top: -2px !important;
    left: 0px !important;
    color: #2398df !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 14px !important;
    padding: 1px 0 0 0 !important;
    vertical-align: text-top !important;
  }
}
.float-button-group{
  width:100px;
  height:20px;
  margin-top: -10px;
  margin-right: 80px;
  z-index: 5555;
  position: relative;
  float: right;
  font-size: 12px !important;
  .hide-span{
    width:110px;
    display:block ;
    background-color: #e4e4e4;
    line-height: 25px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #C1CACA;
  }
  .search-function{
    display: none;
    margin-left: 50px;
    margin-top:0px;
    .search-function-children{
      width:100px;
      display:block ;
      background-color: #efefef;
      line-height: 25px;
      margin-left: 10px;
      padding-left: 10px;
      font-size: 14px;
      border: 1px solid #C1CACA;
    }
  }
}




