<div class="form-control component-buildin-control">
    {{#if unvisible}}
        <a href="javascript:void(0);" class="info">权限受限</a>
    {{else if be_control_condition}}
        <a href="javascript:void(0);" class="info">被修改条件限制</a>
    {{else}}
        <div class="dropdown" style="float: left"></div>
        <div style="min-width: 110px;">
            {{#if required}}
                <span id="requiredLogo" class="{{requiredClass}}" ></span>
            {{/if}}
            <a href="javascript:void(0);" class="ui-selector icon-xuanzeqi form-icon visible" title="选择器"></a>
            <a href="javascript:void(0);" class="add-item noprint icon-buildln form-icon visible"  title="快捷添加内置字段"> </a>
            <a href="javascript:void(0);" class="ui-history icon-history form-icon visible"  style="vertical-align: middle;" title="修改历史"></a>
        </div>
    {{/if}}
</div>