.component-buildin-control {
    .ui-selector {
        margin-left: 5px;
        vertical-align: middle;
    }
    .add-item {
        margin-left: 5px;
    }
    .icon-buildln, .ui-selector {
        display: inline-block;
    }
}