<div class="form-control component-buildin-control">
    {{#if unvisible}}
        <a href="javascript:void(0);" class="info">权限受限</a>
    {{else if be_control_condition}}
        <a href="javascript:void(0);" class="info">被修改条件限制</a>
    {{else}}
        <div class="dropdown" style="float: left"></div>
        <div style="float: left;">
            {{#if required}}
                <span id="requiredLogo" class="{{requiredClass}}" ></span>
            {{/if}}
            {{#if history}}
                <a href="javascript:void(0);" class="ui-history"  style="vertical-align: middle;"></a>
            {{/if}}
            {{#unless is_view}}
                <a href="javascript:void(0);" class="ui-selector" ></a>
                {{#if can_add_item}}
                    <a href="javascript:void(0);" class="add-item noprint icon-buildln"> </a>
                {{/if}}
            {{/unless}}
        </div>
    {{/if}}
</div>