.component-buildin-control {
    .ui-selector {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 10px;
        background: url("../../../assets/images/form/icon_xuanzeqi.png");
        vertical-align: middle;
    }
    .add-item {
        margin-left: 0;
    }
    .icon-buildln {
        background: url("../../../assets/images/form/icon-buildln.png");
        width: 16px;
        height: 16px;
        display: inline-block;
    }
}