<div class="form-control component-readonly-control">
    {{#if unvisible}}
    <p class="info">权限受限</p>
    {{else if be_control_condition}}
    <p class="info">被修改条件限制</p>
    {{else}}
    <input type="text" readonly="readonly" class='dynamic-form-input ui-readonly ui-width'  style="color: #666666;" value="{{value}}">
    <div style="float: left;">
        {{#if required}}
        <span id="requiredLogo" class="{{requiredClass}}"></span>
        {{/if}}
        <a class="countView" style="vertical-align: middle;color:#2298f4;text-decoration: none;visibility: hidden;margin-left: 10px; cursor: pointer;" >查看</a>
        <a href="javascript:void(0);" class="ui-history icon-history form-icon visible" title="修改历史"></a>
    </div>
    <span class="error">
         <div class={{error_msg}} id="error_tip" style=" display:none">
                <em class={{ui_error_arrow}}></em>
                <pre>{{ regErrorMsg }}</pre>
         </div>
    </span>
    {{/if}}
</div>