{% load client_version %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="add-follow"></div>
{% ifequal window_type 'develop'%}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/addfocus.js"></script>
{% else %}
<link rel="stylesheet" href="/client/static/css/vendors.css">
<link rel="stylesheet" href="/client/static/css/addFocus.css">
<script type="text/javascript" src="/client/static/vendors.js"></script>
<script type="text/javascript" src="/client/static/addfocus.js"></script>
{% endifequal %}
</body>
</html