{% load client_version %}
<!DOCTYPE html>
<html lang="en" style="background-color: #fff">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="approval-reject-body">

<script>


	window.config = {{window_config|safe}}

</script>

<div id="approval-reject"></div>

{% ifequal window_type 'develop'%}
<script type="text/javascript" src="http://localhost:8080/scripts/vendors.js"></script>
<script type="text/javascript" src="http://localhost:8080/scripts/approvalDialog.js"></script>
{% else %}
<link rel="stylesheet" href=" {{ "/client/static/css/vendors.css"|version }}">
<link rel="stylesheet" href=" {{ "/client/static/css/approvalDialog.css"|version }}">
<script type="text/javascript" src=" {{ "/client/static/vendors.js"|version }}"></script>
<script type="text/javascript" src=" {{ "/client/static/approvalDialog.js"|version }}"></script>
{% endifequal %}

</body>
</html>