.origin-data-wrap {
    .origin-data {
        .advanced-list {
            display:none;
            button {
                background: #3b8cff;
                border: none;
                color: #fff;
                width: 120px;
                height: 36px;
                margin: 10px 0;
                cursor: pointer;
                outline: none;
            }
        }
        .form {
            display:none;
            padding-top: 40px;
            font-size: 12px;
            li {
                margin-bottom: 20px;
                .error {
                    display:none;
                    padding-left:130px;
                    line-height: 34px;
                    color: red;
                    margin: 0;
                    font-weight: bold;
                    white-space: nowrap;
                }
                label {
                    display: block;
                    overflow: hidden;
                    span {
                        float: left;
                        width: 130px;
                        line-height: 34px;
                        text-align: center;
                        font-weight: bold;
                    }
                    .normal {
                        float: left;
                        box-sizing: border-box;
                        width: 210px;
                        height: 34px;
                        margin-right: 20px;
                        border: 1px solid #ddd;
                        text-indent: 5px;
                    }
                    b {
                        font-weight: normal;
                        vertical-align: bottom;
                        display: inline-block;
                        line-height: 34px;
                    }
                }
                .values {
                    padding-left: 130px;
                    .error{
                        clear: both;
                        padding-left:0;
                    }
                    p {
                        display: inline-block;
                        label {
                            background: #f5f5f5;
                            padding: 6px 10px;
                            margin-right: 5px;
                            cursor: pointer;
                            line-height: 20px;
                            input {
                                float: left;
                                margin-top: 4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .submit-area {
                clear: both;
                overflow: hidden;
                text-align: center;
                padding: 20px 0;
                button {
                    width: 80px;
                    height: 40px;
                    border-radius: 3px;
                    background: #eee;
                    color: #999;
                    border: 0 none;
                    letter-spacing: 2px;
                    outline: none;
                    cursor: pointer;
                    margin: 0 10px;
                }
                .submit {
                    background: #3b8cff;
                    color: #fff;
                }
            }
        }
    }
}