.ui-songrid-box {
    height: 480px;
    width: 100%;
    min-width: 1000px;
    max-height: 500px;
    border: 1px solid #ddd;
    overflow: auto;
    position: relative;
}
.songGrid{
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative
}