@mixin div-equal {
    display: inline-block;
    width: 33.3%;
    margin-top: 20px;
}

.form-chart-multi {
    .form-group {
        .form-chart-multi-chart {
            .form-group-chart {
                position: relative;
                margin-bottom: 20px;
                > div {
                    @include div-equal;
                }
                > div:last-child {
                    width: 100%;
                }
                .form-chart-radio {
                    label {
                        margin: 8px;
                        border: 1px solid #e4e4e4;
                        padding: 10px 24px;
                        background: #F2F2F2;
                    }
                }
            }
        }

    }
    h3:last-child {
        min-width: 774px;
        max-width: 1000px;
        margin: 0 auto;
        background: #f2f2f2;
        border: none;
    }
    .add-chart-btn {
        text-decoration: none;
        padding: 10px 30px 7px;
        line-height: 60px;
        background: #FFFFFF;
        cursor: pointer;
        border-radius: 6px;
        color: #666666;
        outline: none;
        font-size: 12px;
        margin-left: calc(100% - 770px);
    }
    @media screen and (max-width: 1300px) {
        .add-chart-btn {
            margin-left: 256px;
        }
    }
}
