.form-chart-multi {
    h3:last-child {
        min-width: 774px;
        max-width: 1000px;
        margin: 0 auto;
        background: #f2f2f2;
        border: none;
    }
    .add-chart-btn {
        text-decoration: none;
        padding: 10px 30px 7px;
        line-height: 60px;
        background: #FFFFFF;
        cursor: pointer;
        border-radius: 6px;
        color: #666666;
        outline: none;
        font-size: 12px;
        margin-left: calc(100% - 770px);
    }
    @media screen and (max-width: 1300px) {
        .add-chart-btn {
            margin-left: 256px;
        }
    }
    .form-group {
        .customAccuracyNum,
        .titleSize,
        .chartSize {
            .form-chart-wrapper {
                span {
                    margin-left: 16px;
                    color: #666666;
                }
                input {
                    width: 200px;
                }
            }
        }
    }
}
