
.login-by-other{
    .other-login-main{
        padding: 20px;
        .select-prompt{
            padding-left: 20px;
        }
        .user-list{
            width: 240px;
            height: 300px;
            margin-top: 20px;
            margin-left: 60px;
            box-sizing: border-box;
            overflow: hidden;
        }

        .other-login-footer{
            margin-top: 65px;
            float: right;
            .confirm-btn,.cancel-btn{
                width: 90px;
                height: 30px;
                background-color: #0088ff;
                color: #FFFFFF;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
                outline: none;
                margin-right: 10px;
            }
        }
    }
}