
#login-by-other{
    .user-list{
        width: 240px;
        height: 350px;
        margin-top: 30px;
        margin-left: 80px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .other-login-footer{
        margin-top: 50px;
        float: right;
        margin-right: 20px;
    }
}