@import "../../calendar";
.remind-wrap {
    width: calc(100% - 60px);
    margin: 30px;
    overflow: auto;
    font-size: 12px;
    border: 1px solid rgba(228, 228, 228, 1);
    border-top: 0;
    .remind-row {
        border-top: 1px solid rgba(228, 228, 228, 1);
        background-color: rgba(250, 250, 250, 1);
        .calendar-form-content {
            width: 700px;
            display: inline-block;
        }
    }
    .title {
        padding-left: 5px;
        width: 35%;
        line-height: 40px;
        vertical-align: middle;
        display: inline-block;
    }
    .remind-span, .res-form, .date-attr, .start, .end {
        box-sizing: border-box;
        background-color: #ffffff;
        border: 1px solid rgba(228, 228, 228, 1);
        vertical-align: middle;
        line-height: 30px;
        display: inline-block;
        width: 100%;
        padding: 0px 5px;
        height: 30px;
        overflow:hidden;
        text-overflow:ellipsis
    }
    .start, .end {
        width: 348px;
        height: 30px;
    }
    .detail {
        display: inline-block;
        width: 699px;
        box-sizing: border-box;
        margin: 5px 0px 5px 0px;
        border: 1px solid rgba(228, 228, 228, 1);
        border-top: 0;
        .detail-calendar-form-content {
            display: inline-block;
            width: 420px;
        }
    }
}
