<div class="tool-bar">
    <div class="datepick">
        <span>17/7/27</span>
    </div>
    <div class="date-btns">
        <button class="btn">月</button>
        <button class="btn">周</button>
        <button class="btn">日</button>
    </div>
    <div class="date-btns">
        <a href="#">
            <span class="icon"></span>
        </a>
        <a href="#">
            <span class="icon"></span>
            <span>刷新</span>
        </a>
        <a href="#">
            <span class="icon"></span>
            <span>日程</span>
        </a>
        <a href="#">
            <span class="icon"></span>
            <span>导出</span>
        </a>
    </div>
    <div class="tools-right">
        <span class="count">提醒：0</span>
        <span class="count">审批：0</span>
        <span class="count">任务：0</span>
        <input type="text">
        <button>搜索</button>
    </div>
</div>
<div class="calendar-main-content">
    <div class="month">

    </div>
    <div class="week">

    </div>
    <div class="today">

    </div>
</div>
