<div class="tool-bar">

    <div class="datepick">
        <!--<span>pre</span>-->
        <!--<span id="selected-date">{{chooseDate}}</span>-->
        <!--<span>next</span>-->
        <span class="ui-icon ui-icon-triangle-1-w pre-date"></span>
        <span class="nowDate"></span>
        <span class="ui-icon ui-icon-triangle-1-e next-date"></span>
    </div>
    <div class="date-btns">
        <span class="btn-change" id="monthView">月</span>
        <span class="btn-change" id="weekView">周</span>
        <span class="btn-change" id="dayView">日</span>
        <span class="btn" id="todayView">今</span>
        <span class="btn" id="refresh"><span class="update-icon"></span>刷新</span>
        <span class="btn" id="schedule"><span class="icon"></span>日程</span>
        <span class="btn" id="export"><span class="icon"></span>导出</span>
    </div>
    <div class="tools-right">
        <span class="count">提醒：0</span>
        <span class="count">审批：0</span>
        <input class="search-input" type="text">
        <span class="search-btn">搜索</span>
    </div>
</div>
<div class="calendar-main-content">

</div>
