.tool-bar {
    //border-bottom: 1px solid #ddd;
    div {
        display: inline-block;
        line-height: 48px;
    }
    .datepick {
        padding: 0px 20px;
        .pre-date, .next-date {
            cursor: pointer;
        }
    }
    .date-btns {
        .btn-change {
            display: inline-block;
            line-height: 28px;
            padding: 0px 28px;
            border: 1px solid #4892FC;
            border-radius: 5px;
            margin-right: 15px;
            cursor: pointer;
            &:hover {
                background: #4892FC;
                color: #fff;
            }
        }
        .btn {
            margin-right: 15px;
            cursor: pointer;
        }
    }
    .tools-right {
        float: right;
        padding-right: 10px;
        .count {
            margin-right: 20px;
        }
        .search-input {
            height: 22px;
        }
        .search-btn {
            display: inline-block;
            line-height: 28px;
            padding: 0px 20px;
            background: #4892FC;
            color: #fff;
            margin-top: 1px;
            cursor: pointer;
        }
    }
}
.calendar-main-content {
    height: calc(100%);
}