.multi-select {
  position: relative;
  width: 90%;
  .head-select {
    position: relative;
    width: 90%;
    .select-content {
      width: 100%;
      border-radius: 5px;
      height: 23px;
    }
    .select-ui-con {
      position: absolute;
      right: 0px;
      top: 10px;
    }
  }
  .select-multi-content {
    display: none;
    width: 220px;
    z-index: 1024;
    position: relative;
    top: 5px;
    border-radius: 5px;
    border: 1px solid #D5D5D5;
    background: #ffffff;
    color: #222222;
    .search-content {
      display: inline-block;
      overflow: auto;
      padding: 3px;
      background-color: #ddd;
      position: relative;
      .chk_1 {
        display: none;
      }
      .chk_1 + label {
        background-color: #FFF;
        border: 1px solid #C1CACA;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 8px;
        border-radius: 5px;
        display: inline-block;
        position: relative;

      }
      .chk_1 + label:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
      }
      label {
        font-size: 17px;
      }
      .checkbox_all_checked + label:after {
        content: '\2714'; //勾选符号
        position: absolute;
        top: 0px;
        left: 0px;
        color: #2398df;
        width: 100%;
        text-align: center;
        padding: 1px 0 0 0;
        vertical-align: text-top;
      }
      .select-search-content {
        width: 65%;
        border-radius: 5px;
        height: 15px;
        padding: 1px 1px 1px 25px
      }
      .search-ui-con {
        position: absolute;
        left: 30px;
        top: 10px;
      }
      .close-ui-con {
        position: relative;
        right: 0px;
      }
    }
    .search-data {
      .search-items {
        margin-top: 10px;
        .search-item {
          text-align: left;
          line-height: 26px;
          .search-content-item {
            margin-left: 5px;
            font-size: 12px;
            font-weight: 900;
            margin-left: 10px;
            font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
            display: inline-block;
            position: relative;
            .chk_1 {
              display: none;
            }
            .chk_1 + label {
              background-color: #FFF;
              border: 1px solid #C1CACA;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
              padding: 8px;
              border-radius: 5px;
              display: inline-block;
              position: relative;

            }
            .chk_1 + label + label {
              margin-left: 8px;
            }
            .chk_1 + label:active {
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
            }
            .checkbox_all_checked + label:after {
              content: '\2714'; //勾选符号
              position: absolute;
              top: -5px;
              left: 0px;
              color: #2398df;
              width: 100%;
              text-align: center;
              padding: 1px 0 0 0;
              vertical-align: text-top;
            }
          }
        }
        .search-item:hover {
          background-color: #ddd;
        }
      }
    }
  }
}