.icon-toolbar{
    width: 32px;
    height: 32px;
    display: inline-block;
}
.icon-toolbar-message {
    background: url("../../images/guojin/ink-blue/ink-blue-message.png") no-repeat;
}
.icon-toolbar-workbench {
    background: url("../../images/guojin/ink-blue/ink-blue-workbench.png") no-repeat;
}
.icon-toolbar-calendar {
    background: url("../../images/guojin/ink-blue/ink-blue-calendar.png") no-repeat;
}
.icon-toolbar-folder {
    background: url("../../images/guojin/ink-blue/ink-blue-folder.png") no-repeat;
}
.icon-toolbar-setting {
    background: url("../../images/guojin/ink-blue/ink-blue-setting.png") no-repeat;
}