.icon-toolbar{
    width: 32px;
    height: 32px;
    display: block;
}
.icon-toolbar-message {
    background: url("../../images/guojin/orange-message.png") no-repeat;
    &:hover {
        background: url("../../images/guojin/orange-message-hover.png") no-repeat;
    }
}
.icon-toolbar-workbench {
    background: url("../../images/guojin/workbench.png") no-repeat;
}
.icon-toolbar-calendar {
    background: url("../../images/guojin/calendar.png") no-repeat;
}
.icon-toolbar-folder {
    background: url("../../images/guojin/folder.png") no-repeat;
}
.icon-toolbar-setting {
    background: url("../../images/guojin/setting.png") no-repeat;
}