.item-content-1,.item-content-2,.item-content-3{width: 200px;height: 220px;}
.item-title-1,.item-title-2,.item-title-3{border-bottom: 1px solid #a4aaae;border-top: 1px solid #a4aaae;width: 200px;height: 22px;padding: 6px 0px 3px 0px;background-color:#4892FC;}
.cate-hide-icon{margin-left: 180px;margin-top: -12px;}
.cate-hide-title{padding-top: 0px;margin-left: 30px;padding-left: 10px;border-left: 3px solid #205cdc;}