.item-title-1,.item-title-2,.item-title-3
{
  border-bottom: 1px solid #a4aaae;border-top: 1px solid #a4aaae;width: 100%;height: 22px;padding: 6px 0px 3px 0px;background-color:#4892FC;
}
.item-content-1,.item-content-2,.item-content-3
{
  width: 100%;height:44%;
}
