@import "../../../../../app/assets/scss/core/base";

html.main, html.main body {
    width: 100%;
    height: 100%;
    min-width: $body-minwidth;
    min-height: $body-minheight;
    background-color: $main-bg;
    position: relative;
}

#header {
    position: absolute;
    left: $aside-width+$toolbar-width;
    right: 0;
    top: 0;
    height: $header-height;
    background-color: $header-bg;
}

#tool-bar {
    position: absolute;
    width: $toolbar-width;
    height: 100%;
}

#aside {
    position: absolute;
    left: $toolbar-width;
    top: 0;
    width: $aside-width;
    bottom: 0;
    background-color: $aside-bg;
}

#content {
    position: absolute;
    background-color: $content-bg;
    right: 0;
    top: $header-height;
    bottom: 0;
    left: $aside-width+$toolbar-width;
    iframe {
        width: 100%;
        height: 100%;
    }
}

