<div class="follower-select">
        <div class="flex">
            <div id="treeMulti" class="flexItem"></div>
            <div class="flexItem">
                <div class="flex">
                    <div class="w33"><input id="allSelector" type="checkbox" name="" value="" ></div>
                    <div class="w33">中文名</div>
                    <div class="w33">用户名</div>
                </div>
                <div id="staffMulti"></div>
            </div>
            <div class="flexItem" id="selected"></div>
        </div>
        <div id="saveFollower" class="ui-button ui-widget ui-corner-all">保存</div>
    </div>