
<div class="addConter">
        <div class="addCont">
            <div class="addContDiv">
                <span id="ui-id-12" class="ui-dialog-title">添加关注人</span>
                <button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
                    <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
                    <span class="ui-button-icon-space"> </span>Close
                </button>
            </div>
            <div class="follower-select">
                    <div class="flex">
                        <div id="treeMulti" class="flexItem"></div>
                        <div class="flexItem">
                            <div class="flex">
                                <div class="w33"><input id="allSelector" type="checkbox" name="" value="" checked></div>
                                <div class="w33">中文名</div>
                                <div class="w33">用户名</div>
                            </div>
                            <div id="staffMulti"></div>
                        </div>
                        <div class="flexItem" id="selected"></div>
                    </div>
                    <div id="saveFollower" class="ui-button ui-widget ui-corner-all">保存</div>
                    <!-- <div id="" class="ui-button ui-widget ui-corner-all close">关闭</div> -->
                </div>
        </div>
        <div class="ui-widget-overlay ui-front" style="z-index: 100;"></div>
    </div>
    
