<div class="flex flex-start">
    <div class="workflow-box-l">
        <div class="tit">
            <span>关注人</span>
            <i></i>
        </div>
    </div>
    <div class="workflow-box-r">
        <div class="content">
            <div class="add-follow" id="addFollower">添加关注人</div>
            <div class="follow-name-list">
                <span>管理员——</span>
                <span>陆洋</span>
            </div>
        </div>
    </div>
    <div id="follower-select">
        <div class="flex">
            <div id="treeMulti"></div>
            <div id=""></div>
            <div id=""></div>
        </div>
        <span class="close">X</span>
    </div>
</div>