@import "../../../assets/scss/core/base";

#content {

    &.mini {
        left: $aside-mini-width;
    }

    .iframe-component {
        height: 100%;
        .tabs {
            height: 30px;
            overflow: hidden;
            color: #999;
            font-size: 12px;
            background-image: linear-gradient(rgba(228, 228, 228, 1) 1px, transparent 0);
            background-color: $header-bg;
            background-size: 30px 30px;
            background-position: 0 29px;
            .item {
                line-height: 29px;
                float: left;
                cursor: pointer;
                position: relative;
                padding: 0 30px 0 15px;
                border-right: 1px solid rgba(228, 228, 228, 1);
                border-top: 1px solid rgba(228, 228, 228, 1);
                border-bottom: 0 none;
                &.focus {
                    background: #fff;
                    color: #333;
                    border-color: rgba(228, 228, 228, 1);
                }
                .close {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    right: 5px;
                    top: 4px;
                    background: url("../../../assets/images/framework/close.png") no-repeat center;
                }
            }
        }
        .iframes {
            width: 100%;
            height: calc(100% - 30px);
            .item {
                height: 100%;
                overflow: hidden;
                iframe {
                    height: 100%;
                    overflow: hidden;
                }
            }
        }
        //.use-favorite{
        //    width: 30px;
        //    height: 30px;
        //    float: right;
        //    background: url("../../../assets/images/framework/personal-setting.png") no-repeat center;
        //
        //}
        
    }
}
