<div class="iframe-component">
    <!--<div class="use-favorite"></div>-->
    <!--<div class="add-favorite"></div>-->

    <div class="tabs clearfix">
        <div class="view-save-group" >
            <div class="view-save" title="视图管理">
                <i class="view-icon"></i>
            </div>
            <div class="view-save-component"></div>
        </div>
        <div class="view-popup">
            <div class="popup-btn" title="标签管理">
                <i class="popup-icon"></i>
            </div>
            <div class="tab-list">
                <!--<div class="list-top">-->
                    <ul class="basic-ul">
                        <li><i class="drop-up-icon" title="收起"></i></li>
                        <li class="close-tab">关闭标签</li>
                        <li class="close-all-tabs">关闭全部标签</li>
                        <li class="close-other-tabs">关闭其他标签</li>
                    </ul>
                    <ul class="tabs-ul"></ul>
                <!--</div>-->
                <!--<div class="list-bottom"></div>-->
            </div>
        </div>
    </div>
    <div class="iframes"></div>
    <div class="pre-loading-iframes"></div>
</div>
