@import "../calendar.set";
.singleRow {
    width: 100%;
    .table-item-checkbox{
        width:100px !important;
    }
    .set-table-item{
        border-top: 1px solid #C1CACA;
        padding: 10px 0px;
        width: 138px;
        min-width: 30px;
        text-align: center;
        line-height: 30px;
        margin: 0px !important;
        select {
            width: 85%;
            height: 26px;
        }
    }
    .multi-select-item{
        width:300px !important;
    }
    .set-remind-method {
        cursor: pointer;
    }
    .preview-text {
        width: 148px;
        word-break: break-all;
        word-wrap: break-word;
    }
}