
.singleRow {
    width: 100%;
    display: block;
    float: left;
    border-bottom: 1px solid #E4E4E4;
    .table-item-checkbox{
    }
    .set-table-item{
        padding: 10px 0px;
        width: 9%;
        min-width: 30px;
        text-align: center;
        line-height: 30px;
        float: left;
        select {
            width: calc(100% - 10px);
            margin: 0px 5px;
            cursor:pointer ;
            height: 30px;
            border: 1px solid #ddd;
        }
        .z-checkbox{
            vertical-align: middle;
            font-weight: lighter;
            overflow: visible;
            .z-checkbox-input{
                bottom: 6px;
                right: 2px;
                &::before {
                    width: 14px;
                    height: 14px;
                }
                &::after {
                    left: 3px;
                    top: 3px;
                    width: 10px;
                    height: 10px;
                }
            }
        }
        .set-color {
            cursor: pointer;
            vertical-align: middle;
        }
    }
    .single-select-item{
        width: calc(12% - 10px);
        margin: 0px 5px;
        .popup {
            ul{
                li {
                    list-style-type: none;
                    label{
                        text-align: left;
                    }
                }
            }
        }
    }
    .multi-select-item{
        width:calc(16% - 10px);
        margin: 0px 5px;
        .popup {
            ul{
                li {
                    list-style-type: none;
                    label{
                        text-align: left;
                    }
                }
            }
        }
    }
    .set-remind-method {
        cursor: pointer;
        background: #ffffff;
        color: #0088FF;
    }
    .preview-text {
        word-break: break-all;
        word-wrap: break-word;
    }
    .unclick{
        cursor:not-allowed !important;
    }

}
