@import "../calendar.set";
.singleRow {
    width: 100%;
    .set-table-item{
        border-top: 1px solid #C1CACA;
        padding: 10px 0px;
        width: calc(9.5%);
        min-width: 90px;
        text-align: center;
        line-height: 30px;
        margin: 0px !important;
        select {
            width: 85%;
            height: 26px;
            border-radius: 5px;
        }
    }
}