<tr class="singleRow">
    <td colspan="1" style="width: calc(100%/18 *1 - 2px)">
        <input type="checkbox" disabled class="editor-items">
    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 2px)">
        <input type="checkbox" class="editor-items" disabled>
    </td>
    <td colspan="2" style="width: calc(100%/18 *2 - 2px)" class="promoting-msg">

    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 2px)">
        <input class="set-color editor-items" id="set-color-id" type="color" value="#8FF000" disabled>
    </td>
    <td colspan="2" style="width: calc(100%/18 *2 - 2px)" class="multi-select-item">

    </td>

    <td colspan="2" style="width: calc(100%/18 *2 - 4px)" class="res-text editor-items">
        <!--<select class="res-text editor-items">-->

        <!--</select>-->
    </td>
    <td colspan="3" style="width: calc(100%/18 *3 - 4px)" class="change-text editor-items">
        <!--<select class="page-change-text editor-items" disabled>-->

        <!--</select>-->
    </td>
    <td colspan="3" style="width: calc(100%/18 *3 - 4px)">

    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 4px)">
        <span class="set-email">邮件</span>&nbsp;&nbsp;&nbsp;
        <span class="set-msg">短信</span>
    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 4px)">
        <a>编辑提醒方式</a>
    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 4px)">
        <span>不可配置</span>
        <p-dropdown ></p-dropdown>
    </td>
</tr>