<tr class="singleRow">
    <td colspan="1" style="width: calc(100%/18 *1 - 2px)">
        <input type="checkbox">
    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 2px)">
        <input type="checkbox">
    </td>
    <td colspan="2" style="width: calc(100%/18 *2 - 2px)">

    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 2px)">
        <input class="set-color" id="set-color-id" type="color" value="#8FF000">
    </td>
    <td colspan="2" style="width: calc(100%/18 *2 - 2px)">
        <div class="multi-select">
            <div class="head-select">
                <input readonly =readonly class="select-content"/>
                <span class="ui-icon ui-icon-triangle-1-s select-ui-con"></span>
            </div>
            <div class="select-multi-content">
                <div class="search-content">
                    <input type="checkbox" id="checkbox_all" class="chk_1 chk_remind checkbox_all_checked" checked /><label for="checkbox_all"></label>
                    <input class="select-search-content"/>
                    <span class="ui-icon ui-icon-search search-ui-con"></span>
                    <span class="ui-icon ui-icon-closethick close-ui-con"></span>
                </div>
                <div class="search-data">
                    <ul class="search-items">
                        <li class="search-item"><div class="search-content-item"><input type="checkbox" id="checkbox_children_1" class="chk_1 chk_remind checkbox_all_checked" checked /><label for="checkbox_all"></label><label>创建时间</label></div></li>
                        <li class="search-item"><div class="search-content-item"><input type="checkbox" id="checkbox_children_2" class="chk_1 chk_remind checkbox_all_checked" checked /><label for="checkbox_all"></label><label>创建时间</label></div></li>
                        <li class="search-item"><div class="search-content-item"><input type="checkbox" id="checkbox_children_3" class="chk_1 chk_remind checkbox_all_checked" checked /><label for="checkbox_all"></label><label>创建时间</label></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </td>

    <td colspan="2" style="width: calc(100%/18 *2 - 4px)">
        <select class="res-text">

        </select>
    </td>
    <td colspan="3" style="width: calc(100%/18 *3 - 4px)">
        <select class="page-change-text">

        </select>
    </td>
    <td colspan="3" style="width: calc(100%/18 *3 - 4px)">

    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 4px)">
        <span >邮件</span>&nbsp;&nbsp;&nbsp;<span>短信</span>
    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 4px)">
        <a>编辑提醒方式</a>
    </td>
    <td colspan="1" style="width: calc(100%/18 *1 - 4px)">
        <span>不可配置</span>
        <p-dropdown ></p-dropdown>
    </td>
</tr>