html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6,
img, strong, sub, sup,
dl, dt, dd, ol, ul, li
{
  box-sizing: border-box;
}
.workflow-icon{
  background: url(../../images/workflow/workflow-icon.png) no-repeat;
  display: block;
}
.icon-workflow-icon1 {
  background-position: -26px 0px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon10 {
  background-position: -52px -52px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon11 {

  background-position: 0px -26px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon12 {

  background-position: -26px -26px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon13 {

  background-position: -52px 0px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon14 {

  background-position: -52px -26px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon15 {

  background-position: 0px -52px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon16 {

  background-position: -26px -52px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon17 {

  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon2 {

  background-position: -104px 0px;
  width: 14px;
  height: 14px;
}
.icon-workflow-icon3 {

  background-position: -78px -26px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon4 {

  background-position: -78px -52px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon5 {

  background-position: 0px -78px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon6 {

  background-position: -26px -78px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon7 {

  background-position: -52px -78px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon8 {

  background-position: -78px 0px;
  width: 16px;
  height: 16px;
}
.icon-workflow-icon9 {

  background-position: -78px -78px;
  width: 16px;
  height: 16px;
}