#approval-workflow-body,#myBody,#add-signer-body,#approval-reject-body,#add-follow-body,#add-wf-body{
    font-size: 12px;
    &::-webkit-scrollbar{
        background: #ebebeb;
    }
}
#add-wf-html,#add-wf-body{
    height: 100%;
    background: #ebebeb;
}
#approval-reject-body,#add-follow-body,#add-signer-body{
    padding: 0;
    margin: 0;
}
#myBody{
    overflow-y: scroll;
}
#approval-workflow div, #WorkflowInitial div {
    box-sizing: border-box;
}


.workflow-icon {
    background: url(../../images/workflow/workflow-icon2.png) no-repeat;
    display: block;
    width: 16px;
    height: 16px;
}
.workflow-icon-box{
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.workflow-icon-file{
    background-image: url(../../images/workflow/workflow-file.png);
}
.workflow-icon-add{
    background-image: url(../../images/workflow/workflow-icon-add.png);
}
.workflow-icon-follow{
    background-image: url(../../images/workflow/workflow-icon-follow.png);
}
.workflow-icon-gz{
    background-image: url(../../images/workflow/workflow-icon-gz.png);
}
.workflow-icon-node{
    background-image: url(../../images/workflow/workflow-icon-node.png);
}
.workflow-icon-print{
    background-image: url(../../images/workflow/workflow-icon-print.png);
}
.workflow-icon-record{
    background-image: url(../../images/workflow/workflow-icon-record.png);
}
.workflow-icon-record2{
    background-image: url(../../images/workflow/workflow-icon-record2.png);
}
.workflow-icon-switch{
    background-image: url(../../images/workflow/workflow-icon-switch.png);
}
.workflow-icon-table{
    background-image: url(../../images/workflow/workflow-icon-tabel.png);
}
.workflow-icon-twofile{
    background-image: url(../../images/workflow/workflow-icon-twofile.png);
}
.workflow-icon-menu{
    background-image: url(../../images/workflow/workflow-menu.png);
}
.workflow-icon-scale1{
    background-image: url(../../images/workflow/workflow-icon-scale1.png);
}
.workflow-icon-scale2{
    background-image: url(../../images/workflow/workflow-icon-scale2.png);
}
.workflow-icon-full{
    background-image: url(../../images/workflow/workflow-icon-full.png);
}
.workflow-icon-tridown{
    background-image: url(../../images/workflow/workflow-icon-tridown.png);
}
.workflow-icon-edit{
    background-image: url(../../images/workflow/workflow-icon-edit.png);
}
.workflow-icon-close{
    background-image: url(../../images/workflow/workflow-icon-close.png);
}
.workflow-icon-attachment{
    background-image: url(../../images/workflow/attachment2.png);
}
.workflow-icon-upload{
    background: url(../../images/workflow/gz.png) no-repeat;
    width: 50px;
    height: 50px;
    display: block;
}
.workflow-icon-select {
    background: url("../../images/dataGrid/icon_xiala2.png") right center no-repeat;
}
.icon-workflow-icon1 {
    background-position: -26px 0px;
}

.icon-workflow-icon10 {
    background-position: -52px -52px;
}

.icon-workflow-icon11 {
    background-position: 0px -26px;
}

.icon-workflow-icon12 {
    background-position: -26px -26px;
}

.icon-workflow-icon13 {
    background-position: -52px 0px;
}

.icon-workflow-icon14 {
    background-position: -52px -26px;
}

.icon-workflow-icon15 {
    background-position: 0px -52px;
}

.icon-workflow-icon16 {
    background-position: -26px -52px;
}

.icon-workflow-icon17 {
    background-position: 0px 0px;
}

.icon-workflow-icon2 {
    background-position: -104px 0px;
}

.icon-workflow-icon3 {
    background-position: -78px -26px;
}

.icon-workflow-icon4 {
    background-position: -78px -52px;
}

.icon-workflow-icon5 {
    background-position: 0px -78px;
}

.icon-workflow-icon6 {
    background-position: -26px -78px;
}

.icon-workflow-icon7 {
    background-position: -52px -78px;
}

.icon-workflow-icon8 {
    background-position: -78px 0px;
}

.icon-workflow-icon9 {
    background-position: -78px -78px;
}

.icon-workflow-icon18 {
    background-position: -128px -52px;
}

.icon-workflow-icon19 {
    background-position: -128px -26px;
}

.icon-workflow-icon20 {
    background-position: -128px 0px;
}
.icon-workflow-icon21 {
    background-position: -154px 0px;
    width: 50px;
    height: 50px;
}
.icon-workflow-icon22 {
    background-position: -154px -60px;
}
.icon-work-icon-scale {
    background-position: 0px -104px;
}

.icon-workflow-follow {
    background-position: 0px -130px;
}
.icon-workflow-node {
    background-position: -26px -130px;
}
.icon-workflow-record {
    background-position: -52px -130px;
}
.icon-workflow-record2 {
    background-position: -78px -130px;
}
.icon-workflow-tabel {
    background-position: -104px -130px;
}
