#approval-workflow div, #WorkflowInitial div {
    box-sizing: border-box;
}

.workflow-icon {
    background: url(../../images/workflow/workflow-icon2.png) no-repeat;
    display: block;
    width: 16px;
    height: 16px;
}

.icon-workflow-icon1 {
    background-position: -26px 0px;
}

.icon-workflow-icon10 {
    background-position: -52px -52px;
}

.icon-workflow-icon11 {
    background-position: 0px -26px;
}

.icon-workflow-icon12 {
    background-position: -26px -26px;
}

.icon-workflow-icon13 {
    background-position: -52px 0px;
}

.icon-workflow-icon14 {
    background-position: -52px -26px;
}

.icon-workflow-icon15 {
    background-position: 0px -52px;
}

.icon-workflow-icon16 {
    background-position: -26px -52px;
}

.icon-workflow-icon17 {
    background-position: 0px 0px;
}

.icon-workflow-icon2 {
    background-position: -104px 0px;
}

.icon-workflow-icon3 {
    background-position: -78px -26px;
}

.icon-workflow-icon4 {
    background-position: -78px -52px;
}

.icon-workflow-icon5 {
    background-position: 0px -78px;
}

.icon-workflow-icon6 {
    background-position: -26px -78px;
}

.icon-workflow-icon7 {
    background-position: -52px -78px;
}

.icon-workflow-icon8 {
    background-position: -78px 0px;
}

.icon-workflow-icon9 {
    background-position: -78px -78px;
}

.icon-workflow-icon18 {
    background-position: -128px -52px;
}

.icon-workflow-icon19 {
    background-position: -128px -26px;
}

.icon-workflow-icon20 {
    background-position: -128px 0px;
}