<div style="width: 100%; height: 100%;margin: auto;position: relative;display: flex;overflow: hidden;">
    <div class="videoList" >
        {{#each rows}}
        <div class="select-video" id="{{this.file_id}}">
            <div style="height: 100%;width: 100%;position: relative">
                <span class="video-file-name" style="word-break: break-all;margin-left: 5px; margin-right: 5px;display: inline-block;max-width: 180px;" title="{{this.file_name}}">{{this.file_name}}
                <a href="../download_attachment/?file_id={{this.file_id}}&download=1"><img src="../../../assets/images/form/icon_download.png" alt=""></a>
                </span>
                <!--<a style="color: blue;">预览</a>-->
                <!--<a (click)="imgDel(data.file_id)">删除</a>-->
            </div>
        </div>
        {{/each}}
    </div>
    <div class="videoContain" style="background: black;">
        <video class='videoToShow' controls autoplay name="media" style="height:100%;width: 100%"  >
            <source src="{{videoSrc}}" type="video/mp4">
        </video>
        <!--<img src="../../../assets/images/form/icon_video_play.png" alt="play" style="position: relative; margin: -35% auto;" class="play">-->
    </div>

    <!--<div class="video-list" style="flex:1 1 20%">-->

    <!--</div>-->
    <!--<div class="btn-wrap" style="flex:1 1 5%">-->
        <!--<a class="quick">快进</a>-->
        <!--<a class="low">倒退</a>-->
    <!--</div>-->
    <!--<div class="danmu-input" style="flex:1 1 5%">-->
        <!--<input type="text" class="danmu"/><a class="submit">发送</a>-->
    <!--</div>-->
</div>