.cells{
    &.prepare{
        position: absolute ;
        top: 0;
        left: 0;
        z-index: 0;
        &.animate-fade-in{
            animation-name: cellsFadeIn;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
        @keyframes cellsFadeIn {
            0%{opacity: 0}
            100%{opacity: 1}
        }
    }
    &.current{
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        &.animate-fade-out{
            animation-name: cellsFadeOut;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
        @keyframes cellsFadeOut {
            0%{opacity: 1}
            100%{opacity: 0}
        }
    }
    @media print {
        &.prepare{
            display:none;
        }
    };
}