<div id="lifecycle-container" style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;">
<div id="lifecycle-title"></div>
<div class="body111">
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u0" class="ax_default box_1">
        <div id="u0_div" class="setBorderColor" title="产品要素"></div>
        <!-- Unnamed () -->
        <div id="u1" class="text" style="visibility: visible;">
            <p><span>产品立项</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2" class="ax_default box_1">
        <div id="u2_div" class="setBorderColor" title="产品要素"></div>
        <!-- Unnamed () -->
        <div id="u3" class="text" style="visibility: visible;">
            <p><span>产品要素信息录入</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u4" class="ax_default _连接线">
        <!--<img id="u4_seg0" class="img " src="images/index/u4_seg0.png" alt="u4_seg0"/>-->
        <img style="display: none" class="img u40_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u40_seg0.png" alt="产品要素"/>
        <img style="display: none" class="img u40_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u42_seg0.png" alt="产品要素"/>
        <!-- Unnamed () -->
        <div id="u5" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u6" class="ax_default box_1 setColor" title="协议">
        <div id="u6_div" class="setBorderColor setBackgroundColor" title="协议"></div>
        <!-- Unnamed () -->
        <div id="u7" class="text" style="visibility: visible;">
            <p><span>开户、签订协议</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">3个工作日左右</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u8" class="ax_default box_1 setColor" title="产品合同审批">
        <div id="u8_div" class="setBorderColor setBackgroundColor" title="产品合同审批"></div>
        <!-- Unnamed () -->
        <div id="u9" class="text" style="visibility: visible;">
            <p><span>产品合同审批及用印</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">3-5个工作日左右</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u10" class="ax_default box_1">
        <div id="u10_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11" class="text" style="visibility: visible;">
            <p><span>产品募集</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u12" class="ax_default box_1">
        <div id="u12_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u13" class="text" style="visibility: visible;">
            <p><span>验资（如有）</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u14" class="ax_default box_1">
        <div id="u14_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15" class="text" style="visibility: visible;">
            <p><span>基金产品备案</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">3-5个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u16" class="ax_default box_1">
        <div id="u16_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u17" class="text" style="visibility: visible;">
            <p><span>产品成立</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u18" class="ax_default box_1">
        <div id="u18_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u19" class="text" style="visibility: visible;">
            <p><span>开立期货账户</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u20" class="ax_default box_1">
        <div id="u20_div" class="setBorderColor" title="管理人用印"></div>
        <!-- Unnamed () -->
        <div id="u21" class="text" style="visibility: visible;">
            <p><span>管理人用印</span></p>
        </div>
        <div class="my-time-left">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u22" class="ax_default box_1" >
        <div id="u22_div" class="setBorderColor" title="托管人用印"></div>
        <!-- Unnamed () -->
        <div id="u23" class="text" style="visibility: visible;">
            <p><span>托管人用印</span></p>
        </div>
        <div class="my-time-left">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u24" class="ax_default box_1" >
        <div id="u24_div" class="setBorderColor" title="委托人用印"></div>
        <!-- Unnamed () -->
        <div id="u25" class="text" style="visibility: visible;">
            <p><span>委托人用印</span></p>
        </div>
        <div class="my-time-left">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u26" class="ax_default box_1 setColor" title="开立募集账户">
        <div id="u26_div" class="setBorderColor setBackgroundColor" title="开立募集账户"></div>
        <!-- Unnamed () -->
        <div id="u27" class="text" style="visibility: visible;">
            <p><span>开立募集账户</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u28" class="ax_default box_1 setColor" title="资金监督协议">
        <div id="u28_div" class="setBorderColor setBackgroundColor" title="资金监督协议"></div>
        <!-- Unnamed () -->
        <div id="u29" class="text" style="visibility: visible;">
            <p><span>签订资金监督协议</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u30" class="ax_default box_1 setColor"  title="开立托管账户">
        <div id="u30_div" class="setBorderColor setBackgroundColor"></div>
        <!-- Unnamed () -->
        <div id="u31" class="text" style="visibility: visible;">
            <p><span>开立托管账户</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u32" class="ax_default box_1 setColor" title="外包服务协议">
        <div id="u32_div" class="setBorderColor setBackgroundColor" title="外包服务协议"></div>
        <!-- Unnamed () -->
        <div id="u33" class="text" style="visibility: visible;">
            <p><span>签订外包服务协议</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u34" class="ax_default box_1 setColor" title="经纪服务协议">
        <div id="u34_div" class="setBorderColor setBackgroundColor" title="经纪服务协议"></div>
        <!-- Unnamed () -->
        <div id="u35" class="text" style="visibility: visible;">
            <p><span>签订经纪服务协议</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u36" class="ax_default box_1 setColor" title="期货备忘录">
        <div id="u36_div" class="setBorderColor setBackgroundColor" title="期货备忘录"></div>
        <!-- Unnamed () -->
        <div id="u37" class="text" style="visibility: visible;">
            <p><span>签订期货备忘录</span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u38" class="ax_default _连接线">
        <!--<img id="u38_seg0" class="img " src="images/index/u38_seg0.png" alt="u38_seg0"/>-->
        <img style="display: none" class="img u40_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u40_seg0.png" alt="协议"/>
        <img style="display: none" class="img u40_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u42_seg0.png" alt="协议"/>
        <!-- Unnamed () -->
        <div id="u39" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u40" class="ax_default _连接线">
        <!--<img class="img u40_seg0" src="images/index/u40_seg0.png" alt="u40_seg0"/>-->
        <img style="display: none" class="img u40_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u40_seg0.png" alt="产品合同审批"/>
        <img style="display: none" class="img u40_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u42_seg0.png" alt="产品合同审批"/>
        <!-- Unnamed () -->
        <div id="u41" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u42" class="ax_default _连接线">
        <img id="u42_seg0" class="img " src="../../../../../assets/images/lifeCycle/u42_seg0.png" alt="u42_seg0"/>
        <!-- Unnamed () -->
        <div id="u43" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u44" class="ax_default _连接线">
        <img id="u44_seg0" class="img " src="../../../../../assets/images/lifeCycle/u44_seg0.png" alt="u44_seg0"/>
        <!-- Unnamed () -->
        <div id="u45" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u46" class="ax_default _连接线">
        <img id="u46_seg0" class="img " src="../../../../../assets/images/lifeCycle/u46_seg0.png" alt="u46_seg0"/>
        <!-- Unnamed () -->
        <div id="u47" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u48" class="ax_default _连接线">
        <img id="u48_seg0" class="img " src="../../../../../assets/images/lifeCycle/u48_seg0.png" alt="u48_seg0"/>
        <!-- Unnamed () -->
        <div id="u49" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u50" class="ax_default _连接线">
        <img id="u50_seg0" class="img " src="../../../../../assets/images/lifeCycle/u50_seg0.png" alt="u50_seg0"/>
        <!-- Unnamed () -->
        <div id="u51" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u52" class="ax_default _连接线">
        <img style="display: none" class="img u52_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u52_seg0.png" alt="开立募集账户"/>
        <img style="display: none;left:-49px" class="img u52_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u54_seg1.png" alt="开立募集账户"/>
        <img class="img u52_seg1" src="../../../../../assets/images/lifeCycle/u52_seg1.png" alt="u52_seg1"/>
        <img class="img u52_seg1" src="../../../../../assets/images/lifeCycle/u52_seg2.png" alt="u52_seg2"/>
        <!-- Unnamed () -->
        <div id="u53" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u54" class="ax_default _连接线">
        <img style="display: none" class="img u54_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u54_seg0.png" alt="资金监督协议"/>
        <img style="display: none" class="img u54_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u54_seg1.png" alt="资金监督协议"/>
        <!-- Unnamed () -->
        <div id="u55" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u56" class="ax_default _连接线">
        <img style="display: none" class="img u56_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u54_seg0.png" alt="开立托管账户"/>
        <img style="display: none" class="img u56_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u54_seg1.png" alt="开立托管账户"/>
        <!-- Unnamed () -->
        <div id="u57" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u58" class="ax_default _连接线">
        <img style="display: none;left:-55px;" class="img u58_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u58_seg0.png" alt="期货备忘录"/>
        <img style="display: none" class="img u58_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u54_seg1.png" alt="期货备忘录"/>
        <img class="img u58_seg1" src="../../../../../assets/images/lifeCycle/u58_seg1.png" alt="u58_seg1"/>
        <img class="img u58_seg1" src="../../../../../assets/images/lifeCycle/u58_seg2.png" alt="u58_seg1"/>
        <!-- Unnamed () -->
        <div id="u59" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u60" class="ax_default _连接线">
        <img style="display: none" class="img u60_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u60_seg0.png" alt="外包服务协议"/>
        <img style="display: none" class="img u60_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u54_seg1.png" alt="外包服务协议"/>
        <!-- Unnamed () -->
        <div id="u61" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u62" class="ax_default _连接线">
        <img style="display: none" class="img u62_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u54_seg0.png" alt="经纪服务协议"/>
        <img style="display: none" class="img u62_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u54_seg1.png" alt="经纪服务协议"/>
        <!-- Unnamed () -->
        <div id="u63" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u64" class="ax_default _连接线">
        <img style="display: none" class="img u64_seg0 imgSelect1 imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u64_seg0.png" alt="协议"/>
        <img style="display: none" class="img u64_seg0 imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u54_seg1.png" alt="协议"/>
        <img id="u64_seg1" class="img " src="../../../../../assets/images/lifeCycle/u64_seg1.png" alt="u64_seg1"/>
        <!-- Unnamed () -->
        <div id="u65" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u66" class="ax_default _连接线">
        <img style="display: none" class="img u66_seg0 goBlack1 ngif" src="../../../../../assets/images/lifeCycle/u66_seg0.png" alt="goBlack"/>
        <img style="display: none" class="img u66_seg0 goBlack0 ngif" src="../../../../../assets/images/lifeCycle/black1.png" alt="goBlack">
        <!-- Unnamed () -->
        <div id="u67" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u68" class="ax_default _连接线">
        <img style="display: none" class="img u68_seg0 goBlack1 ngif" src="../../../../../assets/images/lifeCycle/u68_seg0.png" alt="goBlack"/>
        <img style="display: none" class="img u68_seg0 goBlack0 ngif" src="../../../../../assets/images/lifeCycle/black2.png" alt="goBlack"/>
        <img style="display: none" class="img u68_seg1 goBlack1 ngif" src="../../../../../assets/images/lifeCycle/u68_seg1.png" alt="goBlack"/>
        <img style="display: none" class="img u68_seg1 goBlack0 ngif" src="../../../../../assets/images/lifeCycle/black3.png" alt="goBlack"/>
        <!-- Unnamed () -->
        <div id="u69" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u70" class="ax_default _连接线">
        <img style="display: none" class="img u70_seg0 goBlack1 ngif" src="../../../../../assets/images/lifeCycle/u70_seg0.png" alt="goBlack"/>
        <img style="display: none" class="img u70_seg0 goBlack0 ngif" src="../../../../../assets/images/lifeCycle/black4.png" alt="goBlack"/>
        <img style="display: none" class="img u70_seg1 goBlack1 ngif" src="../../../../../assets/images/lifeCycle/u70_seg1.png" alt="goBlack"/>
        <img style="display: none" class="img u70_seg1 goBlack0 ngif" src="../../../../../assets/images/lifeCycle/black5.png" alt="goBlack"/>
        <!-- Unnamed () -->
        <div id="u71" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u72" class="ax_default image">
        <img style="display: none" class="img u90_img imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u90.png" alt="产品要素"/>
        <div>
            <img style="display: none" class="img u76_img imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u72.png" alt="产品要素"/>
            <img style="display: none" class="img u76_img imgSelect1 ngif" src="../../../../../assets/images/lifeCycle/u74.png" alt="产品要素"/>
        </div>
        <!-- Unnamed () -->
        <div id="u73" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u74" class="ax_default image">
        <!--<img id="u74_img" class="img " src="images/index/u72.png"/>-->
        <img id="u74_img" class="img " src="../../../../../assets/images/lifeCycle/u90.png"/>
        <!-- Unnamed () -->
        <div id="u75" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u76" class="ax_default image">
        <img style="display: none" class="img u90_img imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u90.png" alt="协议"/>
        <div>
            <img style="display: none" class="img u76_img imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u72.png" alt="协议"/>
            <img style="display: none" class="img u76_img imgSelect1 ngif" src="../../../../../assets/images/lifeCycle/u74.png" alt="协议"/>
        </div>

        <!--<p class="tipsP" style="display: none" >5天（当前节点<span>{{countObject['协议'].time}}</span>天）</p>-->
        <!--<img *ngIf="!imgSelect('产品要素')" class="img u90_img" src="images/index/u90.png"/>-->
        <!--<div *ngIf="imgSelect('产品要素')">-->
            <!--<img *ngIf="imgSelect('协议')" class="img u76_img" src="images/index/u72.png"/>-->
            <!--<img *ngIf="!imgSelect('协议')" class="img u76_img" src="images/index/u74.png"/>-->
        <!--</div>-->
        <!-- Unnamed () -->
        <div id="u77" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u78" class="ax_default image">
        <img style="display: none" class="img u90_img imgSelect0 ngif" src="../../../../../assets/images/lifeCycle/u90.png" alt="产品合同审批"/>
        <div>
            <img style="display: none" class="img u76_img imgSelect2 ngif" src="../../../../../assets/images/lifeCycle/u72.png" alt="产品合同审批"/>
            <img style="display: none" class="img u76_img imgSelect1 ngif" src="../../../../../assets/images/lifeCycle/u74.png" alt="产品合同审批"/>
        </div>

        <!--<p class="tipsP" style="display: none" >5天（当前节点<span>{{countObject['用印状态'].time}}</span>天）</p>-->
        <!-- Unnamed () -->
        <div id="u79" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u80" class="ax_default label">
        <div id="u80_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u81" class="text" style="visibility: visible;">
            <p><span>1</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u82" class="ax_default box_1">
        <div id="u82_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u83" class="text" style="visibility: visible;">
            <p><span>开立证券账户</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u84" class="ax_default box_1">
        <div id="u84_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u85" class="text" style="visibility: visible;">
            <p><span>开立股东账户</span></p>
        </div>
        <div class="my-time">
            <p><span style="color: #000">1个工作日</span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u86" class="ax_default _连接线">
        <img id="u86_seg0" class="img " src="../../../../../assets/images/lifeCycle/u86_seg0.png" alt="u86_seg0"/>
        <!-- Unnamed () -->
        <div id="u87" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Connector) -->
    <div id="u88" class="ax_default _连接线">
        <img id="u88_seg0" class="img " src="../../../../../assets/images/lifeCycle/u88_seg0.png" alt="u88_seg0"/>
        <!-- Unnamed () -->
        <div id="u89" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u90" class="ax_default image">
        <img class="u90_img" class="img " src="../../../../../assets/images/lifeCycle/u90.png"/>
        <!-- Unnamed () -->
        <div id="u91" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u92" class="ax_default label">
        <div id="u92_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u93" class="text" style="visibility: visible;">
            <p><span>1</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u94" class="ax_default label">
        <div id="u94_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u95" class="text" style="visibility: visible;">
            <p><span>3</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <!--<div id="u96" class="ax_default label">-->
        <!--<div id="u96_div" class=""></div>-->
        <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
        <!--<div id="u97" class="text" style="visibility: visible;">-->
            <!--<p><span>3-5</span></p>-->
        <!--</div>-->
    <!--</div>-->

    <!-- Unnamed (Rectangle) -->
    <div id="u98" class="ax_default label">
        <div id="u98_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u99" class="text" style="visibility: visible;">
            <p><span>1</span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u100" class="ax_default image">
        <img id="u100_img" class="img " src="../../../../../assets/images/lifeCycle/u90.png"/>
        <!-- Unnamed () -->
        <div id="u101" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u102" class="ax_default label">
        <div id="u102_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u103" class="text" style="visibility: visible;">
            <p><span>3-5</span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u104" class="ax_default image">
        <img id="u104_img" class="img " src="../../../../../assets/images/lifeCycle/u90.png"/>
        <!-- Unnamed () -->
        <div id="u105" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u106" class="ax_default label">
        <div id="u106_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u107" class="text" style="visibility: visible;">
            <p><span>1</span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u108" class="ax_default image">
        <img id="u108_img" class="img " src="../../../../../assets/images/lifeCycle/u90.png"/>
        <!-- Unnamed () -->
        <div id="u109" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u110" class="ax_default label">
        <div id="u110_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u111" class="text" style="visibility: visible;">
            <p><span>1</span></p>
        </div>
    </div>
</div>
</div>

</div>