@import "../../calendar";
@import "../../../form/base-form/dateTime";
.calendar-export {
    padding: 12px;
    .input-date {
        margin: 16px 0px;
        //input {
        //    width: 156px;
        //    height: 24px;
        //}
        .start-date, .end-date {
            display: inline-block;
        }
        .start-date {
            padding-left: 20px;
        }
    }
    .export-btn {
        display: block;
        line-height: 30px;
        padding: 0px 12px;
        font-weight: bold;
        float: right;
        border: 1px solid $boder-color;
        cursor: pointer;
        margin-right: 19px;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
}