@import "../../calendar";

.calendar-export {
    padding: 6px 12px;
    .input-date {
        margin: 10px 0px;
        input {
            width: 156px;
            height: 24px;
        }
    }
    .export-btn {
        display: block;
        line-height: 32px;
        padding: 0px 12px;
        font-weight: bold;
        float: right;
        border: 1px solid $boder-color;
        border-radius: 5px;
        cursor: pointer;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
}