@import "../../calendar";
.setting-menu {
    .menu-item-title{
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color:#999999;
        .menu-label {
            display: inline-block;
            line-height: 28px;
            padding-left: 2px;
        }
    }
    .menu-item-title:hover{
        background-color: rgba(228, 228, 228, 1);
    }
    .item-child {
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        .img-con{
            position: relative;
            top: 3px;
        }
    }
}