@import "../../calendar";
.setting-menu {
    .menu-item-title{
        color:#999999;
        .menu-label {
            display: block;
            line-height: 28px;
            padding-left: 8px;
        }
    }
    .item-child {
        margin-left: 30px;
        margin-top: 10px;
    }
}