@import "../../calendar";
.setting-menu {
    .menu-label {
        border-bottom: 1px solid $boder-color;
        display: block;
        line-height: 28px;
        padding-left: 8px;
    }
    .item-child {
        margin: 5px;
        border: 1px solid #60C1F6;
        padding: 3px 5px;
        border-radius: 3px;
        display: inline-block;
    }
}