<div class="wrap">
    <p style="float: left;margin-right: 10px;margin-top: 2px;font-size: 12px;height: 30px;line-height: 30px;">设置页眉:</p>
    <div style="float: left">
        <div style="position: relative;width: auto">
            <input style="background: transparent;border: 1px solid black;border-radius: 2px;color: black;" class="global-search-input"
                   type="text" size="30"/>
            <!--<a href="javascript:;" style="position: absolute;right: 4px;top: 4px;" (click)="globalSearch()"><img src="icon_search.png"/></a>-->
        </div>
        <div style="visibility:hidden" class="global-search-history" >
            {{#each printTitles}}
            <div style="position: relative" class="oneSelect">
                <li class="global-search-history-list" >{{this.content}}</li>
                <a href="javascript:;" style="position: absolute;text-decoration: none;padding: 2px 6px;right: 4px;top: 50%;transform: translateY(-12px)" >x</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<button class="J-print-btn confirm">确定</button>
<button class="J-print-btn cancel">取消</button>