.form {
    .required {
        display: inline-block;
        color: #ff0617;
        width: 16px;
        height: 16px;
        margin-left: 5px;
        background: url("../../../assets/images/form/icon_bitian.png");
        vertical-align: middle;
    }
    .required2 {
        display: inline-block;
        color: #ff0617;
        width: 16px;
        height: 16px;
        margin-left: 5px;
        background: url("../../../assets/images/form/icon_bitian_yes.png");
        vertical-align: middle;
    }
    .form-cell {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .wrap {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .label {
                width: 200px;
                text-align: center;
            }
            .content {
                flex-grow: 1;
                .error {
                    color: red;
                }
                .info {
                    color: blue;
                }
            }
        }
    }
}