/*渐变色W3C 第一个参数可能位置是反的 出错的话 将to top 改为to bottom*/
.btn{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.btn:active{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.btn:focus{
  outline: none;
}
.btn-ripple{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@keyframes ripple {
  0%{transform:translate(-50%,-50%) scale(0.1);opacity: 0.5 }
  100%{transform:translate(-50%,-50%) scale(1.5);opacity: 0}
}
/*.btn-ripple-elem{*/
/*transform:translate(-50%,-50%) scale(0.1);*/
/*background: #0a6aaf;*/
/*border-radius: 50%;*/
/*position:absolute;*/
/*opacity: 0.5;*/
/*animation:ripple 0.28s linear;*/
/*}*/
.ripple{
  overflow: hidden;
}
strong,b{
  font-weight: bold;
}

.ui-calendar {
  position: relative;
  display: inline-block;
}
.ui-calendar button {
  position: absolute;
  height: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  width: 2em;
  border-left: 0 none;
}
//时间
.ui-timepicker {
  text-align: center;
  padding: .5em 0;
}
.ui-timepicker > div {
  display: inline-block;
  margin-left: .5em;
  min-width: 1.5em;
}
.ui-timepicker > .ui-minute-picker,
.ui-timepicker > .ui-second-picker {
  margin-left: 0;
}
.ui-timepicker > .ui-separator {
  margin-left: 0px;
  min-width: .75em;
}
.ui-timepicker > .ui-separator a {
  visibility: hidden;
}
.ui-timepicker > div a {
  display: block;
  opacity: 0.7;
  filter:Alpha(Opacity=70);
}

.btnHover:hover {
  cursor: pointer;
}
//时间日期
#ui-datepicker-div{
  width: 244px;
}
.ui_tpicker_hour,.ui_tpicker_minute,.ui_tpicker_second,.ui_tpicker_hour_label,.ui_tpicker_minute_label,.ui_tpicker_second_label{
  display: none;
}
.ui-datepicker-calendar thead{
  border-bottom: 1px solid #CAEEFF;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  text-align: center;
  border: 0;
  background: white;
}
.ui-state-hover {
  background: #F2F2F2 !important;
}
.ui-state-active{
  background: #66CCFF !important;
  color: #333333!important;
}
#ui-datepicker-div> .ui-datepicker-header{
  margin: 0 !important;
  width: 96%;
  border: none;
  background: #FAFAFA;
  padding: .4em!important;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.ui-datepicker td a{
  text-align: center;
}

.ui-datepicker-buttonpane{
  border-top: 0;
  border-bottom: 1px solid #E4E4E4!important;
  background: #F2F2F2;
  height: 40px;
}
.ui-datepicker-month,.ui-datepicker-year{
  font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight: 700;
  font-style: normal;
  font-size: 14px!important;
  position: relative;
  float: left;
  left: 10%;
  width: 40% !important;
}
//时间
.ui-timepicker-div{
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 45%;
}
.ui_tpicker_time_input{
  border-bottom: 0!important;
  background: white!important;
  padding: 5px;
}
.ui-timepicker-div dl dt {
  padding: 5px 0 0 10px;
  font-family: '微软雅黑';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #666666;
}
//今
.ui-datepicker-current {
  background: #CAEEFF!important;
  float: left;
  margin:0 !important;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: 13%!important;
  height: 100%!important;
  overflow: visible;
}
//确定
.ui-datepicker-close{
  background: #0088FF!important;
  height: 25px;
  color: white!important;
}
