//时间日期
#ui-datepicker-div {
    width: 233.22px;
    border: 1px solid #CCCCCC;
    font-family: '微软雅黑 ';
    .ui-datepicker-calendar thead {
        border-bottom: 1px solid #CAEEFF;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        text-align: center;
        border: 0;
        background: white;
        font-family: 'Arial Normal', 'Arial';
        font-size: 13px;
        color: #333333;
    }
    .ui-state-hover {
        background: #F2F2F2 !important;
    }
    .ui-state-active {
        background: #66CCFF !important;
        color: #333333 !important;
    }
    .ui-datepicker-header {
        margin: 0 !important;
        width: 96%;
        border: none;
        background: #FAFAFA !important;
        padding: .4em !important;
    }
    .ui-datepicker-calendar td {
        border: 0;
        padding: 1px;
        width: 32px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border: 0;
        background: white;
        font-family: 'Arial Normal', 'Arial';
        font-size: 13px;
        color: #333333;
    }
    .ui-datepicker td a {
        font-family: 'Arial Normal', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        color: #333333;
        text-align: center;
        line-height: normal;
    }

    .ui-datepicker-buttonpane {
        margin: 0;
        padding: 0;
        width: 102%;
        height: 35px;
        position: relative;
        left: -2px;
        bottom: -1px;
        border-top: 1px solid #CCCCCC;
        background: #FAFAFA;
    }
    .ui-datepicker-month, .ui-datepicker-year {
        font-style: normal;
        height: 20px;
        position: relative;
        float: left;
        left: 10%;
        width: 40% !important;
        font-family: 'Arial Normal', 'Arial';
        font-size: 13px;
        color: #333333;
    }
    .ui-datepicker-year{
        padding-top: 2px;
    }
    th span {
        font-weight: normal !important;
    }
    table {
        width: 95%;
        margin: .7em auto;
    }
    //时间
    .ui-timepicker-div {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 20px;
    }
    .ui_tpicker_time_label {
        margin-left: 20%;
    }
    .ui_tpicker_time_input {
        width: 60%;
        border: 0 !important;
        background: white !important;
        padding: 5px;
        font-family: 'Arial Normal', 'Arial';
        font-size: 13px;
        color: #333333;
    }
    .ui-timepicker-div dl dt {
        padding: 5px 0 0 10px;
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #666666;
    }
    .ui-timepicker-div dl dd {
        margin: 0 10px 5px 40%;
    }
    //按钮
    .ui-datepicker-current, .ui-datepicker-close {
        background: #0088FF !important;
        height: 25px;
        color: white !important;
    }
    .ui-datepicker-prev,.ui-datepicker-next {
        top: 12%;
        position: absolute;
    }

}
#errorMessage{
    padding-top: 5px;
    color: red;
}