.form-icon {
    display: inline-block;
    background-image: url(../../../assets/images/form/icon-form.png);
    width: 16px;
    height:16px;
}
.icon-add {
    background-position: -63px -85px;
}

.icon-bitian {
    background-position: -110px -42px;
}

.icon-bitian_yes {
    background-position: -131px 0px;
}

.icon-buildln {
    background-position: -85px -46px;
}

.icon-correspondence {
    background-position: 0px -85px;
}

.icon-delete {
    background-position: -21px -85px;
}

.icon-download {
    background-position: -42px -85px;
}

.icon-error-msg {
    background-position: -85px 0px;
    width: 20px;
    height: 20px;
}

.icon-history {
    background-position: -84px -85px;
}

.icon-left {
    background-position: -110px 0px;
}

.icon-left_grey {
    background-position: -110px -21px;
}

.icon-next-month {
    background-position: -85px -25px;
}

.icon-plus {
    background-position: -110px -63px;
}

.icon-pre-month {
    background-position: -110px -84px;
}

.icon-reduce {
    background-position: 0px -106px;
}

.icon-refresh {
    background-position: -21px -106px;
}

.icon-right {
    background-position: -42px -106px;
}

.icon-right_grey {
    background-position: -63px -106px;
}

.icon-rili {
    background-position: -84px -106px;
}

.icon-time {
    background-position: -105px -106px;
}

.icon-video-play {
    background-position: 0px 0px;
    width: 80px;
    height: 80px;
}

.icon-xuanzeqi {
    background-position: -131px -21px;
}




