<div class="register-header">
    <span class="erds-logo">ERDS</span>
    <span class="sub-title">注册</span>
</div>

<div class="main-content">
    <div class="register-switch clearfix">
        <div class="investors-btn active">投资人注册</div>
        <div class="manager-btn">管理人注册</div>
        <div class="to-login">
            <span>我已注册，现在就</span>
            <button class="login-btn">登录</button>
        </div>
    </div>

    <div class="investors-register clearfix">
        <form>
            <div class="prompt">请填写以下信息完成注册</div>

            <div class="float-part clearfix">
                <div class="user-info">
                    <div class="username-group">
                        <span>用户名</span>
                        <input class="username" type="text" placeholder="请输入用户名称" >
                    </div>
                    <div class="password-group">
                        <span>密码</span>
                        <input class="password" type="password" placeholder="请输入登录密码">
                    </div>
                    <div class="name-group">
                        <span>姓名</span>
                        <input class="name" type="text" placeholder="请填写您的真实姓名">
                    </div>
                    <div class="email-group">
                        <span>邮箱</span>
                        <input class="email" type="email" placeholder="请设置安全邮箱">
                    </div>
                    <div class="tel-group">
                        <span>手机号</span>
                        <input class="tel" type="tel" placeholder="可用于接收消息和找回密码">
                    </div>
                    <div class="verification-code-group">
                        <input class="verification-code" type="text">
                        <button class="get-code">获取验证码</button>
                    </div>
                </div>

                <!--page-2在管理人注册页面显示-->
                <div class="company-info page-2">
                    <div class="company-name-group">
                        <span>公司名称</span>
                        <input class="company-name" type="text" placeholder="请填写公司全称">
                    </div>
                    <div class="legal-representative-group">
                        <span>法人代表</span>
                        <input class="legal-representative" type="text" placeholder="参考贵公司营业执照">
                    </div>
                    <div class="registered-address-group">
                        <span>注册地址</span>
                        <input class="registered-address" type="text" placeholder="填写公司注册地址">
                    </div>
                    <div class="office-address-group">
                        <span>办公地址</span>
                        <input class="office-address" type="text" placeholder="请填写公司目前办公地址">
                    </div>
                    <div class="zip-code">
                        <span>邮编</span>
                        <input class="tel" type="tel" placeholder="填写6位数邮编">
                    </div>
                </div>
            </div>

            <div class="prompt page-2">请确认以下数据是否完备并加盖公章</div>

            <div class="data-info page-2">
                <table>
                    <tr>
                        <td>营业执照复印件</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                        <td>机构信用代码</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                    </tr>
                    <tr>
                        <td>税务登记证复印件</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                        <td>公司章程</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                    </tr>
                    <tr>
                        <td>法定代表人身份证明文件复印件</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                        <td>公司授权文件</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                    </tr>
                    <tr>
                        <td>监管机构的相关资质证明文件</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                        <td>律师事务所出具的法律意见书</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                    </tr>
                    <tr>
                        <td>客户身份识别调查问卷</td>
                        <td><input type="checkbox">有</td>
                        <td><input type="checkbox">无</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>材料汇总附件</td>
                        <td>
                            <a class="a-select">
                                <input type="file" class="select-file">选择文件
                            </a>
                        </td>
                        <td></td>
                        <td class="no-border"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <div class="register-bt">
        <div class="register-btn">注册</div>
    </div>
</div>