.selectUser{
    .flexBox{
        display: flex;
        #addUsercheck{
            height: 500px;
            overflow: scroll;
        }
        .flex{
            width: 300px;
        }
    }
}
html,body{
	height: 100%;
}