.form-chart-button {
    position: absolute;
    bottom: 30px;
    text-align:right;
    .save-btn{
        background: #08f;
    }
}
.back-chart{
    margin-left: 110px;
    .save-btn{
        background: #fffcfc;
        color: #6b6a6a;
    }
}