.form-chart-advanced-compute{
    .advanced-compute-list{
        padding-top:20px;
        table {
            width:100%;
            border:solid 1px #e4e4e4;
            thead {
                th{
                    border-right: solid 1px #e4e4e4;
                    padding: 8px;
                    background-color: #f2f2f2;
                    white-space: nowrap;
                }
            }
            tbody {
                td {
                    vertical-align: middle;
                    border-right: solid 1px #e4e4e4;
                    text-align: center;
                    .form-chart-wrapper{
                        padding-left:0;
                    }

                    textarea,input {
                        border:none;
                        outline:none;
                    }
                }
            }
        }
    }
}