.tree2 .menu_node::before {
  content: url("./assets/images/util/tree/icon_unfold.png");
}
.tree2 .menu_leaf_node::before {
  content: url("./assets/images/util/tree/icon_fold.png");
}
.tree2 .list-group-item {
  cursor: pointer;
  font-size: 15px;
  padding: 5px 8px 5px 8px;
  background: brown;
}

