//@import "../core/base";
.icon-calendar{
    width: 16px;
    height: 16px;
    display: block;
}

.icon-calendar-export {
    background: url("../../images/calendar/calendar-export.png") no-repeat;
}
.icon-calendar-new-window {
    background: url("../../images/calendar/new-window.png") no-repeat;
}
.icon-calendar-refresh {
    background: url("../../images/calendar/calendar-refresh.png") no-repeat;
}
.icon-calendar-create-check {
    background: url("../../images/calendar/calendar-create.png") no-repeat;
}
.icon-calendar-create {
    background: url("../../images/calendar/calendar-add.png") no-repeat;
}
.icon-calendar-file {
    background: url("../../images/calendar/calendar-setItem.png") no-repeat;
}
.icon-calendar-floder {
    background: url("../../images/calendar/calendar-setItemtitle.png") no-repeat;
}
.icon-calendar-finished {
    background: url("../../images/calendar/calendar-task-finished.png") no-repeat;
}
.icon-calendar-pending {
    background: url("../../images/calendar/calendar-pending.png") no-repeat;
}
.icon-calendar-search {
    background: url("../../images/calendar/calendar-search.png") no-repeat;
}
.icon-calendar-setting-check {
    background: url("../../images/calendar/calendar-set-hover.png") no-repeat;
}
.icon-calendar-setting {
    background: url("../../images/calendar/calendar-set.png") no-repeat;
}
.icon-calendar-tool-1 {
    background: url("../../images/calendar/calendar-tool.png") no-repeat;
}
.icon-calendar-tool {
    background: url("../../images/calendar/calendar-left-hide.png") no-repeat;
}
.icon-calendar-watch {
    background: url("../../images/calendar/calendar-task-waitcheck.png") no-repeat;
}
.icon-calendar-date-pre {
    background: url("../../images/calendar/calendar-pre.png") no-repeat;
}
.icon-calendar-date-next {
    background: url("../../images/calendar/calendar-next.png") no-repeat;
}
.icon-calendar-checkbox-true{
    background: url("../../images/calendar/calendar-checked-false.png") no-repeat;
}
.icon-calendar-new-report{
    background: url("../../images/dataGrid/icon_add_1.png") no-repeat;
}
.icon-calendar-edit-report{
    background: url("../../images/dataGrid/icon_bianjimoshi.png") no-repeat;
}
.icon-calendar-save-report{
    background: url("../../images/dataGrid/save.png") no-repeat;
}
.icon-calendar-remark{
    background: url("../../images/dataGrid/icon_handle.png") no-repeat;
}
.icon-calendar-hide-right{
    background: url("../../images/calendar/calendar-hide-right.png") no-repeat;
}
.icon-calendar-float-button{
    background: url("../../images/calendar/button-hide.png") no-repeat;
}
.label-select-all-checked {
    background: url("../../images/calendar/calendar-checked-true.png");
}
.icon-calendar-require {
    background: url("../../images/calendar/calendar-require.png");
}
.icon-calendar-require_yes {
    background: url("../../images/calendar/calendar-require_yes.png");
}
