.icon-calendar{
    background: url("../../images/calendar/icon-calendar.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}

.icon-calendar-export {
    background-position: -26px 0px;
}
.icon-calendar-new-window {
    background-position: -52px -52px;
}
.icon-calendar-refresh {
    background-position: 0px -26px;
}
.icon-calendar-create-check {
    background-position: -26px -26px;
}
.icon-calendar-create {
    background-position: -52px 0px;
}
.icon-calendar-file {
    background-position: -52px -26px;
}
.icon-calendar-floder {
    background-position: 0px -52px;
}
.icon-calendar-form {
    background-position: -26px -52px;
}
.icon-calendar-finished {
    background-position: 0px 0px;
}
.icon-calendar-pending {
    background-position: -78px 0px;
}
.icon-calendar-search {
    background-position: -78px -26px;
}
.icon-calendar-setting-check {
    background-position: -78px -52px;
}
.icon-calendar-setting {
    background-position: 0px -78px;
}
.icon-calendar-tool-1 {
    background-position: -26px -78px;
}
.icon-calendar-tool {
    background-position: -52px -78px;
}
.icon-calendar-watch {
    background-position: -78px -78px;
}
.icon-calendar-date-pre {
    background-position: -104px -26px;
}
.icon-calendar-date-next {
    background-position: -104px 0px;
}
