/**
   公共样式
 */

html {
    font: 12px/1.5 "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-thumb {
    height: 50px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: #999999;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 6px;
    background-color: #999999;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

.alert-box {
    padding: 20px;
    .text {
        overflow: auto;
        font-size: 14px;
        line-height: 30px;
        height: 60px;
        text-align: center;
    }
    .button {
        height: 30px;
        padding-top: 10px;
        text-align: center;
        button {
            width: 80px;
            height: 30px;
        }
    }
}

.confirm-box {
    padding: 20px;
    .text {
        overflow: auto;
        font-size: 14px;
        line-height: 30px;
        height: 60px;
        text-align: center;
    }
    .button {
        height: 30px;
        padding-top: 10px;
        text-align: center;
        button {
            width: 80px;
            height: 30px;
        }
    }
}

