/*
    参数配置
 */
$body-minwidth: 1000px;
$body-minheight: 400px;
$header-height: 80px;
$aside-width: 300px;
$footer-height: 40px;

$main-bg: #FFF;
$header-bg: #105596;
$footer-bg: #105596;
$aside-bg: #47a3fb;
$content-bg: #fff;