@media print {
    body * {
        visibility: hidden !important;
        overflow: visible !important;
        position: static !important;
    }

    .center-wrap, .center-wrap * {
        visibility: visible !important;
        overflow: visible !important;
    }

    .center-wrap {
        height: 100% !important;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        overflow: initial !important;
    }

    .center-wrap table{
        width:100%;
        display: flex;
    }

    .center-wrap .ui-helper-hidden-accessible,
    .center-wrap .ui-dropdown-label {
        position: absolute !important;
    }
    /*内联子表样式*/
    .center-wrap .ui-songrid-box,
    .center-wrap .sheet,
    .center-wrap .grid-box,
    .center-wrap .ag-bl-full-height {
        position: relative !important;
    }

    .center-wrap .biaojicaozuo-circle,
    .center-wrap .paginator-box,
    .center-wrap .ag-bl-overlay {
        position: absolute !important;
    }

    .center-wrap #myFilter {
        overflow: hidden !important;
    }

    .center-wrap #footer .ag-header-row {
        display: none;
    }
    .center-wrap .printS {
        visibility: visible !important;
        position: absolute !important;
    }
    .center-wrap .tempImg, .center-wrap .showSign {
        visibility: hidden !important;
    }
    .center-wrap #collapseForm div:first-child {
        position: relative !important;
    }

    .center-wrap .df-input-radio-wrapper {
        border: none;
    }
    .ui-datepicker-trigger{
        display: none;
    }
    .triangle{
        display: none;
    }
    .noprint {
        display: none;
    }
    .add-item{
        display: none!important;
    }
    #edit, .form-setting-textarea .button , .ql-toolbar, .ui-btn-box button, .countView, .info, .upload-file, .shot-screen, .shot-screen, .refresh {
        display: none;
    }
}