.docs-example-viewer-body{
  padding: 20px;
  .mat-input-container{
    display: inline-block;
    border-bottom: 1px solid #ececec;
    position: relative;
      .mat-input-wrapper{
        padding: 7px 0;
        input{
          outline: none;
          border: 0;
          width: 100%;
        }
      }
    }
  .mat-select-list{
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
    min-height: 260px;
    overflow: auto;
  }
}