.form-chart-nine-grid {
    .y1 {
        clear: both;
    }
    .form-group {
        .customAccuracyNum {
            .form-chart-wrapper {
                span {
                    margin-left: 16px;
                    color: #666666;
                }
                input {
                    width: 200px;
                }
            }
        }
    }
}