<div class="find-pw-component">
    <div class="find-pw-step1">
        <div class="new-pw-group">
            <span class="new-pw-prompt">请输入新密码：</span>
            <input class="new-pw" type="password">
        </div>
        <div class="new-pw-confirm-group">
            <span class="new-pw-confirm-prompt">确认密码：</span>
            <input class="new-pw-confirm" type="password">
        </div>
        <button class="reset-pw-btn" type="submit">提交</button>
    </div>
    <div class="find-pw-step2">
        <div class="reset-result"></div>
        <button class="goLogin" type="button">点此登录</button>
    </div>
</div>
