$grid-bg: #FAFAFA;
$border-color: #eee;

@mixin dis-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@mixin diagonal {
    li:first-child div {
        background: #33b6ac;
        color: $grid-bg;
    }
    li:last-child {
        border-bottom: 0;
    }
    li {
        div:first-child {
            background: #5b95e8;
            color: #ffffff;
        }
        div:last-child {
            border: none;
        }
    }
    li:first-child {
        div:first-child {
            background-color: #f3f3f3 !important;
        }
    }
}

.bi-nine-grid {
    width: 100%;
    height: 100%;
    color: #666;
    overflow: auto;
    .grid {
        border: 1px solid $border-color;
        text-align: center;
        width: 406px;
        height: 206px;
        box-sizing: border-box;
        //@include dis-flex;
        //align-items: stretch;
        li {
            box-sizing: border-box;
            //order: 1;
            //flex-grow: 1;
            //overflow: hidden;
            //@include dis-flex;
            //flex-direction: row;
            width: 100%;
            height: 25%;
            border-bottom: 1px solid $border-color;
            font-weight: bold;
            div {
                //flex-grow: 1;
                //overflow: hidden;
                //@include dis-flex;
                //flex-direction: row;
                width: 24.8%;
                height: 100%;
                float: left !important;
                vertical-align: middle;
                border-right: 1px solid $border-color;
                span{
                    display: inline-block;
                    margin: 17px auto;
                }
            }
        }
        &.grid-type-4{
            li{
                height: 20%;
                div{
                    width: 19.8%;
                    span{
                        margin: 15px auto;
                    }
                }
            }
        }
        @include diagonal;
    }
    .grid-theme-green {
        li:first-child {
            div {
                background: #f1c888;
            }
        }
        li {
            div:first-child {
                background: #33b6ac;
            }
        }
    }
    .grid-theme-grayBlue {
        li:first-child {
            div {
                background: #5b95e8;
            }
        }
        li {
            div:first-child {
                background: #646c9e;
            }
        }
    }
    .legend {
        width: 406px;
        box-sizing: border-box;
        margin-top: 10px;
        //display: flex;
        //flex-wrap: wrap;
        //flex-direction: row;
        li {
            border-bottom: 1px solid #ddd;
            padding: 10px 0 4px 4px;
            //display: flex;
            width: 33%;
            height: 33%;
            float: left;
            box-sizing: border-box;
            label, span {
                display: inline-block;
            }
            label {
                font-weight: 400;
            }
        }
    }
    .legend-type-4 {
        li {
            width: 25%;
            height: 25%;
        }
    }
}
@media print {
    .bi-nine-grid {
        overflow: hidden!important;
    }
}