<div class="research-result">
    <div class="data-attachment-switch">
        <div class="switch-icon"></div>
        <div class="data-btn btn-active">数据</div>
        <div class="attachment-btn">附件</div>
    </div>
    <div class="data-result-display clearfix">
        <div class="data-count">
            <span class="data-num"></span>
            <span>条包含</span>
            <span class="data-name"></span>
            <span>的数据</span>
        </div>
        <div class="data-result-content"></div>
        <div class="data-page-control"></div>
    </div>

    <div class="attachment-result-display">
        <div class="attachment-count">
            <span class="attachment-num"></span>
            <span>条包含</span>
            <span class="attachment-name"></span>
            <span>的数据</span>
        </div>
        <div class="attachment-result-content"></div>
        <div class="attachment-page-control"></div>
    </div>

    <div class="result-nothing-display">
        <div class="nothing-count">
            <span>0条包含</span>
            <span class="nothing-name"></span>
            <span>的数据</span>
        </div>
        <div class="result-nothing-box">
            <div class="bg-nothing"></div>
            <div class="nothing-prompt">很抱歉，没有找到与搜索条件相匹配的数据</div>
        </div>
    </div>
</div>

