@import "../../../assets/scss/core/base";

.research-result{
    .data-annex-switch{
        text-align: center;
        .active{
          color: blue;
          border-bottom: solid 3px blue;
        }
    }
}