@import "../../../assets/scss/core/base";

.research-result{
    height: 100%;
    overflow: hidden;
    .data-attachment-switch{
        height: 50px;
        background: #ffffff;
        .switch-icon{
            width: 16px;
            height: 16px;
            margin: 18px 0 0 18px;
            background-image: url('../../../assets/images/framework/drag-icon.png');
            float: left;
        }
        .attachment-btn,.data-btn{
            line-height: 50px;
            //width: 40px;
            cursor: pointer;
            float: left;
            text-align: center;
           // margin-left: 10px;
            padding: 0 20px;
        }
        .btn-active{
            color: #0088ff;
            border-bottom: solid 2px #0088ff;
        }
    }

    .data-result-display{
        height: 92.5%;
        padding-top: 10px;
        background-color: #f2f2f2;
        .data-count{
            height: 30px;
            padding-top:20px;
            padding-left: 40px;
            .data-name{
                color: #0088ff;
            }
            //.data-count-display{
            //    line-height: 30px;
            //}
        }
        .data-result-content{
            margin-top: 15px;
            height: 87%;
            padding-left: 30px;
        }
        .data-page-control{
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
            .p-left{
                display: none;
            }

            .pagination-con{
                clear: none;
            }
        }
    }

    .attachment-result-display{
        height: 92.5%;
        padding-top: 10px;
        background-color: #f2f2f2;
        display: none;
        .attachment-count{
            height: 30px;
            padding-top:20px;
            padding-left: 40px;
            .attachment-name{
                color: #0088ff;
            }
            //.attachment-count-display{
            //    line-height: 30px;
            //}
        }
        .attachment-result-content{
            margin-top: 15px;
            height: 87%;
            padding-left: 30px;
            //.single-type2{
            //    width: 230px;
            //    height:177px;
            //    margin-bottom: 20px;
            //    float: left;
            //    padding: 5px 5px;
            //    margin-right: 30px;
            //}
        }
        .attachment-page-control{
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            .p-left{
                display: none;
            }

            .pagination-con{
                clear: none;
            }
        }
    }

    .result-nothing-display{
        height: 92.5%;
        padding-top: 10px;
        background-color: #f2f2f2;
        display: none;
        .nothing-count{
            height: 30px;
            padding-top:20px;
            padding-left: 40px;
            .nothing-name{
                color: #0088ff;
            }
        }
        .result-nothing-box{
            width: 341px;
            height: 281px;
            margin-left: calc(50% - 170px);
            margin-top: 10%;
            text-align: center;
            .bg-nothing{
                width: 256px;
                height: 256px;
                margin-left: 43px;
                background: url('../../../assets/images/framework/search-result-nothing.png');
            }
            .nothing-prompt{
                width: 341px;
                margin-top: 15px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #dcdcdc;
                font-size: 17px;
                user-select: none;
                cursor: auto;
            }
        }

    }
}

