<div class="research-result">
    <div class="data-attachment-switch">
        <div class="switch-icon"></div>
        <div class="data-btn btn-active">数据</div>
        <div class="attachment-btn">附件</div>
    </div>
    <div class="data-result-display clearfix">
        <div class="data-count"></div>
        <div class="data-result-content"></div>
        <div class="data-page-control"></div>
    </div>

    <div class="attachment-result-display">
        <div class="attachment-count"></div>
        <div class="attachment-result-content"></div>
        <div class="attachment-page-control"></div>
    </div>
</div>

