<div class="main-window">
    <div class="personal-setting-header">
        <div class="operator-group clearfix">
            {{#if otherLoginVisible}}
            <div class="login-group " >
                <i class="login-icon"></i>
                <span class="other-login">他人登录</span>
            </div>
            {{/if}}
            <div class="agent-group ">
                <i class="agent-icon"></i>
                <span class="set-agent">设置代理</span>
            </div>
        </div>

        <div class="info-group clearfix">
            <div class="avatar-box" title='点击设置头像'>
                <!--{{#if avatar}}-->
                <!--<img class="user-avatar" src="{{avatar}}">-->
                <!--{{/if}}-->
                <!--<img class="user_avatar" src="../../../assets/images/framework/test_avatar.jpg">-->
            </div>
            <div class="name-group">
                <span class="name " >{{name}}</span>
                <span class="username " >{{username}}</span>
            </div>
        </div>
    </div>

    <div class="view-control" >
        <div class="show-personal-info active">个人资料</div>
        <div class="show-modify-password">修改密码</div>
    </div>
    <!--个人信息面板-->
    <div class="personal-info">
        <div class="department-group">
            <span>部门：</span>
            <input type="text" class="department-info" disabled="disabled" value="{{department}} " title="{{department}}">
        </div>

        <div class="position-group">
            <span>职位：</span>
            <input type="text" class="position-info" disabled="disabled" value="{{position}} " title="{{position}}">
        </div>

        <div class="email-group">
            <span>邮箱：</span>
            <input type="email" class="email-info" disabled="disabled" value="{{user_email}} " title="{{user_email}}">
            <i class="edit-email icon-framework-edit"></i>
        </div>

        <div class="phone-group ">
            <span>电话：</span>
            <input type="tel" class="phone-info" disabled="disabled" value="{{user_phone}} " title="{{user_phone}}">
            <i class="edit-tel icon-framework-edit"></i>
        </div>
    </div>

    <div class="modify-password">
        <div class="old-pw-group">
            <!--<p class="old-password-capitalTip">键盘大写锁定已开启</p>-->
            <!--<span>旧密码：</span>-->
            <!--<input class="origin-pw" type="password">-->
        </div>

        <div class="new-pw-group">
            <!--<p class="new-password-capitalTip">键盘大写锁定已开启</p>-->
            <!--<span>新密码：</span>-->
            <!--<input class="new-psw"  maxlength="16">-->
            <!--<span>(密码长度限制在6-16位)</span>-->
            <!--<p class="new-password-tips"></p>-->
        </div>

        <div class="confirm-new-pw-group">
            <!--<p class="confirm-password-capitalTip">键盘大写锁定已开启</p>-->
            <!--<span>确认新密码：</span>-->
            <!--<input class="confirm-new-pw"  type="password" maxlength="16">-->
            <!--<p class="confirm-password-tips"></p>-->
        </div>
        <span class="password-rule-prompt">（密码需要由6-20位数字或字母组成）</span>
        <button class="confirm-btn">保存</button>
    </div>
</div>