.form-entry {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    h3 {
        font-size: 16px;
        color: #676a6c;
        padding: 15px 15px 10px 0;
        margin-bottom: 15px;
        border-bottom: solid 1px #e7eaec;
    }
    a {
        float: left;
        width: 150px;
        height: 100px;
        padding-top: 50px;
        text-align: center;
        color: #676a6c;
        font-size: 18px;
        margin: 10px;
        text-decoration: none;
        border: solid 1px #e7eaec;
    }
}