.form-chart-normal {
    .form-group {
        .auto-select-component {
            width: 250px;
        }
        .chart-group {
            position: relative;
            right: -265px;
            max-width: 250px;
            margin-top: -56px;
        }
        .default-y {
            .form-chart-wrapper {
                padding-top: 20px;
            }
        }
        .double-y {
            h4 {
                margin-bottom: 20px;
            }
        }
        .marginBottomx,
        .textNum,
        .marginBottom,
        .limitNum,
        .endLimitNum,
        .customTopNum,
        .titleSize,
        .chartSize
        {
            .form-chart-wrapper {
                span {
                    margin-left: 16px;
                    color: #666666;
                }
                input {
                    width: 200px;
                }
            }
        }
    }
}