@import "../../../assets/scss/core/base";
#header {
    &.mini {
        left: $aside-mini-width;
    }
    .header-wrap {
        height: $header-height;
        padding-right: 50px;
        .global-search {
            width: 220px;
            height: 40px;
            float: right;
            margin-top: 15px;
        }
        .icon {
            cursor: pointer;
            width: 24px;
            height: 24px;
            margin: 18px 20px 0 0;
            background-position: center;
            background-repeat: no-repeat;
            float: right;
            &.message {
                background-image: url("../../../assets/images/framework/message.png");
            }
            &.message-push {
                background-image: url("../../../assets/images/framework/message_push.png");
            }
            &.bi {
                background-image: url("../../../assets/images/framework/bi.png");
            }
            &.calendar {
                background-image: url("../../../assets/images/framework/calendar.png");
            }
            &.unread {
                position: relative;
                &:after {
                    content: ' ';
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 8px;
                    height: 8px;
                    background-color: red;
                    border-radius: 4px;
                }
            }
            &.home {
                background-image: url("../../../assets/images/framework/home.png");
            }
            &.other-login {
                background-image: url("../../../assets/images/framework/other-login.png");
            }
            &.im {
                background-image: url("../../../assets/images/framework/im.png");
            }
        }
        .setting {
            float: right;
            position: relative;
            .icon {
                background-image: url("../../../assets/images/framework/setting.png");
            }
            .slide {
                display: none;
                position: absolute;
                z-index: 1;
                background: #fff;
                border: 1px solid #ddd;
                border-bottom: 0 none;
                width: 120px;
                right: 0;
                top: 100%;
                line-height: 40px;
                text-align: center;
                li {
                    cursor: pointer;
                    border-bottom: 1px solid #ddd;
                    height: 40px;
                }
            }
            &:hover {
                .slide {
                    display: block;
                }
            }
        }


        .fold {
            cursor: pointer;
            width: 24px;
            height: 24px;
            margin: 18px 0 0 20px;
            background-position: center;
            background-repeat: no-repeat;
            float: left;
            background-image: url("../../../assets/images/framework/fold.png");
            &.refold {
                background-image: url("../../../assets/images/framework/refold.png");
            }
        }
    }
}
