<div class="header-wrap">
    <input type="text" class="search" placeholder="请输入要搜索的内容...">
    <div class="setting clearfix">
        <a class="icon"></a>
        <div class="slide">
            <ul>
                <li>在线人数(59)</li>
                <li>系统设置</li>
            </ul>
        </div>
    </div>
    <a class="icon message unread" title="消息提醒"></a>
    <a class="icon task" title="任务列表"></a>
    <a class="icon calendar" title="日历"></a>
    <a class="icon bi" title="BI"></a>
    <a class="fold" title="折叠菜单栏"></a>
</div>