.form-chart-comment {
    .form-group {
        .titleSize {
            .form-chart-wrapper {
                span {
                    margin-left: 16px;
                    color: #666666;
                }
                input {
                    width: 200px;
                }
            }
        }
    }
}