@import "../../../../assets/scss/core/base";
.expert-search-box {
    font-size:12px;
    .common-search {
        padding: 10px 15px;
        border-bottom: 10px solid #ffffff;
        background: #f2f2f2;
        max-height: 300px;
        overflow-y: auto;
        .common-search-title {
            color:#666666;
            margin-bottom:10px;
            height:25px;
            .text {
                display: inline-block;
                height: 25px;
                line-height: 30px;
            }
            .action {
                margin-left: 10px;
                display: inline-block;
                .common-search-compile {
                    display: inline-block;
                    height: 25px;
                    line-height: 30px;
                    color: #0F79EF;
                    cursor: pointer;
                    .img{
                        position: relative;
                        top:5px;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-position: right center;
                        //background: url(../../../../assets/images/dataGrid/icon_bianjimoshi.png) no-repeat scroll right center transparent;
                    }
                }
            }
        }
        .common-search-list {
            padding: 0;
            margin:0;
            list-style: none;
            display: inline-block;
            .common-search-item {
                padding: 0px 15px;
                height: 25px;
                line-height: 25px;
                margin-bottom: 5px;
                display: inline-block;
                background-color: #ffffff;
                color: #fff;
                cursor: pointer;
                margin-right: 15px;
                position: relative;
                border:1px solid #d7d7d7;
                border-radius: 4px;
                color: #666666;
                .item-delete {
                    position: absolute;
                    display: none;
                    z-index: 100;
                    top: -10px;
                    right: -10px;
                    width: 20px;
                    height: 20px;
                    background-position: right center;
                    //background: url(../../../../assets/images/form/error-msg.png) no-repeat scroll right center transparent;
                }
            }
        }

    }
    .condition-search {
        padding: 5px;
        border: 1px solid #f2f2f2;
        overflow-y: auto;
        //height: 408px;
        .condition-search-item {
            padding:5px;
            background-color: #fafafa;
            border: 1px solid #e4e4e4;
            border-top: none;
            .condition-search-select {
                font-size: 12px;
                height: 30px;
                background-color: #fafafa;
                background-position: right center;
                //background: url(../../../../assets/images/dataGrid/icon_xiala2.png) no-repeat scroll right center transparent;
                border: none;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                outline: none;
                padding-right: 14px;
                width: 60px;
                height: 30px;
                color: rgb(85, 85, 85);
                line-height: 30px;
                margin-right: 10px;
                &.radio {
                    width: 65px;
                }
                &.left-select {
                    width: 50px;
                }
                &.right-select {
                    width: 50px;
                }
                option:hover{
                    background-color: #f2f2f2;
                }
            }
            .condition-search-choice {
                display: inline-block;
                width: 20px;
                height: 12px;
                padding: 4px 0px;
                text-align: center;
                vertical-align: center;
                background-color: #f2f2f2;
                cursor: pointer;
                color: #d7d7d7;
                &.left-choice{
                    margin-right: 10px;
                }
                &.active {
                    background-color: #0e7aef;
                    color: #ffffff;
                }
            }
            .condition-search-box {
                display: inline-block;
                position: relative;
                width: 185px;
                top: -18px;
                .condition-search-box-input {
                    background-position: right center;
                    //background: url(../../../../assets/images/dataGrid/icon_xiala2.png) no-repeat scroll right center transparent;
                    position: absolute;
                    top:-1px;
                    font-size: 12px;
                    border: 1px solid rgb(201, 201, 201);
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    padding-right: 14px;
                    width: 151px;
                    height: 26px;
                    color: rgb(85, 85, 85);
                    line-height: 30px;
                    margin-right: 10px;
                    padding-left: 5px;
                }
                .condition-search-ul {
                    display: none;
                    z-index: 999;
                    padding: 0px;
                    margin: 0px;
                    position: absolute;
                    top: 28px;
                    max-height: 210px;
                    width: 170px;
                    overflow: auto;
                    line-height: 30px;
                    border: 1px solid rgb(201, 201, 201);
                    background: rgb(255, 255, 255);
                    .condition-search-li {
                        padding: 0 8px;
                        &:hover {
                           background: #f2f2f2;
                        }
                    }
                }
                .condition-search-ul::-webkit-scrollbar {
                    width: 4px;
                    height: 6px;
                }
                .condition-search-ul::-webkit-scrollbar-thumb {
                    border-radius: 5px;
                    -webkit-box-shadow: inset 0 0 5px rgba(242,242,242,0.290196);
                    background: rgba(242,242,242,0.2);
                }
                .condition-search-ul::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 5px rgba(242,242,242,0.290196);
                    border-radius: 0;
                    background: rgba(242,242,242,0.2);
                }
            }
            .condition-search-value {
                display: inline-block;
                width: 240px;
                .dynamic-form-input {
                    height: 26px;
                    color: rgb(85, 85, 85);
                    border: 1px solid rgb(201, 201, 201);
                    line-height: 28px;
                    //margin-right: 10px;
                    padding-left: 5px;
                    width: 214px;
                }
                .ui-datepicker-trigger {
                    top:4px;
                }
                .condition-search-input {
                    position: relative;
                    font-size: 12px;
                    border: 1px solid rgb(201, 201, 201);
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    padding-right: 14px;
                    width: 200px;
                    height: 26px;
                    color: rgb(85, 85, 85);
                    line-height: 30px;
                    margin-right: 16px;
                    padding-left: 5px;
                }
            }
            .condition-search-add {
                float: right;
                margin-right: 10px;
                display: inline-block;
                cursor: pointer;
                width: 14px;
                height: 30px;
                background-position: right center;
                //background: url(../../../../assets/images/dataGrid/icon_add_1.png) no-repeat scroll right center transparent;
            }
            .condition-search-delete {
                float: right;
                margin-right: 10px;
                display: inline-block;
                cursor: pointer;
                width: 14px;
                height: 30px;
                background-position: right center;
                //background: url(../../../../assets/images/dataGrid/icon_delete_1.png) no-repeat scroll right center transparent;
            }
        }
    }
    .button-box {
        background-color: #fff;
        position: absolute;
        bottom: 0px;
        width: calc(100% - 20px);
        padding: 10px;
        .button-group {
            float: right;
        }
        .save-img{
            position: relative;
            top:11px;
            display: inline-block;
            width: 14px;
            height: 30px;
            //background: url(../../../../assets/images/dataGrid/icon_save2.png) no-repeat scroll right center transparent;
            background-position: right center;
        }
        .save-button {
            color: #0F79EF;
            cursor: pointer;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin-right: 8px;
        }
        .search-button{
            cursor: pointer;
            width: 91px;
            height: 30px;
            background-color: #0088ff;
            border: 1px solid #0088ff;
            border-radius: 4px;
            color: #fff;
            margin-right: 8px;
        }
        .cancel-button {
            cursor: pointer;
            width: 91px;
            height: 30px;
            background-color: #fff;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            color: #666;
            margin-right: 8px;
        }
        .reset-button {
            cursor: pointer;
            width: 91px;
            height: 30px;
            background-color: #fff;
            border: 1px solid #d7d7d7;
            color: #666;
            border-radius: 4px;
            margin-right: 8px;
        }
    }
}
//.saveQueryName {
//  width: 250px;
//  height: 30px;
//}
//.saveQueryBtnList {
//  position: absolute;
//  top: 90px;
//  right: 30px;
//}
//.saveQueryBtnList button {
//  margin: 20px 10px 0;
//}
//
//.editCommonQuery {
//  background-color: #fff;
//  color: rgb(14, 122, 239);
//  font-size: 12px;
//  border:none;
//  outline:none;
//  margin:10px 0px 0px 5px;
//  line-height:30px;
//}
//
//#searchBox {
//  height:30px;
//  width:auto;
//}
//
//.defaultItem{
//  display: block;
//  background: rgb(255, 255, 255);
//  text-indent: 10px;
//  color: rgb(51, 51, 51);
//}
//.selectItem{
//  background: rgb(60, 144, 255);
//  text-indent: 10px;
//  color: rgb(255, 255, 255);
//}