$grid-bg: #FAFAFA;
$border-color: #eee;
$grid-color: #666;
@mixin dis-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin diagonal{
      li:last-child div{
        background-color: #33b6ac;
        color: $grid-bg;
      }
      li:first-child{
        div:first-child{
          background-color: $grid-bg;
        }
      }
      li:nth-child(2){
        div:nth-child(2){
          background-color: $grid-bg;
        }
      }
      li:nth-child(3){
        div:nth-child(3){
          background-color: $grid-bg;
        }
      }
      li:nth-child(4){
        div:nth-child(4){
          background-color: $grid-bg;
        }
      }
      li:last-child{
        div:last-child{
          background-color: $grid-bg;
          color: #666;
        }
      }
  }
.bi-nine-grid{
  width: 100%;
  color: #666;
  overflow: auto;
  .grid{
    float: left;
    border: 1px solid $border-color;
    text-align: center;
    width: 300px;
    height: 300px;
    @include dis-flex;
    align-items: stretch;
    li{
      order: 1;
      flex-grow: 1;
      overflow: hidden;
      @include dis-flex;
      flex-direction: row;
      border-bottom: 1px solid $border-color;
      font-weight: bold;
      div{
        flex-grow: 1;
        overflow: hidden;
        @include dis-flex;
        flex-direction: row;
        width:100px;
        height:100px;
        border-right: 1px solid $border-color;
      }
      div:last-child{
        border: none;
        background-color: #5b95e8;
        color: #ffffff;
      }
    }
    @include diagonal;
  }
  .legend{
    float: right;
    width: 220px;
    border: 1px solid #eee;
    border-bottom: none;
    li{
      height: 34px;
      line-height: 34px;
      border-bottom: solid 1px $border-color;
      @include dis-flex;
      flex-direction: row;
      label{
        @include dis-flex;
        flex-grow: 1;
        flex-direction: row;
        border-right: solid 1px $border-color;
        color: $grid-color;
        font-weight: bold;
      }
      span{
        display: flex;
        flex-grow: 3;
        justify-content: center;
      }
    }
    li:nth-child(odd){
      background-color: $grid-bg;
    }
  }
}