.my-mask{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 200;
}
.closeImg{
    position: absolute;
    right:20px;
    top:20px;
    cursor: pointer;
    z-index: 202;
}
.closeImg{
    content:url('../../../assets/images/form/icon_close_red.png');
}
.closeImg:hover{
    content:url("../../../assets/images/form/icon_close_white.png");
}
.mask-div{
    z-index: 201;
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.img-pre{
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    z-index: 202;
    max-height:80%;
}
.operator-buttons{
    position: absolute;
    transform: translate(50%,-50%);
    right: 50%;
    bottom: 0;
    width: 350px;
    height: 50px;
    z-index: 202;
    padding:0 20px;
    background: rgba(0,0,0,0.3);
    padding-top: 5px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.operator-buttons li{
    z-index: 202;
    padding:5px 15px;
}
.scale {
    font-size:20px;
    color:white;
}
.previous {
    z-index: 202;
    position: absolute;
    left: 20px;
    top: 50%;
    cursor: pointer;
}
.previous {
    content:url('../../../assets/images/form/icon_previous_red.png');
}
.previous:hover {
    content:url('../../../assets/images/form/icon_previous_white.png');
}
.next {
    z-index: 202;
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
}
.next {
    content: url('../../../assets/images/form/icon_next_red.png');
}
.next:hover {
    content: url('../../../assets/images/form/icon_next_white.png');
}
