
<div class="my-mask">
    <div class="mask-div"></div>
    <div class="imgwrapper"><img class="img-pre" alt=""></div>
    <ul class="operator-buttons">
        <li class="save" style="cursor: pointer" title="下载">
            <a class='download-url' style="color: blue;">
                <img src="../../../assets/images/form/icon_save.png">
            </a>
        </li>
        <li class="zoom-out" style="cursor: pointer" title="缩小"><img src="../../../assets/images/form/icon_zoom_out.png"></li>
        <li class="zoom-in" style="cursor: pointer" title="放大"><img src="../../../assets/images/form/icon_zoom_in.png"></li>
        <li class="resize" style="cursor: pointer" title="还原初始尺寸"><img src="../../../assets/images/form/icon_resize.png"></li>
        <li class="rotate" style="cursor: pointer" title="逆时针旋转90度"><img src="../../../assets/images/form/icon_anticlockwise.png"></li>
        <li class="rotate-anti" style="cursor: pointer" title="顺时针旋转90度"><img src="../../../assets/images/form/icon_clockwise.png"></li>
    </ul>
    <div class="closeImg"><img src="../../../assets/images/form/icon_close.png"></div>
    <div class="previous"><img src="../../../assets/images/form/icon_arrow_left.png"></div>
    <div class="next"><img src="../../../assets/images/form/icon_arrow_right.png"></div>
</div>
</div>