$bg-color:#d7d7d7;

.chart-form{
  overflow: auto;
  height: calc(100% - 75px);
  .save{
    margin-top: 20px;
    button{
      border: none;
      color: #fff;
      width: 210px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #3b8cff;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      outline: none;
      position: relative;
      }
    }
  .form-group-y0{
    margin: 26px 0;
    border: 1px solid $bg-color;
    position: relative;
    padding: 10px;
    &:after{
      content: '请选择Y轴字段';
      position: absolute;
      top: -10px;
      left: 10px;
      width: 102px;
      height: 20px;
      font-size: 14px;
      background-color: #ffffff;
      color: $bg-color;
    }
  }
  .group-active{
    margin: 26px 0;
    border: 1px solid $bg-color;
    position: relative;
    padding: 10px;
    &:after{
      content: '请选择Y轴字段';
      position: absolute;
      top: -10px;
      left: 10px;
      width: 102px;
      height: 20px;
      font-size: 14px;
      background-color: #ffffff;
      color: $bg-color;
    }
  }
}
