@import "../../../../assets/scss/core/base";
.history-approve{
    padding:10px;
    .history-tab{
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #ddd;
        .history-tab-item {
            display: block;
            float: left;
            margin: 0 5px;
            font-size: 15px;
            line-height: 39px;
            cursor: pointer;
            padding: 0 10px;
            color: #666;
            font-size: 12px;
            &.active{
                color: #0E7AEF;
                border: 1px solid #ddd;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom: 1px solid #fff;
            }
        }
    }
    .history-container {
        .history-content{
            display: none;
            padding:15px 0;
            &.active{
                display: block;
            }
            .history-table-box{
                .history-table{
                    width: 100%;
                    th{
                        height: 30px;
                        line-height: 30px;
                    }
                    td{
                        height: 30px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}