.dragCustom {
    padding: 1px;
    font-size: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F2F2F2;

    .checkbox-uncheck {
        background-position: -26px 0px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }
    .checkbox-check {
        background-position: -26px -52px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }

    .l-shi {
        background-position: -52px 0px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }

    .l-kong {
        background-position: -26px -26px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }

    .r-shi {
        background-position: -78px 0px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }

    .r-kong {
        background-position: -52px -52px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }

    .custom-search {
        height: 30px;
        width: calc(100% - 5px);
        border: 1px solid #D7D7D7;
        border-bottom: none;
        .title {
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            margin-bottom: 5px;
            .icon-l {
                display: block;
                position: absolute;
                top: 8px;
                left: 10px;
                width: 16px;
                height: 16px;
                background-position: -78px -52px;
            }
            .text {
                margin-left: 30px;
                display: inline-block;
                position: relative;
                top: -11.5px;
            }
            .line {
                display: inline-block;
                height: 30px;
                width: 1px;
                border-left: 1px solid #d7d7d7;
                position: relative;
                left: 96px;
            }
            .closeCustom {
                display: inline-block;
                width: 30px;
                height: 30px;
                position: relative;
                left: 90px;
                background-position: 7px;
            }
            .closeCustom:hover {
                cursor: pointer;
            }
        }
        .custom-select-all {
            width: 16px;
            height: 16px;
            padding: 2px;
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;
        }
        #custom-search-input {
            width: 140px;
            margin-left: 5px;
        }
    }
    .custom-box {
        padding: 5px;
        border: 1px solid #d7d7d7;
        height: calc(100% - 74px);
        width: calc(100% - 15px);
        .custom-select-all {
            width: 16px;
            height: 16px;
            padding: 2px;
            margin-left: 3px;
            display: inline-block;
            //vertical-align: middle;
            position: relative;
            top: 7px;
        }
        .custom-select-all:hover {
            cursor: pointer;
        }
        #custom-search-input {
            width: 152px;
            //margin-left: 5px;
            font-size: 12px;
            height: 20px;
            border: 1px solid #d7d7d7;
            padding-left: 3px;
            background-position: right;
        }
        .custom-data {
            height: calc(100% - 43px);
            overflow-y: auto;
            border: 1px solid #D7D7D7;
            padding: 2px;
            margin-top: 10px;
            #dragCustom {
                width: 100%;
                margin: 0;
                padding: 0;
                display: block;
                .ui-state-default span:hover {
                    cursor: n-resize;
                }
                li {
                    display: block;
                    height: 25px;
                    line-height: 25px;
                    font-size: 12px;
                    margin-bottom: 4px;
                    background-color: #e4e4e4;
                    .custom-name {
                        display: inline-block;
                        width: 93px;
                        line-height: 22px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        margin-left: 5px;
                    }

                    .custom-checkbox {
                        box-sizing: content-box;
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        padding: 2px;
                        padding-bottom: 3px;
                    }
                    .custom-checkbox:hover {
                        cursor: pointer;
                    }
                    .custom-fix-l {
                        box-sizing: content-box;
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        padding: 2px;
                        margin-left: 5px;
                    }
                    .custom-fix-r {
                        box-sizing: content-box;
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        padding: 2px 5px;
                    }

                    .custom-fix-r:hover {
                        cursor: pointer;
                    }
                    .custom-fix-l:hover {
                        cursor: pointer;
                    }

                    .custom-disabled {
                        border: 1px solid #c5c5c5;
                    }
                    .custom-checkbox:hover .custom-disabled:hover {
                        cursor: default;
                    }
                }
            }
        }
    }

}

.custom-data::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.custom-data::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(14, 122, 239, 0.290196);
    background: rgba(14, 122, 239, 0.2);
}

.custom-data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(14, 122, 239, 0.290196);
    border-radius: 0;
    background: rgba(14, 122, 239, 0.1);
}