.echarts-cell {
    .approval-ul {
        margin: 10px;
        height: calc(100% - 25px);
        width: calc(100% - 15px);
        overflow-y: auto;
        overflow-x: hidden;
        .approval-li{
            margin: 2px 0;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 30px;
            line-height: 14px;
            font-size: 12px;
            cursor: pointer;
            width: 100%;
            div{
                padding: 8px;
                display: inline-block;
                height: 14px;
                background: #EAF8FE;
            }
        }
        &::-webkit-scrollbar{
            width: 1px;
        }
    }
}