#pagetabs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .page-tab {
        line-height: 30px;
        height: 50px;
        background-color: #FFFFFF;
        user-select: none;
        position: absolute;
        left: 0;
        z-index: 20;
        margin-left: 15px;
        opacity: 0;
        ul {
            width: 100%;
            height: 100%;
            line-height: 30px;
            display: block;
            margin: 0;
            padding: 0;

            .flex{
                display: flex;
                align-items: center;
                &:hover{
                    .icon-icon-data{
                        background-position: 0px 0px;
                    }
                    .icon-icon-in-transit{
                        background-position: -52px 0px;
                    }
                    .icon-icon-help{
                        background-position: 0px -26px;
                    }
                    span{
                        color: #0088FF;

                    }
                }
                span{
                    transition: color 0.3s;
                }
            }
            .dataTableInTransit {
                position: relative;
                .inProcessNum {
                    display: none;
                    position: absolute;
                    right: 2px;
                    top: 17px;
                    width: 8px;
                    height: 8px;
                    background-color: red;
                    border-radius: 4px;
                }
            }
            .dataTableHelp {
                display: none;
            }
            li {
                display: block;
                float: left;
                padding: 10px 18px 10px 16px;
                cursor: pointer;
                //width: 60px;
                border-bottom: 2px solid #fff;
                //margin-right: 30px;
                &.iconTool {
                    width: 15px;
                    margin-right: 3px;
                    border: none;
                    padding: 16px 0px;
                    cursor: default;
                }
                a {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    height: 24px;
                    line-height: 30px;
                    text-decoration: none;
                    color: #666;
                    margin-top: 4px;
                    .icon-aggrid-new{
                        margin: 0px 4px;
                    }

                }

                &.active {
                    border-bottom: 2px solid #0088FF;
                    .flex {
                        color: #0088FF;
                        .icon-icon-data{
                            background-position: 0px 0px;
                        }
                        .icon-icon-in-transit{
                            background-position: -52px 0px;
                        }
                        .icon-icon-help{
                            background-position: 0px -26px;
                        }
                        span{
                            color: #0088FF;
                        }
                    }

                }
            }
        }
        .ui-dialog-title {
            font-size: 12px!important;
        }
    }
    .page-group {
        height: 100%;
        .dataTableAgGrid {
            float: left;
            width: calc(100% - 2px);
            height: 100%;
            #data-table-agGrid {
                position: relative;
                width: 100%;
                height: 100%;
                > div {
                    height: 100%;
                }
            }
        }
        .dataTableInTransit {
            width: calc(100% - 2px);
            float: left;
            display: none;
            height: 100%;
            #data-table-in-process {
                position: relative;
                width: 100%;
                height: 100%;
                > div {
                    height: 100%;
                }
            }
        }
    }
    .data-table-agGrid-con{
        @media screen and (min-width: 1100px) and (max-width: 1350px){
            .dataGrid-btn-group {
                span {
                    display: none;
                }
                a{
                    margin-left: 30px !important;
                }
            }
        }
        @media screen and (max-width: 1100px){
            .dataGrid-btn-group {
                span {
                    display: none;
                }
                a{
                    margin-left: 10px !important;
                }
            }
        }
    }
}


