<div id="pagetabs">
    <div class="page-tab">
        <ul class="tabTitle">
            <li class="iconTool">
                <i style="margin-top: 2px;" class="icon-aggrid-new icon-aggrid-tool"></i>
            </li>
            <li class="dataTableAgGrid active">
                <a class="flex" href="##">
                    <i class="icon-aggrid-new icon-icon-data"></i>
                    <!--<i class="icon-aggrid-new icon-icon-data-check active"></i>-->
                    <span>数据</span>
                </a>
            </li>
            <li class="dataTableInTransit">
                <a class="flex" href="##">
                    <i class="icon-aggrid-new icon-icon-in-transit"></i>
                    <!--<i class="icon-aggrid-new icon-icon-in-transit-check"></i>-->
                    <span>在途</span>
                    <span class="inProcessNum"></span>
                </a>
            </li>
            <li class="dataTableMiniForm" style="width: 80px;">
                <a class="mini-form-btn flex">
                    <i class="icon-aggrid-miniForm"></i>
                    <span class="">未提交表单</span>
                </a>
            </li>
            <li class="dataTableHelp">
                <a class="flex" href="##">
                    <i class="icon-aggrid-new icon-icon-help"></i>
                    <!--<i class="icon-aggrid-new icon-icon-help-check"></i>-->
                    <span>帮助</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="page-group">
        <div class="dataTableAgGrid tabContent">

            <div id="data-table-agGrid"></div>
        </div>
        <div class="dataTableInTransit tabContent">
            <div id="data-table-in-process"></div>
        </div>
    </div>
</div>