<div id="pagetabs">
    <div class="page-tab">
        <ul class="tabTitle">
            <li class="dataTableAgGrid active">
                <a class="left " href="##">
                    <i class="icon-aggrid-new icon-icon-data"></i>
                    <i class="icon-aggrid-new icon-icon-data-check active"></i>
                    数据
                </a>
            </li>
            <li class="dataTableInTransit">
                <a class="right" href="##">
                    <i class="icon-aggrid-new icon-icon-in-transit"></i>
                    <i class="icon-aggrid-new icon-icon-in-transit-check"></i>
                    在途
                    <span class="inProcessNum"></span>
                </a>
            </li>
            <li class="dataTableHelp">
                <a class="right" href="##">
                    <i class="icon-aggrid-new icon-icon-help"></i>
                    <i class="icon-aggrid-new icon-icon-help-check"></i>
                    帮助
                </a>
            </li>
        </ul>
    </div>
    <div class="page-group">
        <div class="dataTableAgGrid tabContent">

            <div id="data-table-agGrid"></div>
        </div>
        <div class="dataTableInTransit tabContent">
            <div id="data-table-in-process"></div>
        </div>
    </div>
</div>