#pagetabs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .page-tab {
        line-height: 30px;
        background-color: #FFFFFF;
        user-select: none;
        position: absolute;
        left: 0;
        z-index: 20;
        margin-left: 15px;
        ul {
            width: 100%;
            height: 100%;
            line-height: 30px;
            display: block;
            margin: 0;
            padding: 0;
            .dataTableInTransit {
                position: relative;
                .inProcessNum {
                    display: none;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 8px;
                    height: 8px;
                    background-color: red;
                    border-radius: 4px;
                }
            }
            li {
                display: block;
                float: left;
                margin: 14px 5px;
                cursor: pointer;
                a {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    height: 28px;
                    line-height: 30px;
                    border-bottom: 2px solid #fff;
                    padding: 0 10px;
                    text-decoration: none;
                    color: #666;
                    .icon-aggrid-new{
                        margin-right: 5px;
                    }
                    .icon-icon-data-check {
                        display: none;
                    }
                    .icon-icon-help-check {
                        display: none;
                    }
                    .icon-icon-in-transit-check {
                        display: none;
                    }
                }
                a:hover {
                    color: #0088ff;
                    .icon-icon-data-check {
                        display: inline-block;
                    }
                    .icon-icon-data {
                        display: none;
                    }
                    .icon-icon-help-check {
                        display: inline-block;
                    }
                    .icon-icon-help {
                        display: none;
                    }
                    .icon-icon-in-transit-check {
                        display: inline-block;
                    }
                    .icon-icon-in-transit {
                        display: none;
                    }
                }
                &.active {
                    border-bottom: 2px solid #0088FF;
                    a {
                        color: #0088FF;
                    }
                    .icon-icon-data {
                        display: none;
                    }
                    .icon-icon-data-check {
                        display: inline-block;
                    }
                    .icon-icon-help-check {
                        display: inline-block;
                    }
                    .icon-icon-help {
                        display: none;
                    }
                    .icon-icon-in-transit-check {
                        display: inline-block;
                    }
                    .icon-icon-in-transit {
                        display: none;
                    }
                }
            }

        }
    }
    .page-group {
        height: 100%;
        .dataTableAgGrid {
            float: left;
            width: calc(100% - 2px);
            height: 100%;
            #data-table-agGrid {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
        .dataTableInTransit {
            width: calc(100% - 2px);
            float: left;
            display: none;
            height: 100%;
            #data-table-in-process {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
}


