#pagetabs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-tab {
  height: 30px;
  line-height: 30px;
  background-color: #eeeeee;
  ul {
    width: 100%;
    height: 100%;
    line-height: 30px;
    display: block;
    margin: 0;
    padding: 0;
    li {
      display: block;
      float: left;
      margin: 0 5px;
      font-size: 14px;
      line-height: 30px;
      cursor: pointer;
      a{
        height: 26px;
        line-height: 26px;
        width: auto;
        text-decoration: none;
        color: #666666;
        border-bottom: #0E7AEF;
      }
      a:hover{
        background-color: rgba(187, 220, 255, 1);
      }
      .active{
        color: #004DC2;
        border-bottom: 1px solid #004DC2;
      }
    }

  }
}

.page-group {
  height: calc( 100% - 30px );
  .dataTableAgGrid {
    float: left;
    width: calc(100% - 2px);
    height: 100%;
    #data-table-agGrid {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .dataTableInTransit {
    width: calc(100% - 2px);
    float: left;
    display: none;
    height: 100%;
  }
}