<div id="pagetabs">
    <div class="page-tab">
        <ul class="tabTitle">
            <li class="dataTableAgGrid"><a class=" left-active active" href="##">数据</a></li>
            <li class="dataTableInTransit"><a class="right-active" href="##">在途</a></li>
        </ul>
    </div>
    <div class="page-group">
        <div class="dataTableAgGrid tabContent">
            <div id="data-table-agGrid"></div>
        </div>
        <div class="dataTableInTransit  tabContent">
            <div>在途页面</div>
        </div>
    </div>
</div>