.excute-con {
    width: 920px;
    margin: 0 auto;
    div {
        border: 1px solid #afafaf;
        border-top: none;
        height: 40px;
    }
    input:hover {
        cursor: pointer;
    }
    span {
        display: inline-block;
        text-align: center;
        font-size: 12px;
        line-height: 40px;
    }
    .span1 {
        width: 200px;
        border-right: 1px solid #afafaf;
    }
    .span2 {
        width: 500px;
        border-right: 1px solid #afafaf;
    }
    .span3 {
        width: 200px;
    }
    .submit {
        font-family: '\5FAE\8F6F\96C5\9ED1';
        text-align: center;
        font-weight: 400;
        cursor: pointer;
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF !important;
        text-decoration: none;
        border: none;
        width: 50px;
        height: 20px;
        line-height: 10px;
        background-color: rgba(0, 136, 255, 1);
        border-radius: 2px;
    }
}