.data-table-agGrid-con {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* datagrid头部样式 */
.header-style-r {
  text-align: right;
}

.header-style-l {
  text-align: left;
}

.header-style-midfont {
  font-size:14px;
}

.header-style-bigfont {
  font-size:15px;
}

.header-select {
  padding: 0px 4px;
}

.ag-grid-number {
  font-size: 12px!important;
}

/*grid初始化按钮*/
.table-init-logo{
  color:rgb(51,122,183);
  cursor:pointer;
}

.table-init-logo:hover{
  color:rgb(195,195,195);
  cursor:pointer;
  text-decoration: none;
}

.btn-nav {
  height: 30px;
  width: 100%;
}
.dataGrid-commonQuery {
  float: left;
  padding-left: 15px;
  .dataGrid-commonQuery-select {
    padding: 6px 12px;
    text-indent: 0;
    color: #0E7AEF;
    float: left;
    width: 90px;
    font-size: 12px;
    height: 30px;
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../../../../assets/images/dataGrid/icon_xiala.png) no-repeat scroll right center transparent;
  }
}
.dataGrid-btn-group {
  float: right;
  display: none;
  margin-right: 10px;
  line-height: 25px;
  a {
    cursor: pointer;
    margin-left: 30px;
    position: relative;
    color: #555555;
    text-decoration: none;
    font-size: 14px;
    img {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: sub;
      margin-right: 6px;
    }
  }
}

#data-agGrid {
  width: 100%;
  float: left;
  position: relative;
  height: 100%;
}

.group-panel {
  width: 200px;
  height: 100%;
  float: left;
  background: #f0f0f0;
  position: relative;
  display: none;
}

.custom-columns-panel {
  width: 200px;
  height: 100%;
  float: left;
  background: #f0f0f0;
  position: relative;
  display: none;
}

.pagination {
  height: 30px;
  width: 100%;
  clear: both;
}

//sheet分页
.SheetPage {
  display: none;
  height: 17px;
  line-height: 17px;
  font-size: 14px;
  height: 20px;
  width:100%;
  background: #F2F2F2;
  ul {
    display: block;
    margin: 0;
    padding: 0px;
    li {
      display: block;
      float: left;
      border: 1px solid #afafaf;
      padding: 0 7px;
    }
    li:hover {
      cursor: pointer;
    }
  }
}

.ag-grid-con {
  height: calc( 100% - 60px );
}