.password-component-group{
    height: 55px;
    .password-title{
        display: inline-block;
        height: 40px;
        line-height: 40px;
        float: left;
    }
    .input-box{
        box-sizing: border-box;
        float: left;
        //padding-top: 15px;
        margin-left: 15px;
        position: relative;
        .caps-lock-tips{
            position: absolute;
            top: -15px;
            left: 0;
            display: none;
            height: 15px;
            line-height: 15px;
            color: #ff863c;
        }
        .set-password-input{
            height: 30px;
            width: 250px;
            background-color: #fafafa;
            border: solid 1px #e4e4e4;
            outline: none;
            text-indent: 10px;
            margin: 4px 0 4px 0;
            &:focus{
                border: solid 1px #0088ff;
            }
        }
        .input-password-warning{
            height: 15px;
            line-height: 15px;
            color: red;
        }
        .default-faker-password{
            position: absolute;
            width: 16px;
            height: 16px;
            background-image: url("../../../assets/images/util/password/display-passowrd.png");
            cursor: pointer;
            top:15px;
            left: 225px;
            &.display-password{
                top:14px;
                background-image: url("../../../assets/images/util/password/faker_password.png");
            }
        }
    }

    //气泡tips
    .poptip{position: absolute;top: 20px;left:20px;padding: 6px 10px 5px;*padding: 7px 10px 4px;line-height: 16px;color: #DB7C22;font-size: 12px;background-color: #FFFCEF;border: solid 1px #FFBB76;border-radius: 2px;box-shadow: 0 0 3px #ddd;}
    .poptip-arrow{position: absolute;overflow: hidden;font-style: normal;font-family: simsun;font-size: 12px;text-shadow:0 0 2px #ccc;}

    .poptip-arrow em,.poptip-arrow i{position: absolute;left:0;top:0;font-style: normal;}
    .poptip-arrow em{color: #FFBB76;}
    .poptip-arrow i{color: #FFFCEF;text-shadow:none;}

    .poptip-arrow-top,.poptip-arrow-bottom{height: 6px;width: 12px;left:12px;margin-left:-6px;}
    .poptip-arrow-left,.poptip-arrow-right{height: 12px;width: 6px;top: 12px;margin-top:-6px;}

    .poptip-arrow-top{top: -6px;}
    .poptip-arrow-top em{top: -1px;}
    .poptip-arrow-top i{top: 0px;}

    .poptip-arrow-bottom{bottom: -6px;}
    .poptip-arrow-bottom em{top: -8px;}
    .poptip-arrow-bottom i{top: -9px;}
    .poptip-arrow-left{left:-6px;}
    .poptip-arrow-left em{left:1px;}
    .poptip-arrow-left i{left:2px;}
    .poptip-arrow-right{right:-6px;}
    .poptip-arrow-right em{left:-6px;}
    .poptip-arrow-right i{left:-7px;}
}