.password-component-group{
    height: 80px;
    .password-title{
        display: inline-block;
        height: 74px;
        line-height: 74px;
        float: left;
    }
    .input-box{
        box-sizing: border-box;
        float: left;
        padding-top: 15px;
        margin-left: 15px;
        position: relative;
        .caps-lock-tips{
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            height: 15px;
            line-height: 15px;
            color: #ff863c;
        }
        .set-password-input{
            height: 30px;
            width: 250px;
            background-color: #fafafa;
            border: solid 1px #e4e4e4;
            outline: none;
            text-indent: 10px;
            margin: 5px 0 5px 0;
            &:focus{
                border: solid 1px #0088ff;
            }
        }
        .input-password-warning{
            height: 15px;
            line-height: 15px;
            color: red;
        }
    }

    //tips
    .ui-tooltip, .arrow:after {
        background: black;
        border: 2px solid white;
    }
    .ui-tooltip {
        padding: 10px 20px;
        color: white;
        border-radius: 20px;
        font: bold 14px "Helvetica Neue", Sans-Serif;
        text-transform: uppercase;
        box-shadow: 0 0 7px black;
    }
    .arrow {
        width: 70px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -16px;
    }
    .arrow.top {
        top: -16px;
        bottom: auto;
    }
    .arrow.left {
        left: 20%;
    }
    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        tranform: rotate(45deg);
    }
    .arrow.top:after {
        bottom: -20px;
        top: auto;
    }

}