<div class="password-component-group">
    <span class="password-title"></span>
    <div class="input-box">
        <!--<div class="caps-lock-tips">键盘大写锁定已开启</div>-->
        <div class="poptip caps-lock-tips">
            <span class="poptip-arrow poptip-arrow-bottom"><em>◆</em><i>◆</i></span>
            键盘大写锁定已开启
        </div>
        <input class="set-password-input" type="password" maxlength="16">
        <i class="default-faker-password"></i>
        <span class="password-rule"></span>
        <div class="input-password-warning"></div>
    </div>
</div>