//时间日期
  .ui_tpicker_hour,.ui_tpicker_minute,.ui_tpicker_second,.ui_tpicker_hour_label,.ui_tpicker_minute_label,.ui_tpicker_second_label{
    display: none;
  }
.ui_tpicker_time_input{

}

.ui-icon, .ui-widget-content .ui-icon {
 // background-image: url("../../../assets/images/form/icon_pre.png")
}
.ui-datepicker td span, .ui-datepicker td a {
 border: 0;
  background: 0;
}