<div class="form-control component-date-control">
    {{#if unvisible}}
    <a href="javascript:void(0);" class="info">权限受限</a>
    {{else if be_control_condition }}
    <a href="javascript:void(0);" class="info">被修改条件限制</a>
    {{else}}
    {{#if isAgGrid}}
    <input type="text" class="ui-calendar ui-width dynamic-form-input datetime" placeholder="年-月-日 时:分:秒" value="{{value}}"/>
    {{else}}
    <div class="datetime-control">
        <input type="text" class="ui-calendar ui-width dynamic-form-input datetime" placeholder="年-月-日 时:分:秒" value="{{value}}"/>
    </div>
    {{/if}}
    <!--<input type="text" id="aa">-->
    <span id="errorMessage" ></span>
    {{#if required}}
    <span id="requiredLogo" class="{{requiredClass}}" style="position:relative;left:-18px"></span>
    {{/if}}
    <a href="javascript:void(0);" class="ui-history icon-history form-icon visible" style="position: relative; left: -18px"
       title="修改历史"></a>
    {{/if}}
</div>