//时间日期
  .ui_tpicker_hour,.ui_tpicker_minute,.ui_tpicker_second,.ui_tpicker_hour_label,.ui_tpicker_minute_label,.ui_tpicker_second_label{
    display: none;
  }
.ui_tpicker_time_input{

}

.ui-icon, .ui-widget-content .ui-icon {

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  background: none;
  font-weight: normal/*{fwDefault}*/;
  color: #454545/*{fcDefault}*/;
}