<div class="aside-tool">
    <span class="erds-logo">ERDS</span>
    <div class="icon message">
        <a class="icon-toolbar icon-toolbar-message" title="消息提醒"></a>
    </div>
    <div class="icon workbench">
        <a class="icon-toolbar icon-toolbar-workbench" title="工作台"></a>
    </div>
    {{#if calendarVisible}}
    <div class="icon calendar">
        <a class="icon-toolbar icon-toolbar-calendar" title="日历"></a>
    </div>
    {{/if}}
    <div class="icon folder">
        <a class="icon-toolbar icon-toolbar-folder" title="文件夹"></a>
    </div>
    <div class="icon setting">
        <a class="icon-toolbar icon-toolbar-setting" title="系统设置"></a>
    </div>
</div>