@mixin nine-flex{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 12px;
}
@mixin nine-font{
  .nine-x{
    width: 100%;
    height: 34px;
    line-height: 34px;
    margin-bottom: 16px;
    font-size: 14px;
  }
}
.nine-grid-column-x {
  padding: 20px 60px;
  @include nine-font;
}
.nine-grid-column-y {
  padding: 20px 60px;
  @include nine-font;
}
.x-columns{
  @include nine-flex;
}
.y-columns{
  @include nine-flex;
}