.form-chart-normal{
    .auto-select-component{
        width:250px;
    }
    .chart-assignment{
        select {
            margin-top: 20px;
        }
    }
    .chart-group {
        position: relative;
        right:-265px;
        max-width:250px;
        margin-top: -56px;
    }
}