.left-button.disable {
  content: url("../../../../assets/images/form/icon_left_grey.png");
  padding: 22px 0;
}
.right-button.disable {
  content: url("../../../../assets/images/form/icon_right_grey.png");
  padding: 22px 0;
}
.left-button.enable {
  content: url("../../../../assets/images/form/icon_left.png");
  padding: 22px 0;
}
.right-button.enable {
  content:url("../../../../assets/images/form/icon_right.png");
  padding: 22px 0;
}
.preview {
  z-index: 1000;
  position: absolute;
  top:100px;
  left: auto;
  max-height: 70%;
  max-width: 50%;
}
