.thumbnail-list{
  .left-button.disable {
    content: url("../../../../assets/images/form/icon_left_grey.png");
    padding: 22px 0;
  }
  .right-button.disable {
    content: url("../../../../assets/images/form/icon_right_grey.png");
    padding: 22px 0;
  }
  .left-button.enable {
    content: url("../../../../assets/images/form/icon_left.png");
    padding: 22px 0;
  }
  .right-button.enable {
    content:url("../../../../assets/images/form/icon_right.png");
    padding: 22px 0;
  }
  .image-controller-frame {
    width: 210px;
    height: 10px;
    .image-controller {
      margin: auto;
      .dot.enable {
        display: inline-block;
        background: royalblue;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        margin: 5px;
      }
      .dot.disable{
        display: inline-block;
        background: darkgrey;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        margin: 5px;
      }
    }
  }
}
