.thumbnail-list{
  .image-controller-frame {
    height: 10px;
    width:auto;
    text-align: center;
    .image-controller {
      margin: auto;
      .dot.enable {
        display: inline-block;
        background: royalblue;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        margin: 5px;
      }
      .dot.disable{
        display: inline-block;
        background: darkgrey;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        margin: 5px;
      }
    }
  }
}
