.online-users-page{
    .online-user-main{
        padding: 10px 10px 0 10px;
        .user-grid{
            position: relative;
            height: 485px;
            width: 1174px;
            border: double #e4e4e4;
        }

        .user-pagination{
            height: 40px;
            margin-top: 5px;
            div.p-page-con{
                float: left;
                height: 40px;
            }
            div.selectPage-con{
                margin-left: 30px;
                float: left;
            }
        }
    }
}
