.attachment-queue-item {
  padding: 5px 0;

  .processing{
    width:50px;
    display: inline-block;
    color:darkgrey;
    cursor: pointer;
  }

  .delete-file{
    width:50px;
    display: inline-block;
    color:blue;
    cursor: pointer;
  }

  .preview {
    width:50px;
    display: inline-block;
    color:blue;
    cursor:pointer;
  }

  .keep-on-attaching{
    width:50px;
    display: inline-block;
    color:darkgrey;
    cursor: pointer;
  }

  .pause-attaching{
    width:50px;
    display: inline-block;
    color:darkgrey;
    cursor:pointer;
  }

  .re-uploading{
    width:50px;
    display: inline-block;
    color:darkgrey;
    cursor: pointer;
  }

  .cancel-attaching{
    width:50px;
    display: inline-block;
    color:darkgrey;
    cursor: pointer;
  }

  .file-name{
    width: 150px;
    display: inline-block;
  }

  #process-num{
    width:50px;
    display: inline-block;
    color:darkgrey;
  }

  .loader {
    display: inline-block;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

