$a-bg: #3b8cff;
$a-bg2: #f8645c;

.view {
    max-width: 600px;
    padding: 15px;
    overflow: hidden;
    background-color: #F5F5F5;
    line-height: 26px;
    h4 {
        font-size: 16px;
        float: left;
        a {
            color: #000000;
        }
        a:hover {
            color: $a-bg;
        }
    }
    p {
        float: right;
        a {
            background-color: $a-bg;
            color: #ffffff;
        }
        a:last-child {
            background-color: $a-bg2;
        }
        .btn-shadow {
            line-height: 26px;
        }
    }
}