.view {
    max-width: 600px;
    padding: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
    line-height: 26px;
    margin-top: 10px;
    h4 {
        font-size: 16px;
        float: left;
        i{
            width: 40px!important;
            height: 40px!important;
            vertical-align: middle;
            margin-right: 20px;
            background-size: 40px 40px!important;
        }
        a {
            color: #000000;
        }
    }

    p {
        float: right;
        height: 40px;
        line-height: 40px;
        a {
            color: #ffffff;
            margin: 0 10px 0 0;
            i{
                vertical-align: middle;
            }
        }
        .btn-shadow {
            line-height: 26px;
        }
    }
}