#add-follow{
	height: 550px;
	width: 800px;
	overflow-x: hidden;
	padding: 10px;
	box-sizing: border-box;
}
#add-home{
	.selectSpan{
		margin-right: 15px;
	}
}
#add-home .add-follow,#cloneId1 .add-follow{
	color: #000;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	border: 1px solid rgba(228,228,228,1);
	padding: 0 5px;
	font-weight: normal;
	.add-icon{
		margin-right: 5px;
	}
	
}
.follow-name-list{
	position: relative;
	min-height: 65px;
	padding: 10px 5px;
	line-height: 20px;
  }
.follower-select{
	background: #fff;
	box-shadow: none;
	width: 100%;
	height: 100%;
	visibility: visible;
	z-index: 1014;
	.follower-select-main{
		position: relative;
		height: 100%;
		border: 1px solid #eee;
		.flexItem{
			flex-grow: 1;
			flex-shrink: 0;
			width: 33.33%;
			overflow: auto;
			height: 520px;
			position: relative;
			border-right: 1px solid #e4e4e4;
			border-bottom: 1px solid #e4e4e4;
			&:last-child{
				border-right: none;
			}
		}
	}

	#selected{
		box-sizing: border-box;
		padding: 10px;
		margin-top: 1px;
		>div{
			width: 33.33%;
			text-align: center;
			height: 30px;
			line-height: 30px;
			margin-bottom: 10px;
			float: left;
			.rightpeople{
				background: #eee;
				display: block;
				margin: 0 5px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
	#saveFollower{
		position: fixed;
		right: 12px;
		bottom: 6px;
		background: #0088ff;
		color: #fff;
	}
	.close{
		position: absolute;
		right: 60px;
		bottom: 0;
	}
	.checkbox{
		background: url('../../../../assets/images/util/tree/icon_checkbox_no.png') center/20px 20px no-repeat;
		display: inline-block;
		width: 16px;
		height: 16px;
	}
	.checkbox.checked{
		background: url('../../../../assets/images/util/tree/icon_checkbox_yes.png') center/20px 20px no-repeat;
	}
}
[disabled]{
	background: #eee;
}
.addConter{
	.addCont{
		width: 800px;
		height: 600px;
		left:50%;
		top:50%;
		margin-left: -400px;
		margin-top: -300px;
		position: fixed;
		.addContDiv{
			height: 30px;
			line-height: 30px;
			border: 0 none;
			border-radius: 0;
			text-align: center;
			background: #F6F6F6;
			button{
				border: none;
				float: right;
			}
		}
	}
  }

#treeMulti,.search-main-m{
	.buttons-in-tree{
		position: fixed;
		top: 490px;
		width: 248px;
	}
	.search-in-tree-hd{
		position:fixed;
		background: #fff;
		z-index: 99;
		.txt{
			width: 48px;
			flex-shrink: 0;
		}
		.search-in-tree-box{
			flex-grow: 1;
			margin-left: 10px;
			width: 175px;
			input{
				border: 1px solid #E4E4E4;
				height: 22px;
			}
		}
	}
	.search-main-m-hd{
		border-bottom: 1px solid #E4E4E4;
		position: sticky;
		top: 31px;
		z-index: 30;
		background: #fff;
		.search-main-m-hd-item{
			height: 30px;
			line-height: 30px;
			padding-left: 5px;
			border-right: 1px solid #eee;

			&:nth-child(1){
				width: 30px;
				flex-shrink: 0;
				padding-left: 0;
				position: relative;
				input{
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -8px;
					margin-left: -8px;
					height: 16px;
					width: 16px;
					&:before{
						width: 14px;
						height: 14px;
					}
					&:after{
						width: 12px;
						height: 12px;
					}
				}
			}
			&:nth-child(2),&:nth-child(3){
				flex-grow: 1;
				width: 80px;
			}
			&:nth-child(3){
				border-right: none;
			}
		}
	}

}
.addConter #staffMulti{
  padding-top:30px;
}
.addConter #staffMulti{
	>div:nth-child(1n){
		.search-check-row{
			background: #fafafa;
		}
	}
	>div:nth-child(2n){
		.search-check-row{
			background: #fff;
		}
	}
	#gzNoDel{
		display:flex;
		background: #eee;
		.search-check-item{
			border-right: 1px solid #E4E4E4;
		}
	}
	.search-check-row{
		border-bottom: 1px solid #E4E4E4;

		.search-check-item{
			height: 30px;
			line-height: 30px;
			padding-left: 5px;
			border-right: 1px solid #eee;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			&:nth-child(1){
				width: 30px;
				flex-shrink: 0;
				padding-left: 0;
				position: relative;
				.checkbox{
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -8px;
					margin-left: -8px;
				}
			}
			&:nth-child(2){
				flex-grow: 1;
				width: 80px;
			}
			&:nth-child(3){
				flex-grow: 1;
				border-right: none;
				width: 80px;
			}
		}


	}
}