.component-favobtn {
    float: left;
    line-height: 30px;
    position: relative;
    margin: 0 20px 20px 0;
    div {
        cursor: pointer;
        span {
            display: block;
            padding: 0 10px;
            text-align: center;
            line-height: 30px;
            height: 30px;
            background-color: #2298f4;
            border: 1px solid rgba(215, 215, 215, 1);
            border-radius: 4px;
            box-shadow: none;
            color: #fff;
        }
    }
    .wf-del {
        display: none;
        .workflow-del {
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            top: -6px;
            right: -6px;
        }
    }

}

