.common-btn{
    float: left;
    line-height: 30px;
    position: relative;
    margin: 0 20px 20px 0;
    div{
        cursor: pointer;
        span{
            display: block;
            padding: 0 10px;
            text-align: center;
            line-height: 30px;
            height: 30px;
            background: #117DED;
            color: #fff;
        }
    }
    .wf-del{
        display: none;
        .workflow-del{
            width: 12px;
            height: 12px;
            background: red;
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    
}

