.form-chart-pie {
    .form-group {
        .endLimitNum,
        .limitNum {
            .form-chart-wrapper {
                span {
                    margin-left: 16px;
                    color: #666666;
                }
                input {
                    width: 200px;
                }
            }
        }
        .customRadius {
            position: relative;
            .form-label {
                position: absolute;
                padding: 0;
                border: none;
                top: -30px;
                left: 130px;
                i, span {
                    display: none;
                }
            }
        }
    }
    .customAccuracyNum {
        .form-chart-wrapper {
            span {
                margin-left: 16px;
                color: #666666;
            }
            input {
                width: 200px;
            }
        }
    }
}
