.date-filed {
    height: calc(100% - 26px) !important;
}
.date-zoom-wrap {
    .normal-date-range {
        height: 56px;
    }
    .date-filed {
        height: calc(100% - 56px) !important;
    }
}
.count-chart-maxText {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}