<div class="workflowGrid-con">
    <!--按鈕-->
    <div class="btn-nav">
        <div class="workflowGrid-btn-group">
            <a class="float-search-btn" href="javascript:;" title="搜索"><img src="../../../assets/images/dataGrid/icon_sousuo_1.png" alt=""><span>搜索</span></a>
            <a class="expert-search-btn" href="javascript:;" title="高级查询"><img src="../../../assets/images/dataGrid/icon_gaojichaxun_1.png" alt=""><span>高级查询</span></a>
            <a class="custom-column-btn" href="javascript:;" title="定制列"><img src="../../../assets/images/dataGrid/icon_dingzhilie_1.png" alt=""><span>定制列</span></a>
            <a class="grid-new-window" href="javascript:;" target="_blank" title="全屏"><img src="../../../assets/images/dataGrid/icon_quanping.png" alt=""><span>全屏</span></a>
        </div>
    </div>
    <div class="workflow-grid-con">
        <!--agGrid数据展示-->
        <div id="workflow-agGrid">

    </div>
    <!--定制列-->
    <div class="custom-columns-panel">

    </div>
    </div>
    <!--分页-->
    <div class="pagination">
    </div>
</div>