<div class="workflowGrid-con">
    <!--按鈕-->
    <div class="btn-nav flex flex-end">
        <div class="headerTips"><i></i><span></span></div>
        <div class="dataGrid-commonQuery">
            <select class="dataGrid-commonQuery-select icon-aggrid-select" title="选择常用查询">
                <option class="dataGrid-commonQuery-option" fieldId="100" value="常用查询">常用查询</option>
            </select>
        </div>
        <div class="workflowGrid-btn-group">
            <a class="float-search-btn" href="javascript:;" title="筛选"><i class="icon-aggrid icon-aggrid-filter"></i><span>筛选</span></a>
            <a class="expert-search-btn" href="javascript:;" title="高级查询"><i class="icon-aggrid icon-aggrid-search"></i><span>高级查询</span></a>
            <a class="custom-column-btn" href="javascript:;" title="定制列"><i class="icon-aggrid icon-aggrid-custom"></i><span>定制列</span></a>
            <a class="grid-auto-width" href="javascript:;" title="自适宽度"><i class="icon-aggrid icon-aggrid-self-adaptation"></i><span>自适宽度</span></a>
            <a class="batch-cancel" href="javascript:;" title="批量取消"><i class="icon-aggrid icon-aggrid-cancel"></i><span>批量取消</span></a>
            <a class="grid-new-window" href="javascript:;" target="_blank" title="新窗口"><i class="icon-aggrid icon-aggrid-full-screen"></i><span>新窗口</span></a>
        </div>
    </div>
    <div class="workflow-grid-con">
        <!--agGrid数据展示-->
        <div id="workflow-agGrid"></div>
        <!--定制列-->
        <div class="custom-columns-panel"></div>
    </div>
    <!--分页-->
    <div class="pagination">
    </div>
    <div class="urge-con">
    </div>
    <div class="urge">
        <div class="urge-title">催办</div>
        <div class="urge-text">
            <p>请设置催办内容</p>
            <textarea class="urge-info"></textarea>
        </div>
        <div class="btn-group">
            <button class="submit-urge">确定</button>
            <button class="cancel-urge">取消</button>
        </div>
    </div>
</div>