.workflow-header-hd{
    .imgtip{
        width: 16px;
        height: 16px;
        margin-right: 5px;
        display: inline-block;
        background: url("../../../assets/images/workflow/workflow-icon.png") no-repeat -18px -56px;
    }
}