<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Views</title>
</head>
<body>
    <div class="views">
        <section class="views-container">
            <div class="nav">
                <div class="nav_white">
                    <span class="nav-list">
                        <a href="#" class="active">测试001</a>
                        <a href="#">测试002</a>
                        <a href="#">测试003</a>
                        <a href="#">测试004</a>
                        <a href="#">测试005</a>
                        <a href="#">测试006</a>
                        <a href="#">测试007</a>
                        <a href="#">测试008</a>
                        <a href="#">测试009</a>
                        <a href="#">测试010</a>
                    </span>
                </div>

            </div>
            <div class="tabs">

            </div>
        </section>
    </div>
</body>
</html>