<div class="views-container">
    <h3>
        <span>视图列表</span>
        <a href="javascript:;" class="but-shadow save"><span>保存视图排序</span></a>
        <a href="javascript:;" class="but-shadow create"><span>新建视图</span></a>
    </h3>
    <div class="view-list">
        <!--{{#each views}}-->
        <!--<div class="view">-->
            <!--<h4>-->
                <!--<a href="javascript:;"><span>{{name}}</span></a>-->
            <!--</h4>-->
            <!--<p>-->
                <!--<a href="javascript:;" class="but-shadow"><span>编辑</span></a>-->
                <!--<a href="javascript:;" class="but-shadow"><span>删除</span></a>-->
            <!--</p>-->
        <!--</div>-->
        <!--{{/each}}-->
    </div>
</div>