.personal-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .ui-link{
        cursor: pointer;
    }
    .ag-cell-value {
        padding: 0px 8px!important;
        line-height: 30px;
    }
    .choose-department {
        width: 300px;
        height: 100%;
        float: left;
        position: relative;
        .choose-department-tree {
            padding: 15px;
            padding-top: 40px;
            .list-group-item {
                cursor: pointer;
                padding: 5px 5px 5px 5px;
            }
            padding-top: 30px;
            border-top: 1px solid #E4E4E4;
            height: calc(100% - 60px);
            //overflow: visible;
            overflow-y: auto;
        }
        .tips {
            height: 60px;
            font-size: 12px;
            padding-left: 15px;
            display: flex;
            i {
                background: url("../../../assets/images/dataGrid/tab-title.png") no-repeat;
                width: 16px;
                height: 16px;
                display: block;
                margin-right: 20px;
                margin-top: 21px;
            }
            span {
                line-height: 60px;
            }
        }
        .tree-tips {
            position: absolute;
            width: 100%;
            background: #F2F2F2;
            height: 30px;
            display: flex;
            i {
                background: url("../../../assets/images/dataGrid/tree-title.png") no-repeat;
                width: 16px;
                height: 16px;
                display: block;
                margin-right: 6px;
                margin-top: 7px;
                margin-left: 15px;
            }
            span {
                line-height: 30px;
            }
        }
    }
    .personal-grid {
        width: calc(100% - 300px);
        height: 100%;
        float: left;
        .tips {
            float: left;
            line-height: 60px;
            position: absolute;
            font-size: 15px;
        }
        .btn-nav {
            height: 60px;
            width: 100%;
            .query-tips,.exports-tips{
                position: absolute;
                width: 200px;
                height: 70px;
                background: #fff;
                text-align: center;
                line-height: 70px;
                right: calc(50% - 100px);
                top: calc(50% - 100px);
                box-shadow: 0 0 5px #ccc;
                z-index: 100;
                font-size:14px;
                background: rgba(255, 255, 255, 0.7);
                .query-tips-delete,.exports-tips-delete {
                    position: absolute;
                    display: block;
                    color: #999;
                    width: 16px;
                    height: 16px;
                    right: 0px;
                    cursor: pointer;
                    background: url(../../../assets/images/framework/close.png) no-repeat scroll center center transparent;
                }
                .title {
                    display: inline-flex;
                }
                .text {
                    display: inline-block;
                    width: 84px;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
            }
            &.flex {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            //.component-time-control {
            //    width: 100%;
            //    div:first-child{
            //        width: 100%;
            //    }
            //}
            //.component-date-control {
            //    img {
            //        top: 0px!important;
            //    }
            //}
            .dataGrid-commonQuery {
                //display: none;
                margin-top: 3px;
                float: left;
                padding-left: 15px;
                .dataGrid-commonQuery-select {
                    cursor: pointer;
                    padding: 0 23px 0 12px;
                    border: 1px solid #d7d7d7;
                    border-radius: 4px;
                    text-indent: 0;
                    color: #666666;
                    float: left;
                    width: 115px;
                    font-size: 12px;
                    height: 25px;
                    display: inline-block;
                    outline: none;
                    box-shadow: none;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    background-position: 90px;
                }
            }
            .dataGrid-btn-group {
                //float: right;
                display: flex;
                align-items: center;
                margin-right: 10px;
                height: 60px;

                .datagrid-icon-box {
                    display: flex;
                    align-items: center;
                    .icon-aggrid {
                        margin-right: 5px;
                    }
                }
                a {
                    cursor: pointer;
                    margin-left: 30px;
                    position: relative;
                    color: #B399A6;
                    text-decoration: none;
                    font-size: 12px;
                    img {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        vertical-align: sub;
                        margin-right: 4px;
                    }
                }
            }
        }
        .btn-nav.flex {
            display: flex;
            align-items: center;
        }
        .btn-nav.flex.flex-end {
            justify-content: flex-end;
        }

        .ag-grid-con {
            height: calc(100% - 100px);
            position: relative;
            #data-agGrid {
                width: 100%;
                position: relative;
                height: 100%;
            }
            .custom-columns-panel {
                width: 200px;
                height: 100%;
                background: #f0f0f0;
                position: absolute;
                display: block;
                right: -200px;
                z-index: 1;
                top: 0px;
            }
        }
        .pagination {
            height: 30px;
            width: 100%
        }
        .ag-floating-bottom {
            display: none!important;
        }
    }

    @media screen and (min-width: 1100px) and (max-width: 1400px){
        .dataGrid-btn-group {
            span {
                display: none;
            }
            a{
                margin-left: 30px !important;
            }
        }
    }
    @media screen and (max-width: 1100px){
        .dataGrid-btn-group {
            span {
                display: none;
            }
            a{
                margin-left: 10px !important;
            }
        }
    }
}
