.personal-con {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .choose-department {
    width: 300px;
    height: 100%;
    float: left;
    .choose-department-tree {
      padding: 15px;
    }
    .tips {
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      padding-left: 15px;
    }
  }
  .personal-grid {
    width: calc( 100% - 300px );
    height: 100%;
    float: left;
    .tips {
      float: left;
      line-height: 30px;
      font-size: 15px;
    }
    .btn-nav {
      height: 30px;
      width: 100%;
      .dataGrid-commonQuery {
        //display: none;
        float: left;
        padding-left: 15px;
        .dataGrid-commonQuery-select {
          padding: 6px 12px;
          text-indent: 0;
          color: #0E7AEF;
          float: left;
          width: 110px;
          font-size: 12px;
          height: 30px;
          display: inline-block;
          border: none;
          outline: none;
          box-shadow: none;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          background: url(../../../assets/images/dataGrid/icon_xiala.png) no-repeat scroll right center transparent;
        }
      }
      .dataGrid-btn-group {
        float: right;
        display: block;
        margin-right: 10px;
        line-height: 30px;
        height: 30px;
        a {
          cursor: pointer;
          margin-left: 20px;
          position: relative;
          color: #B399A6;
          text-decoration: none;
          font-size: 14px;
          img {
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: sub;
            margin-right: 6px;
          }
        }
      }
    }

    .ag-grid-con {
      height: calc( 100% - 60px );
      #data-agGrid {
        width: 100%;
        float: left;
        position: relative;
        height: 100%;
      }
      .custom-columns-panel {
        width: 200px;
        height: 100%;
        float: left;
        background: #f0f0f0;
        position: relative;
        display: none;
      }
    }
    .pagination {
      height: 30px;
      width: 100%
    }
  }
}