<div class="personal-con">
    <div class="choose-department">
        <div class="tips">部门</div>
        <div class="choose-department-tree"></div>
    </div>
    <div class="personal-grid">
        <div class="tips">人员</div>
        <!--按鈕-->
        <div class="btn-nav">
            <!--<span>人员</span>-->
            <div class="dataGrid-commonQuery">
                <select class="dataGrid-commonQuery-select">
                    <option class="dataGrid-commonQuery-option" fieldId="100" value="常用查询">常用查询</option>
                </select>
            </div>
            <div class="dataGrid-btn-group">
                <a class="float-search-btn" href="javascript:;" title="搜索"><img src="../../../assets/images/dataGrid/icon_sousuo_1.png" alt=""><span>搜索</span></a>
                <a class="expert-search-btn" href="javascript:;" title="高级查询"><img src="../../../assets/images/dataGrid/icon_gaojichaxun_1.png" alt=""><span>高级查询</span></a>
                <a class="new-form-btn" href="javascript:;" title="新增"><img src="../../../assets/images/dataGrid/icon_add_1.png" alt=""><span>新增</span></a>
                <a class="grid-del-btn" href="javascript:;" title="删除"><img src="../../../assets/images/dataGrid/icon_delete_1.png" alt=""><span>删除</span></a>
                <a class="grid-import-btn" href="javascript:;" title="导入"><img src="../../../assets/images/dataGrid/icon_daoru_1.png" alt=""><span>导入</span></a>
                <a class="grid-export-btn" href="javascript:;" title="导出"><img src="../../../assets/images/dataGrid/icon_daochu_1.png" alt=""><span>导出</span></a>
                <a class="custom-column-btn" href="javascript:;" title="定制列"><img src="../../../assets/images/dataGrid/icon_dingzhilie_1.png" alt=""><span>定制列</span></a>
                <a class="grid-auto-width" href="javascript:;" title="自适宽度"><img src="../../../assets/images/dataGrid/icon_kuanduzishiyng_1.png" alt=""><span>自适宽度</span></a>
                <a class="show-all-btn" href="javascript:;" title="显示所有"><img src="../../../assets/images/dataGrid/icon_shuaxin_blue.png" alt=""><span>显示所有</span></a>
                <a class="show-leave-btn" href="javascript:;" title=""><img src="../../../assets/images/dataGrid/icon_shuaxin_blue.png" alt=""><span>显示离职</span></a>
                <a class="grid-new-window" href="/datagrid/custom_index/?table_id={{tableId}}&folder_id=8&custom_id=personal-information" target="_blank" title="全屏"><img src="../../../assets/images/dataGrid/icon_quanping.png" alt=""><span>全屏</span></a>
            </div>
        </div>
        <!--sheet分页-->
        <div class="SheetPage">

        </div>
        <div class="ag-grid-con">
            <!--agGrid数据展示-->
            <div id="data-agGrid">

            </div>
            <!--定制列-->
            <div class="custom-columns-panel">

            </div>
        </div>
        <!--分页-->
        <div class="pagination">
        </div>
    </div>
</div>