<div class="clearfix">
    {{#if unvisible}}
        <a href="javascript:void(0);" style="color:#ccc;">权限受限</a>
    {{else if be_control_condition }}
        <a href="javascript:void(0);" style="color:#ccc;">被修改条件限制</a>
    {{else}}
        <input type="text" class="ui-calendar ui-width dynamic-form-input timeInput"  value={{value}}>
        <span class="cancel-x">X</span>
        <div class="ui-timepicker ui-widget-header ui-corner-all time" style="border:1px solid #000000;background: none;display: none;">
            <!--时-->
            <div class="ui-hour-picker hour">
                <a href="javascript:;" class="plus">+</a>
                <span style="display: inline;"></span>
                <a href="javascript:;" class="reduce">-</a>
            </div>
            <span  class="ui-separator" style="position:relative;top: -18px">:</span>
            <!--分-->
            <div class="ui-minute-picker minute">
                <a href="javascript:;" class="plus">+</a>
                <span style="display: inline;"></span>
                <a href="javascript:;" class="reduce">-</a>
            </div>
            <span  class="ui-separator" style="position:relative;top: -18px">:</span>
            <!--秒-->
            <div class="ui-second-picker second">
                <a href="javascript:;" class="plus">+</a>
                <span style="display: inline;"></span>
                <a href="javascript:;" class="reduce">-</a>
            </div>
        </div>
        {{#if required}}
            <span id="requiredLogo" class="{{requiredClass}}" ></span>
        {{/if}}
        {{#if history}}
            <a href="javascript:void(0);" class="ui-history" ></a>
        {{/if}}
        </div>
    {{/if}}
</div>