.component-time-control {
    display: inline-flex;
    .ui-history{
        margin-top: 5px;
    }
    .time {
        width: 240px;
        display: block;
        border: 0;
        z-index: 1;
        box-sizing: border-box;
    }
    .timeInput {
        display: block;
    }
    .input-img {
        position: relative;
        left: -22px;
        top: 4px;
    }
    .ui-datepicker-close, .ui-datepicker-current {
        background: #0088FF;
        height: 25px;
        color: white;
        position: relative;
        display: block;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .ui-datepicker-close{
        float: right;
    }
    .ui-datepicker-current{
        float: left;
    }
    .time-close {
        padding-top: 7px;
        padding-right: 7px;
        height: 40px;
        background: #f2f2f2;
    }
    .ui-timepicker div input {
        width: 25px;
    }
    .ui-calendar {
        position: relative;
        display: inline-block;
    }
    .ui-calendar button {
        position: absolute;
        height: 100%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        position: absolute;
        width: 2em;
        border-left: 0 none;
    }
    //时分秒
    .ui-timepicker {
        text-align: center;
        padding: .5em 0;
    }
    .ui-timepicker > div {
        display: inline-block;
        margin-left: .5em;
        min-width: 1.5em;
    }
    .ui-timepicker > .ui-minute-picker,
    .ui-timepicker > .ui-second-picker {
        margin-left: 0;
    }
    .ui-timepicker > .ui-separator {
        margin-left: 0px;
        min-width: .75em;
    }
    .ui-timepicker > .ui-separator a {
        visibility: hidden;
    }
    .ui-timepicker > div a {
        display: block;
        opacity: 0.7;
        filter: Alpha(Opacity=70);
    }
}