<div class="clearfix component-time-control">
    {{#if unvisible}}
    <p class="info">权限受限</p>
    {{else if be_control_condition }}
    <p class="info">被修改条件限制</p>
    {{else}}
    <div style="position: relative; float: left;">
        <input type="text" disabled class="ui-calendar ui-width dynamic-form-input timeInput"  placeholder="时:分:秒" onkeyup="this.value = this.value.replace(/[^\d:&' '&]|_/ig,'')"
               value="{{value}}">
        <a href="javascript:void(0);" class="input-img icon-time form-icon"></a>
        <div class="time" style="display: none">
            <div class="ui-timepicker " style="background: #FAFAFA;display: block; border-bottom: 1px solid #E1E1E1">
                <!--时-->
                <div class="ui-hour-picker hour">
                    <a href="javascript:;" class="plus icon-plus form-icon"></a>
                    <span style="display: inline;"></span>
                    <a href="javascript:;" class="reduce icon-reduce form-icon"></a>
                </div>
                <span class="ui-separator" style="position:relative;">:</span>
                <!--分-->
                <div class="ui-minute-picker minute">
                    <a href="javascript:;" class="plus icon-plus form-icon"></a>
                    <span style="display: inline;"></span>
                    <a href="javascript:;" class="reduce icon-reduce form-icon"></a>
                </div>
                <span class="ui-separator" style="position:relative;">:</span>
                <!--秒-->
                <div class="ui-second-picker second">
                    <a href="javascript:;" class="plus icon-plus form-icon"></a>
                    <span style="display: inline;"></span>
                    <a href="javascript:;" class="reduce icon-reduce form-icon"></a>
                </div>
            </div>

            <div class="time-close">
                <button class="ui-datepicker-close">确定</button>
                <button class="ui-datepicker-current">使用当前时间</button>
            </div>
        </div>
    </div>
    <div style="float: left; position: relative;left: -20px">
        {{#if required}}
        <span id="requiredLogo" class="{{requiredClass}}" style="position: relative; top: 5px;"></span>
        {{/if}}
        <a href="javascript:void(0);" class="ui-history icon-history form-icon visible" title="修改历史"  ></a>
    </div>
    {{/if}}


</div>