<div class="flex flex-column flex-start">
    <div class="workflow-box-l">
        <div class="tit">
            <i class="workflow-icon-box workflow-icon-record"></i>
            <span>审批记录</span>
        </div>
    </div>
    <div class="workflow-box-r">
        <div class="workflow-record-box">
            <div class="workflow-record-tit flex">
                <div class="tit-col">节点</div>
                <div class="tit-col">时间</div>
                <div class="tit-col">动作</div>
                <div class="tit-col">审批意见</div>
                <div class="tit-col">附件</div>
            </div>

            <div class="workflow-record-list">
                {{#each approve_tips}}
                    <div class="workflow-record-item flex">
                        <div class="txt-item">{{this.handler_name}}</div>
                        <div class="txt-item">{{this.handler_time}}</div>
                        <div class="txt-item">{{this.approve_result}}</div>
                        <div class="txt-item tipsText">{{this.comment}}</div>
                        <div class="txt-item comment-attachment">attachment</div>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>

