<div class="flex">
    <div class="workflow-box-l">
        <div class="tit">
            <span>审批记录</span>
            <i></i>
        </div>
    </div>
    <div class="workflow-box-r">
        <div class="workflow-record-box">
            <div class="workflow-record-tit flex">
                <div class="tit-col">节点</div>
                <div class="tit-col">时间</div>
                <div class="tit-col">动作</div>
                <div class="tit-col">审批意见</div>
            </div>
            <div class="workflow-record-list">
                <div class="workflow-record-item flex">
                    <div class="txt-item">erds小助手</div>
                    <div class="txt-item">2017-08-07 11:07:23</div>
                    <div class="txt-item">加签</div>
                    <div class="txt-item">审批意见</div>
                </div>

                <div class="workflow-record-item flex">
                    <div class="txt-item">erds小助手</div>
                    <div class="txt-item">2017-08-07 11:07:23</div>
                    <div class="txt-item">加签</div>
                    <div class="txt-item">审批意见</div>
                </div>

                <div class="workflow-record-item flex">
                    <div class="txt-item">erds小助手</div>
                    <div class="txt-item">2017-08-07 11:07:23</div>
                    <div class="txt-item">加签</div>
                    <div class="txt-item">审批意见</div>
                </div>

                <div class="workflow-record-item flex">
                    <div class="txt-item">erds小助手</div>
                    <div class="txt-item">2017-08-07 11:07:23</div>
                    <div class="txt-item">加签</div>
                    <div class="txt-item">审批意见</div>
                </div>

                <div class="workflow-record-item flex">
                    <div class="txt-item">erds小助手</div>
                    <div class="txt-item">2017-08-07 11:07:23</div>
                    <div class="txt-item">加签</div>
                    <div class="txt-item">审批意见</div>
                </div>

                <div class="workflow-record-item flex">
                    <div class="txt-item">erds小助手</div>
                    <div class="txt-item">2017-08-07 11:07:23</div>
                    <div class="txt-item">加签</div>
                    <div class="txt-item">审批意见</div>
                </div>

                <div class="workflow-record-item flex">
                    <div class="txt-item">erds小助手</div>
                    <div class="txt-item">2017-08-07 11:07:23</div>
                    <div class="txt-item">加签</div>
                    <div class="txt-item">审批意见</div>
                </div>
            </div>
        </div>
    </div>
</div>
