.workflow-record-box{
  .workflow-record-tit{
    border: 1px solid #ddd;

    .tit-col{
      border-right: 1px solid #ddd;
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      &:last-child{
        border-right: none;
      }
      &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
        flex-grow: 1;
        width: 80px;

      }
      //&:nth-child(4){
      //  flex-grow: 2;
      //  width: 100px;
      //}
    }
  }
  .workflow-record-list{
    border: 1px solid #ddd;
    .workflow-record-item{
      border-bottom: 1px solid #ddd;
      .txt-item{
        font-size: 12px;
        border-right: 1px solid #ddd;
        height: 35px;
        line-height: 35px;
        padding-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:last-child{
          border-right: none;
        }
        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
          flex-grow: 1;
          width: 80px;

        }
        //&:nth-child(4){
        //  flex-grow: 2;
        //  width: 100px;
        //}
      }
      &:last-child{
        border-bottom: none;
      }

    }

  }
}
#J_tooltip{
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  text-align: justify;
  max-width: 300px;
  word-wrap: break-word;
  z-index: 120;
}