<div class="sys-setting-main clearfix">
    <div class="switch-part">
        <div class="style-btn active">样式</div>
        <div class="rapid-btn">快捷</div>
        <div class="home-page-btn">首页</div>
    </div>

    <div class="style-setting">
        <!--<div class="font-set-group">-->
            <!--<span class="prompt">表格字体大小</span>-->
            <!--<span class="font-size">12</span>-->
            <!--<div class="font-size-slider">-->
                <!--<input type="range" name="range" min="12" max="20" step="1" class="font-range"  value="12" />-->
            <!--</div>-->
            <!--<span class="font-example">字体样例ABCDabcd</span>-->
        <!--</div>-->
        <div class="theme-set-group">
            <span class="theme-prompt">换个皮肤，换个心情吧～</span>
            <ul class="clearfix">
                <li data-value="blue" class="active">
                    <div class="blue-square">
                        <i class="current-theme"></i>
                    </div>
                    <span>宝蓝</span>
                </li>
                <li data-value="ink-blue">
                    <div class="ink-blue-square">
                        <i class="current-theme"></i>
                    </div>
                    <span>墨蓝</span>
                </li>
                <li data-value="default">
                    <div class="blank-square">
                        <i class="current-theme"></i>
                    </div>
                    <span>曜石黑</span>
                </li>
                <li data-value="orange">
                    <div class="orange-square">
                        <i class="current-theme"></i>
                    </div>
                    <span>橘色</span>
                </li>
            </ul>
        </div>

        <span class="clear-storage">清除缓存</span>
    </div>

    <div class="rapid-setting">
        <div class="sortable-window">
            <ul class="sortable-box">
                <li class="isShow-BI sort-item" title="拖动调整顺序">
                    <label class="custom-checkbox" style="display: inline">
                        <input class="bi-Show" title="点击设置此功能" type="checkbox" >
                    </label>
                    <span>登录时自动开启BI</span>
                    <i class="drag-icon icon-framework-drag"></i>
                </li>
                <!--<li class="isShow-calendar sort-item">-->
                    <!--<input class="calendar-Show" type="checkbox" >登录时自动开启日历-->
                <!--</li>-->
            </ul>
        </div>
        <button class="rapid-save-btn" type="button">保存</button>
    </div>

    <div class="home-page-setting">
        <div class="home-page-btn-div">
            <a href="javascript:void (0);" class="home-page-a icon-aggrid icon-aggrid-add home-page-add"></a>
            <a href="javascript:void (0);" class="home-page-a icon-aggrid icon-aggrid-edit home-page-edit"></a>
        </div>
        <div class="cover"></div>
        <div class="home-page-list-box">
            <ul id="home-page-ul">

            </ul>
        </div>
        <button class="home-page-save-btn" type="button">确定</button>
    </div>
</div>
