<div class="sys-setting-main clearfix">
    <div class="switch-part">
        <div class="style-btn active">样式</div>
        <div class="rapid-btn">快捷</div>
    </div>

    <div class="style-setting">
        <div class="theme-set-group">
            <ul>
                <li class="style-default">
                    <img src=" " />
                    <span></span>
                </li>
                <li class="style-blue"></li>
                <li class="style-orange"></li>
            </ul>
        </div>
        <div class="font-set-group">
            <span class="prompt">表格字体大小</span>
            <span class="font-size">12</span>
            <div class="font-size-slider">
                <input type="range" name="range" min="12" max="20" step="1" class="font-range"  value="12" />
            </div>
            <span class="font-example">字体样例ABCDabcd</span>
        </div>
        <span class="clear-storage">清除缓存</span>
    </div>

    <div class="rapid-setting">
        <div class="sortable-window">
            <ul class="sortable-box">
                <li class="isShow-BI sort-item" title="拖动调整顺序">
                    <label class="custom-checkbox" style="display: inline">
                        <input class="bi-Show" title="点击设置此功能" type="checkbox" >
                    </label>
                    <span>登录时自动开启BI</span>
                    <i class="drag-icon icon-framework-drag"></i>
                </li>
                <!--<li class="isShow-calendar sort-item">-->
                    <!--<input class="calendar-Show" type="checkbox" >登录时自动开启日历-->
                <!--</li>-->
            </ul>
        </div>
        <button class="rapid-save-btn" type="button">保存</button>
    </div>
</div>
