
#sys-setting-page{
    .sys-setting-main{
        width: 100%;
        height: 100%;
        .switch-part{
            width: 80px;
            height: 100%;
            float: left;
            background-color: #ecf9ff;
            .style-btn,.rapid-btn{
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
            }
            .active{
                background-color: #ffffff;
            }
        }

        .style-setting{
            //display: none;
            width: 460px;
            float: left;
            .theme-set-group{
                ul{

                    li{
                        cursor: pointer;
                        img{

                        }

                    }
                }
            }



            .font-set-group{
                .prompt{
                    display: inline-block;
                    margin-top: 25px;
                    margin-left: 30px;
                }
                .font-size-slider{
                    height: 40px;
                    margin-left: 30px;
                    margin-top: 20px;
                    .font-range{
                        width: 300px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
                .font-example{
                    display: inline-block;
                    margin-left: 30px;
                    background-color: #f2f2f2;
                    padding: 10px;
                }
            }

            .clear-storage{
                display: block;
                color: red;
                position: absolute;
                bottom: 30px;
                right: 30px;
                cursor: pointer;
            }
        }

        .rapid-setting{
            width: 460px;
            float: left;
            display: none;
            //.sort-prompt{
            //    height: 30px;
            //    display: block;
            //    line-height: 30px;
            //    margin-left: 20px;
            //    margin-top: 10px;
            //}
            .sortable-window{
                margin-top: 25px;
                .sortable-box{
                    height: 100px;
                    margin: 10px 20px 0 20px;
                    padding: 0;
                    list-style-type: none;
                    .isShow-BI,.isShow-calendar{
                        height: 30px;
                        line-height: 30px;
                        margin: 5px;
                        background-color: #f2f2f2;
                        cursor:n-resize;
                        .custom-checkbox{
                            margin: 7px 5px 0 10px;
                            float:left;
                            .bi-Show,.calendar-Show{
                                vertical-align: top;
                                cursor: pointer;
                            }
                        }
                        span{
                            vertical-align: middle;
                        }

                        .drag-icon{
                            float: right;
                            margin-right: 5px;
                            margin-top: 7px;
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            .rapid-save-btn{
                width: 90px;
                height: 30px;
                box-sizing: border-box;
                padding: 1px 6px;
                border-radius: 5px;
                background-color: #0088ff;
                color: #ffffff;
                position: absolute;
                right: 20px;
                bottom: 20px;
                outline: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}

