@import "../../../assets/scss/core/base";

.my-workflow-con {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    .ag-floating-bottom {
        display: none!important;
    }
    .tab-title {
        height: 60px;
        line-height: 60px;
        background-color: #FFFFFF;
        user-select: none;
        position: absolute;
        left: 0;
        z-index: 20;
        ul {
            width: 100%;
            height: 100%;
            line-height: 30px;
            display: block;
            padding: 0;
            margin-left: 15px;
            li {
                display: block;
                float: left;
                margin: 15px;
                cursor: pointer;
                &.iconTool {
                    margin: 22px 5px;
                    cursor: default;
                }
                a {
                    display: block;
                    font-size: 14px;
                    height: 43px;
                    overflow: hidden;
                    line-height: 30px;
                    border-bottom: 2px solid #fff;
                    padding: 0 10px;
                    text-decoration: none;
                    color: #666;
                    font-size: 12px;
                }
                a:hover {
                    color: #0088ff;
                }

                .select {
                    border-bottom: 2px solid #0088FF;
                    color: #0088FF;
                }
            }
        }
    }

    #page-contener {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .my-workflow {
        float: left;
    }
    .finish-workflow {
        float: left;
    }
    .approved-workflow {
        float: left;
    }
    .focus-workflow {
        float: left;
    }
    #page-contener iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .show {
        display: block;
    }
}