<div class="my-workflow-con">
    <div class="tab-title">
        <ul>
            <li class="iconTool"><i class="icon-aggrid-new icon-aggrid-tool"></i></li>
            <li><a id="my-workflow" class="select" href="javascript:;">申请中的工作</a></li>
            <li><a id="finish-workflow" href="javascript:;">已完成的工作</a></li>
            <li><a id="approved-workflow" href="javascript:;">审批过的工作</a></li>
            <li><a id="focus-workflow" href="javascript:;">已关注的工作</a></li>
        </ul>
    </div>
    <div id="page-contener">
    </div>
</div>