<div class="approval-info-list flex">
    <div class="approval-info-item flex">
        <div class="i-block blue"></div>
        <div class="tit">发起时间</div>
        <div class="txt">{{create_time}}</div>
    </div>
    <div class="approval-info-item flex">
        <div class="i-block blue"></div>
        <div class="tit">工作名称</div>
        <div class="txt"><span>{{name}} 新建(普通)</span></div>
    </div>
    <div class="approval-info-item flex">
        <div class="i-block red"></div>
        <div class="tit">当前节点</div>
        <div class="txt"><span>{{current_node}}</span></div>
        <div class="approval-control flex">
            <div class="approval-btn approval-pass" id="app-pass">审批通过</div>
            <div class="approval-btn-sel">
                <div class="approval-curr-txt">驳回到</div>
                <div class="approval-sel-down">
                    <div class="approval-btn btn-transition1" id="app-rej-up">上一级</div>
                    <div class="approval-btn btn-transition2" id="app-rej-any">任意节点</div>
                    <div class="approval-btn btn-transition3" id="app-rej-start">发起人</div>
                </div>
            </div>
            <div class="approval-btn approval-add" id="app-add">加签</div>
        </div>
    </div>

    <div class="approval-info-item flex">
        <div class="gz approval-btn">章</div>
        <i class="workflow-icon icon-workflow-icon11"></i>
        <div class="printBtn" onclick="window.print();">打印</div>
    </div>
</div>