$canvasCellsBg: #f5f5f5;
$font_size: 14px;
$active-bg: #f5f5f5;
$active-color: #1caeff;

.canvas-container {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
    .views-header{
        width: 100%;
        height: 50px;
        font-size: $font_size;
        .nav-tabs{
            width: 100%;
            height:50px;
            white-space: nowrap;
            background-color: #ffffff;
            border-bottom: solid 1px #eeeeee;
            overflow: hidden;
            a{
                text-decoration: none;
                padding: 0 25px;
                position: relative;
                display: inline-block;
                outline: none;
                color: #666666;
                line-height: 50px;
                height: 45px;
                margin-right: -3px;
            }
            .active{
                background-color: $active-bg;
                color: $active-color;
                border-bottom: solid 5px $active-color;
            }
        }
    }
    &.manage{
        margin: 0px 0 0 250px;
    }
}

.cells-container {
    position: absolute;
    width:100%;
    height: calc(100% - 51px);
    overflow: auto;
    &.client {
        background:$canvasCellsBg;
    }

}
.cells{
    position:relative;
    .editpage{
        position: fixed;
        bottom: 10px;
        z-index: 99999;
        text-align: center;
        right: 25px;
    }
    .mat-fab{
        text-decoration: none;
        min-width: 0;
        border-radius: 50%;
        border: none;
        background-color: #ffd740;
        color: rgba(0, 0, 0, .87);
        width: 56px;
        height: 56px;
        line-height: 56px;
        display: inline-block;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }
    .mat-fab:hover{
        color: #337ab7;
    }
}

