<div class="canvas-container">

    <header class="views-header clearfix">
        {{#if canvasSingle}}
        <div class="nav-tabs">
            <!--{{#each views}}-->
            <!--<a href="#/views/{{id}}">{{name}}</a>-->
            <!--{{/each}}-->
            <!--<div class="btns"></div>-->
        </div>
        <div class="views-btn-group">
            <a href="javascript:;" class="add-cell-btn">添加画布块</a>
            <a href="javascript:;" class="view-save-btn">保存</a>
        </div>
        {{/if}}
    </header>

    <!--右下角编辑按钮-->
    <div class="cells-container client">
        <div class="cells">
            {{#if biUser}}
            <div class="switch-button editpage"><a class="mat-fab bi-manage-btn" title="编辑" href="javascript:;">编辑</a></div>
            {{else}}
            <div class="switch-button singlepage"><a class="mat-fab btn-single" title="单页" href="javascript:;">单页</a></div>
            <div class="switch-button multiplepage"><a class="mat-fab btn-multip" title="多页" href="javascript:;">多页</a></div>
            {{/if}}
        </div>
    </div>
</div>
