<div class="canvas-container">
    <header class="views-header clearfix">
        <div class="nav-tabs">
            <!--{{#each views}}-->
            <!--<a href="#/views/{{id}}">{{name}}</a>-->
            <!--{{/each}}-->
            <div class="btns"></div>
        </div>
        <div class="views-btn-group">
            <a href="javascript:;" class="view-save-btn">添加画布块</a>
            <a href="javascript:;" class="view-save-btn">保存</a>
        </div>
    </header>
    <!--右下角编辑按钮-->
    <div class="cells-container client">
        <div class="cells">
            <div class="editpage"><a class="mat-fab" title="编辑" href="/bi/manager/">编辑</a></div>
        </div>
    </div>
</div>
