<div class="wrap-wrap">
    <hearder class="search-bar"></hearder>
    <div class="content-wrap">
        <nav class="ui-nav">
            <div class="title">
                选择表单
            </div>
            <ul></ul>
        </nav>
        <div class="form-wrap">
            <div class="title">
                内容
            </div>
            {{#if authority}}
            <p style="font-size:20px">您没有查看权限</p>
            {{else}}
            <section class="ui-section">
            </section>
            {{/if}}
        </div>
    </div>
    <button class="confirm">确定</button>
</div>