.wrap {
  height: 100%;
}

.ui-header {
  height: 50px;
  margin-bottom: 10px;
}

.ui-nav {
  display: inline-block;
  height: calc(100% - 60px);
  width: 30%;
  max-width: 300px;
  border: 1px solid #ddd;
  overflow: auto;
}

.ui-nav a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
}

.ui-nav a:hover {
  background: #ddd;
  color: #fff;
}

.ui-section {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.ui-selected {
  background: #d0d0d0;
  color: #fff;
}