@import "../../../calendar";
.head-grid {
    height: 31px;
    width: calc((100% - 1px) /7 - 1px);
    display: inline-block;
    border-right: 1px solid rgba(228, 228, 228, 1);
    border-bottom: 1px solid rgba(228, 228, 228, 1);
    margin: 0px !important;
    .date-head {
        display: block;
        line-height: 33px;
        text-align: center;
    }
}