@import "../../../calendar";
.head-grid {
    height: 33px;
    width: calc((100% - 1px)/7 - 1px);
    display: inline-block;
    border-right: 1px solid $boder-color;
    border-bottom: 1px solid $boder-color;
    .date-head {
        display: block;
        line-height: 33px;
        text-align: center;
    }
}