/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-aggrid{
    background: url(../../images/dataGrid/sprite-datagrid-icon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
.icon-aggrid-new {
    background: url("../../images/dataGrid/aggrid-icon-data.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
.icon-aggrid-miniForm {
    background: url("../../images/dataGrid/icon-aggrid-miniForm.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
.icon-aggrid-miniForm-hover {
    background: url("../../images/dataGrid/icon-aggrid-miniForm-hover.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
.icon-aggrid-cus {
    background: url("../../images/dataGrid/aggrid-icon.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
}

.icon-aggrid-select {
    background: url("../../images/dataGrid/icon_xiala2.png") no-repeat;
}

.icon-aggrid-quxiao {
    background: url("../../images/dataGrid/group-cancel.png") no-repeat;
}
.icon-aggrid-shouhui {
    background: url("../../images/dataGrid/group-cancel-1.png") no-repeat;
}
.icon-expert-save {
    background: url("../../images/dataGrid/save.png") no-repeat;
}
.icon-expert-add {
    background: url("../../images/dataGrid/icon_add_1.png") no-repeat;
}
.icon-expert-delete {
    background: url("../../images/dataGrid/icon_delete_1.png") no-repeat;
}
.icon-expert-error-msg {
    background: url("../../images/form/error-msg.png") no-repeat;
}
.icon-expert-edit {
    background: url("../../images/dataGrid/aggrid_ico_edit.png") no-repeat;
}
.aggrid-bg-search {
    background: url("../../images/dataGrid/aggrid_ico_search_adv.png") no-repeat;
}

.icon-aggrid-filter {
    background: url("../../images/dataGrid/aggrid_ico_shaixuan.png") no-repeat;
}
.icon-aggrid-import {
    background: url("../../images/dataGrid/aggrid_ico_import.png") no-repeat;
}
.icon-aggrid-export {
    background: url("../../images/dataGrid/aggrid_ico_export.png") no-repeat;
}
.icon-aggrid-full-screen {
    background: url("../../images/dataGrid/aggrid_ico_new_window.png") no-repeat;
}
.icon-aggrid-cancel {
    background: url("../../images/dataGrid/cancel.png") no-repeat;
}
.icon-aggrid-save {
    background: url("../../images/dataGrid/save.png") no-repeat;
}
.icon-aggrid-search {
    background: url("../../images/dataGrid/aggrid_ico_search_adv.png") no-repeat;
}
.icon-aggrid-edit {
    background: url("../../images/dataGrid/aggrid_ico_edit.png") no-repeat;
}
.icon-aggrid-add {
    background: url("../../images/dataGrid/icon_add_1.png") no-repeat;
}
.icon-aggrid-delete {
    background: url("../../images/dataGrid/icon_delete_1.png") no-repeat;
}
.icon-aggrid-group {
    background: url("../../images/dataGrid/aggrid_ico_group.png") no-repeat;
}
.icon-aggrid-custom {

    background: url("../../images/dataGrid/icon_dingzhilie_1.png") no-repeat;
}
.icon-aggrid-self-adaptation {
    background: url("../../images/dataGrid/aggrid_ico_adapt.png") no-repeat;
}
.icon-aggrid-refresh {
    background: url("../../images/dataGrid/aggrid_ico_ref.png") no-repeat;
}
.icon-aggrid-tool {
    background: url("../../images/dataGrid/tool.png") no-repeat;
}

.icon-icon-data-check {
    background-position: 0px 0px;
}
.icon-icon-data {
    background-position: -26px 0px;
}
.icon-icon-help-check {
    background-position: 0px -26px;
}
.icon-icon-help {
    background-position: -26px -26px;
}
.icon-icon-in-transit-check {
    background-position: -52px 0px;
}
.icon-icon-in-transit {
    background-position: -52px -26px;
}
.icon-tool {
    background-position: 0px -130px;
}
// 时间插件图标
.icon-time {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../../assets/images/form/icon_time.png") no-repeat center center;
}

//@media screen and (max-width: 1200px){
//    .dataGrid-btn-group {
//        span {
//            display: none;
//        }
//    }
//}