.form-chart-pie-hide {
    display: none;
}

.pie-deep {
    &, .pie-deep-table {
        padding: 20px 10px 10px 10px;
    }
    .pie-title {
        font-size: 16px;
        padding: 10px 0 13px 20px;
    }
    .save-new {
        margin-top: 0;
        button {
            width: 160px;
            height: 36px;
            line-height: 36px;
            background: #3b8cff;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }
    }
}
