.nav-tabs {
    position: absolute;
    height: 50px;
    white-space: nowrap;
    width: calc(100% - 400px);
    overflow: auto;
    background: transparent;
    div {
        height: 100%;
        display: inline-block;
    }
}
.views-btn-group {
    position: absolute;
    right: 0;
    width: 400px;
    text-align: right;
    white-space: nowrap;
    a,label {
        text-decoration: none;
        display: inline-block;
        outline: none;
        line-height: 50px;
        color: #ffffff;
        background: #3e4a63;
        border-left: solid 1px #556574;
        box-sizing: border-box;
        width: 100px;
        text-align: center;
        height: 100%;
        float: left;
        &:hover {
            background: #374157;
        }
    }
    input[type='file']{
        display: none;
    }
}