.nav-tabs {
    position: relative;
    height: 60px;
    white-space: nowrap;
    width: calc(100% - 300px);
    background: transparent;
    display: inline-block;
    overflow: hidden;
    .icon-chart {
        .new-charts-icon {
            vertical-align: middle;
            margin-left: 17px;
        }
    }
    div {
        height: 100%;
        display: inline-block;
    }
    &:hover {
        overflow-x: auto;
    }
}

.views-btn-group, .views-header-right {
    position: relative;
    display: inline-block;
    right: 0;
    top: 0;
    width: 300px;
    float: right;
    input[type='file'] {
        display: none;
    }
}
