<div class="add-wrap">
    <div class="response">
        <div class="add-table">
            <div class="add-new flex-wrap">
                <div class="label">新增选项：</div>
                <div class="content">
                    <input type="text" class="addValue">
                    <button class="add">添加</button>
                </div>
            </div>
            <div class="add-item">
                <div class="item-wrap flex-wrap">
                    <div class="label">原始选项：</div>
                    <div class="content">
                            {{#each originalOptions}}
                            <div class="item">{{ this.label }}</div>
                            {{/each}}
                    </div>
                </div>
                <div class="item-wrap flex-wrap">
                    <div class="label">添加结果：</div>
                    <div class="content result">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="save">保存</button>
</div>