<div class="find-password-page">
    <div class="first-step-page">
        <div class="new-password-group">
            <span>请输入新密码：</span>
            <input class="new-password" type="password" >
        </div>
        <div class="new-password-confirm-group">
            <span>确认密码：</span>
            <input class="new-password-confirm" type="password" >
        </div>
        <button class="find-pw-btn" type="button">提交</button>
    </div>
    <div class="second-step-page">
        <span class="prompt">密码修改成功！请重新登录！ </span>
        <button>点此登录</button>
    </div>
</div>