<div class="department-con">
    <div class="tips"><i></i><span>部门信息</span></div>
    <!--按鈕-->
    <div class="btn-nav">
        <div class="dataGrid-btn-group flex flex-end">
            <label class="departmentSratch-label">
                <input class="departmentSratch" placeholder="输入搜索关键字" type="text"><i class="departmentSratch-icon"></i>
            </label>
            <a class="new-form-btn" href="javascript:;" title="新增"><i class="icon-aggrid icon-aggrid-add"></i><span>新增</span></a>
            <a class="grid-del-btn" href="javascript:;" title="删除"><i class="icon-aggrid icon-aggrid-delete"></i><span>删除</span></a>
            <a class="grid-import-btn" href="javascript:;" title="导入"><i class="icon-aggrid icon-aggrid-import"></i><span>导入</span></a>
            <a class="grid-export-btn" href="javascript:;" title="导出"><i class="icon-aggrid icon-aggrid-export"></i><span>导出</span></a>
            <a class="custom-column-btn" href="javascript:;" title="定制列"><i class="icon-aggrid icon-aggrid-custom"></i><span>定制列</span></a>
            <a class="grid-auto-width" href="javascript:;" title="自适宽度"><i class="icon-aggrid icon-aggrid-self-adaptation"></i><span>自适宽度</span></a>
            <a class="refresh-btn" href="javascript:;" title="刷新"><i class="icon-aggrid icon-aggrid-refresh"></i><span>刷新</span></a>
            <a class="grid-new-window" href="/datagrid/custom_index/?table_id={{tableId}}&folder_id=9&custom_id=department-information&isNewWindow=true" target="_blank" title="新窗口"><i class="icon-aggrid icon-aggrid-full-screen"></i><span>新窗口</span></a>
        </div>
    </div>
    <!--sheet分页-->
    <div class="SheetPage">

    </div>
    <div class="ag-grid-con">
        <!--agGrid数据展示-->
        <div id="data-agGrid">

        </div>
        <!--定制列-->
        <div class="custom-columns-panel">

        </div>
    </div>
</div>