body.blue{
    #aside{
        background-color: #327ed3;
        .aside-wrap{
            .s-name{
                background-color: #2b74c6;
                .erds-logo{
                    color: #79abe1;
                }
                .text{
                    color: #ffffff;
                }
            }
            .s-uinfo{
                background-color: #276ab4;
                .u-name,.u-role{
                    color: #BFD8F2 !important;
                    span{
                        color: #ffffff !important;
                    }
                }

                .personal-setting{
                    i{
                        background-image: url("../../images/theme/blue/icon-blue-setting.png");
                    }
                }
            }

            .tabs{
                p{
                    color: #649DDD;
                    &:first-child {
                        border-right: 1px solid #72a6de;
                    }
                    &.active {
                        color: #fff;
                    }
                }
                .edit{
                    background: url("../../images/theme/blue/icon-blue-edit.png");
                }
            }
            .menu{
                label{
                    border-bottom: 1px solid #fff;
                }
                .search{
                    background-image: url("../../images/theme/blue/icon-blue-search.png");
                    input{
                        &::-webkit-input-placeholder{
                            color:#eee;
                        }
                    }
                    &.highlight{
                        border-bottom: 1px solid #BFD8F2;
                        //background-image: url("../../images/theme/blue/icon-blue-search.png");
                    }
                }

                .menu-full{
                    .name{
                        color: #BFD8F2;
                    }
                    .ui-state-active ~p{
                        color: #FFFFFF;
                    }
                    .icon{
                        &.lv1 {
                            background: url("../../images/theme/blue/icon-blue-floder.png");
                        }
                    }
                    .root{
                        .row{
                            &:hover, &.current {
                                background-color: #4a8ed9;
                            }
                        }
                    }
                }


                &.mini{
                    .root{
                        > li > .menu-full-item {
                            background-color: #327ed3;
                            .row{
                                &:hover, &.current {
                                    background-color: #4a8ed9;
                                }
                            }
                        }
                    }

                    .menu-full{
                        .childlist{
                            .row{
                                background-color: #327ed3;
                                color: #fff;
                                &:hover, &.current {
                                    background-color: #fff !important;
                                    p{
                                        color: #327ed3 !important;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
    .dataGrid-commonQuery-select{
        //box-shadow: 0 0 2px 2px #327ed3!important;
        background-color: #327ed3!important;
        border: 1px solid #327ed3!important;
    }
}