@import "../../../../custom/guojin/app/assets/scss/theme/ink-blue.scss";
body.ink-blue{
    #aside{
        background-color: #2f4254;
        .aside-wrap{
            .s-name{
                background-color: #283847;
                .erds-logo{
                    color: #0088ff;
                }
                .text{
                    color: #ffffff;
                }
            }
            .s-uinfo{
                background-color: #2c3e4f;
                .u-name,.u-role{
                    color: rgb(172, 191, 208) !important;
                    span{
                        color: #0088FF !important;
                    }
                }

                .personal-setting{
                    i{
                        background-image: url("../../images/theme/ink-blue/icon-ink-blue-setting.png");
                    }
                }
            }

            .tabs{
                p{
                    color: #7191AE;
                    &:first-child {
                        border-right: 1px solid #45617a;
                    }
                    &.active {
                        color: #ACBFD0;
                    }
                }
                .edit{
                    background: url("../../images/theme/ink-blue/icon-ink-blue-edit.png");
                }
            }
            .menu{
                label{
                    border-bottom: 1px solid #fff;
                }
                .search{
                    background-image: url("../../../assets/images/theme/ink-blue/icon-ink-blue-search.png");
                    input{
                        &::-webkit-input-placeholder{
                            color:rgb(94, 131, 164);
                        }
                    }
                    &.highlight{
                        border-bottom: 1px solid #ACBFD0;
                        //background-image: url("../../images/theme/blue/icon-blue-search-1.png");
                    }
                }

                .menu-full{
                    .name{
                        color: #7191AE;
                    }
                    .ui-state-active ~p{
                        color: #ACBFD0;
                    }
                    .icon{
                        &.lv1 {
                            background: url("../../images/theme/ink-blue/icon-ink-blue-floder.png");
                        }
                    }
                    .root{
                        .row{
                            &:hover, &.current {
                                background-color: rgba(61,86,109,1);
                            }
                        }
                    }
                    .childlist{
                        .row{
                            .name{
                                color: #ACBFD0;
                            }
                            &:hover, &.current {
                                background-color: rgba(61,86,109,1) !important;
                            }
                        }
                    }
                }


                &.mini{
                    .root{
                        > li > .menu-full-item {
                            background-color: #2f4254;
                            .row{
                                &:hover, &.current {
                                    background-color: rgba(61,86,109,1);
                                }
                            }
                        }
                    }

                    .menu-full{
                        .childlist{
                            .row{
                                background-color: #2f4254;
                                color: #fff;
                                &:hover, &.current {
                                    background-color: #fff !important;
                                    p{
                                        color: #2f4254 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .dataGrid-commonQuery-select{
        //box-shadow: 0 0 2px 2px #2f4254!important;
        background-color: #2f4254!important;
        border: 1px solid #2f4254!important;
        .dataGrid-commonQuery-ul{
            background-color: #2f4254!important;
            border: 1px solid #2f4254!important;
        }
    }
}