@import "../../../../custom/guojin/app/assets/scss/theme/orange.scss";
body.orange{
    #aside{
        background-color: #e57e17;
        .aside-wrap{
            .s-name{
                background-color: #c9690a;
                .erds-logo{
                    color: #FFAE35;
                }
                .text{
                    color: #FFECD0;
                }
            }
            .s-uinfo{
                background-color: #dc730a;
                .u-name,.u-role{
                    color: #FFECD0 !important;
                    span{
                        color: #FFECD0 !important;
                    }
                }
                .startwrokflow{
                    background-color: #ffac2f;
                }

                .personal-setting{
                    i{
                        background-image: url("../../images/theme/orange/icon-orange-setting.png");
                    }
                }
            }

            .tabs{
                p{
                    color: #FFAE35;
                    &:first-child {
                        border-right: 1px solid #cf6c1c;
                    }
                    &.active {
                        color: #FFECD0;
                    }
                }
                .edit{
                    background: url("../../images/theme/orange/icon-orange-edit.png");
                }
            }
            .menu{
                label{
                    border-bottom: 1px solid #fff;
                }
                .search{
                    background-image: url("../../../assets/images/theme/orange/icon-orange-search.png");
                    input{
                        &::-webkit-input-placeholder{
                            color:rgb(255, 174, 53);
                        }
                    }
                    &.highlight{
                        border-bottom: 1px solid rgb(255, 172, 47);
                        //background-image: url("../../images/theme/blue/icon-blue-search.png");
                    }
                }

                .menu-full{
                    .name{
                        color: #FFD28E;
                    }
                    .ui-state-active ~p{
                        color: #FFECD0;
                    }
                    .icon{
                        &.lv1 {
                            background: url("../../images/theme/orange/icon-orange-floder.png");
                        }
                    }
                    .root{
                        .row{
                            &:hover, &.current {
                                background-color: rgba(255,145,23,1);
                            }
                        }
                    }

                    .childlist{
                        .row{
                            .name{
                                color: #FFECD0;
                            }
                            &:hover, &.current {
                                background-color: rgba(255,145,23,1) !important;
                            }
                        }
                    }
                }


                &.mini{
                    .root{
                        > li > .menu-full-item {
                            background-color: #e57e17;
                            .row{
                                &:hover, &.current {
                                    background-color: rgba(255,145,23,1);
                                }
                            }
                        }
                    }

                    .menu-full{
                        .childlist{
                            .row{
                                background-color: #e57e17;
                                color: #fff;
                                &:hover, &.current {
                                    background-color: #fff !important;
                                    p{
                                        color: #e57e17 !important;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
    .dataGrid-commonQuery-select{
        //box-shadow: 0 0 2px 2px #e57e17!important;
        background-color: #e57e17!important;
        border: 1px solid #e57e17!important;
        .dataGrid-commonQuery-ul{
            background-color: #e57e17!important;
            border: 1px solid #e57e17!important;
        }
    }
}