@import "../../../../assets/scss/core/base";

.import-con {
    font-size: 12px !important;
    .import-table {
        width: 98%;
        display: block;
        margin: 0 auto;
        background: #FAFAFA;
        border-collapse:collapse;
        border-bottom: 1px solid #F2F2F2;
        tbody {
            width: 100%;
            display: block;
            tr {
                width: 100%;
                display: block;
                border: 1px solid #F2F2F2;
                border-bottom: none;
                td {
                    min-height: 30px;
                    padding: 7px;
                    line-height: 17px;
                }
                td:first-child {
                    width: 170px;
                    background: #ffffff;
                }
            }
            .file-name {
                color: #999999;
            }
            .uploader-button {
                width: 70px;
                height: 25px;
                background: #fff;
                border: 1px solid #e4e4e4;
                border-radius: 3px;
                margin-right: 10px;
                font-size: 12px;
            }
            select {
                //font-size: 12px;
                height: 22px;
                border-color: #e4e4e4;
                width: 40px;
                padding-left: 5px;
                border-color:#e4e4e4 ;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                background: url(../../../../assets/images/dataGrid/icon_xiala2.png) no-repeat;
                background-color: #ffffff;
                //background-position: 20px center;
            }
            .record_type {
                width: 200px;
                background-position: 180px center;

            }
            .chooseFlow {
                width: 200px;
                background-position: 180px center;
            }
            .showMore {
                display: inline-block;
                width: 100%;
            }
            .record_type {
                width: 200px;
            }
            .chooseFlow {
                width: 200px;
            }
            .workflow {
                display: none;

            }

            .uploadRemark {
                display: none;
            }

            .flowCharCon {
                width: 95%;
                display: block;
                margin: 0 auto;
            }

            .flow-chart {
                overflow: scroll;
                width: 100%;
                max-height: 300px;
            }

            .need-more {
                display: none;
                .radio-container {
                    display: inline-block;
                    margin-right: 15px;
                    cursor: pointer;
                    .radio-out {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        border: 1px solid #d3d3d3;
                        border-radius: 100%;
                        position: relative;
                        top: 1px;
                        .radio-in {
                            display: inline-block;
                            visibility: hidden;
                            width: 10px;
                            height: 10px;
                            position: relative;
                            left: 2px;
                            top: 0px;
                            border-radius: 100%;
                            background-color: #0088ff;
                            &.active{
                                visibility: visible;
                            }
                        }
                    }
                }
                select{
                    background-position: 20px center;
                }
            }
        }
    }
    .show-all {
        position: relative;
        width: 98%;
        margin: 0 auto;
        .more-btn {
            cursor: pointer;
            font-size: 12px;
            text-decoration: none;
            color: #333333;
            background-color: #FAFAFA;
            height: 40px;
            line-height: 40px;
            top: 0px;
            position: absolute;
            display: block;
            width: calc(100% - 13px);
            padding-left: 15px;
            .img {
                display: inline-block;
                width: 16px;
                height: 16px;
                position: relative;
                top: 4px;
                left: 8px;
                background: url(../../../../assets/images/framework/detail-icon.png) no-repeat;
                transform:rotate(90deg);
                -ms-transform:rotate(90deg);
                -moz-transform:rotate(90deg);
                -webkit-transform:rotate(90deg);
                -o-transform:rotate(90deg);
                &.active {
                    transform:rotate(-90deg);
                    -ms-transform:rotate(-90deg);
                    -moz-transform:rotate(-90deg);
                    -webkit-transform:rotate(-90deg);
                    -o-transform:rotate(-90deg);
                }
            }
        }

    }

    .import-submit-btn {
        position: absolute;
        text-align: center;
        width: 90px;
        height: 30px;
        line-height: 30px;
        background-color: rgba(0, 136, 255, 1);
        border: none;
        border-radius: 4px;
        box-shadow: none;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF;
        bottom: 20px;
        right: 20px;
        text-decoration: none;
    }
}