@import "../../../../assets/scss/core/base";
.import-table {
  width: 98%;
  display: block;
  margin: 0 auto;
  tbody {
    width: 100%;
    display: block;
    tr {
      width: 100%;
      display: block;
      border: 1px solid #F2F2F2;
      td {
        min-height: 30px;
        padding: 7px;
      }
      td:first-child {
        width: 130px;
        background: #FAFAFA;
      }
    }
    .uploader-button {
      width: 90px;
      height: 30px;
      background: #fff;
      border: 1px solid #afafaf;
      border-radius: 5px;
      margin-right: 10px;
    }
    select {
      height: 30px;
      border-radius: 5px;
    }
    .record_type {
      width: 200px;
    }
    .chooseFlow {
      width: 200px;
    }
    .workflow {
      display: none;
    }

    .uploadRemark {
      display: none;
    }

    .flowCharCon {
      width: 95%;
      display: block;
      margin: 0 auto;
    }

    .flow-chart {
      overflow: scroll;
      width: 100%;
      max-height: 300px;
    }

    .need-more {
      display: none;
    }
  }
}

.more-btn {
  margin: 5px 10px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  color: #333333;
}

.import-submit-btn {
  position: absolute;
  text-align: center;
  width: 91px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 136, 255, 1);
  border: none;
  border-radius: 4px;
  box-shadow: none;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #FFFFFF;
  bottom: 25px;
  right: 15px;
  text-decoration: none;
}