@import "../../../../assets/scss/core/base";

.pagination-con {
    height: 40px;
    line-height: 40px;
    color: #666666;
    font-size: 12px;
    user-select: none;
    margin: 0 20px;
    .p-left {
        display: flex;
        align-items: center;
        float: left;
        span {
            vertical-align: top;
            line-height: 40px;
        }
        .pageSize {
            cursor: pointer;
            padding: 0 12px;
            margin: 0 5px;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            text-indent: 0;
            color: #666666;
            width: 60px;
            font-size: 12px;
            height: 25px;
            display: inline-block;
            outline: none;
            box-shadow: none;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background-position: 42px 2px;
        }
        .page-details {
            margin: 0 16px;
            .total {
                margin: 0 5px;
            }
        }
        .ui-icon-refresh {
            cursor: pointer;
            display: inline-block;
            height: 16px;
            width: 16px;
            vertical-align: sub;
            background: url(../../../../assets/images/dataGrid/icon_shuaxin_blue.png) no-repeat transparent;
        }

        .ui-icon-refresh:hover {
            cursor: pointer;
        }
        .refresh-rotate {
            animation: fa-spin 2s infinite linear
        }

        @keyframes fa-spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg)
            }
        }

        .data-invalid {

        }
        @keyframes freshTip {
            0% {
                color: #0088ff;
            }
            16% {
                color: #fff;
            }
            33% {
                color: #0088ff;
            }
            49% {
                color: #fff;
            }
            66% {
                color: #0088ff;
            }
            82% {
                color: #fff;
            }
            100% {
                color: #0088ff;
            }
        }
        .freshtip {
            font-weight: normal;
            margin-left: 10px;
            animation: freshTip 4s;
            animation-fill-mode: forwards;
        }
        @keyframes unfreshTip {
            0% {
                color: #ff5400;
            }
            16% {
                color: #fff;
            }
            33% {
                color: #ff5400;
            }
            49% {
                color: #fff;
            }
            66% {
                color: #ff5400;
            }
            82% {
                color: #fff;
            }
            100% {
                color: #ff5400;
            }
        }
        .unfreshtip {
            font-weight: normal;
            margin-left: 10px;
            animation: freshTip 4s;
            animation-fill-mode: forwards;
        }
    }
    .table-oprate-con {
        float: right;
        .tableOperateSelect {
            cursor: pointer;
            padding: 0 12px;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            text-indent: 0;
            color: #666666;
            width: 70px;
            font-size: 12px;
            margin-right: 25px;
            height: 25px;
            display: inline-block;
            outline: none;
            box-shadow: none;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background-position: 42px 2px;
        }
    }
    .p-page-con {
        float: right;
        .goFirst {
            //vertical-align: sub;
            vertical-align: top;
            display: inline-block;
            background: url(../../../../assets/images/dataGrid/icon_shangyiye.png) no-repeat transparent;
            height: 16px;
            width: 16px;
            margin: 12px 7px;
        }
        .goPre {
            vertical-align: top;
            margin: 0 7px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
        }
        .currentPage {
            vertical-align: top;
            display: inline-block;
            width: 25px;
            text-align: center;
        }
        .goNext {
            vertical-align: top;
            margin: 0 7px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
        }
        .goLast {
            //vertical-align: sub;
            display: inline-block;
            background: url(../../../../assets/images/dataGrid/icon_xiayiye.png) no-repeat transparent;
            height: 16px;
            width: 16px;
            margin: 12px 7px;
        }
    }
    .goFirst:hover {
        cursor: pointer;
    }
    .goPre:hover {
        cursor: pointer;
    }
    .goNext:hover {
        cursor: pointer;
    }
    .goLast:hover {
        cursor: pointer;
    }

    .canNotClick {
        color: #ABD1F9;
        opacity: 0.7;
    }
    .canNotClick:hover {
        cursor: not-allowed;
    }
    .selectPage-con {
        margin-right: 15px;
        float: right;
        .enterPageNum {
            width: 50px;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            height: 20px;
            text-indent: 10px;
        }
    }
}