@import "../../../../assets/scss/core/base";
.pagination-con {
  height:30px;
  line-height: 30px;
  color: #666666;
  font-size: 14px;
  user-select: none;
  .p-left {
    float: left;
    margin-left: 15px;
    .pageSize {
      width: 50px;
      margin: 0 5px;
    }
    .page-details {
      margin: 0 16px;
      .total {
        margin: 0 5px;
      }
    }
    .ui-icon-refresh {
      vertical-align: sub;
    }

    .ui-icon-refresh:hover {
      cursor: pointer;
    }
  }
  .table-oprate-con {
    float: right;
    .tableOperateSelect {
      width: 55px;
      vertical-align: sub;
      height: 20px;
      border-radius: 3px;
      margin-right: 30px;
      color: #666666;
    }
  }
  .p-page {
    float: right;
    .goFirst {
      vertical-align: sub;
      margin: 0 7px;
    }
    .goPre {
      margin: 0 7px;
    }
    .currentPage {
      display: inline-block;
      width: 25px;
      text-align: center;
    }
    .goNext {
      margin: 0 7px;
    }
    .goLast {
      vertical-align: sub;
      margin: 0 7px;
    }
  }
  .goFirst:hover {
    cursor: pointer;
  }
  .goPre:hover {
    cursor: pointer;
  }
  .goNext:hover {
    cursor: pointer;
  }
  .goLast:hover {
    cursor: pointer;
  }

  .canNotClick {
    color: #ABD1F9;
    opacity: 0.7;
  }
  .canNotClick:hover {
    cursor: not-allowed;
  }
  .selectPage {
    margin-right: 15px;
    float: right;
    .enterPageNum {
      width: 50px;
    }
  }
}