<div class="signature">
    <div class="seal">
        <div  class="add-seal">
            <div class="add ">
                 <input  type="file"  class="img-file J_add" />
            </div>
            <p>仅支持png格式，请上传透明低的图片</p>
        </div>
        <div class="seal-img">
            <ul class="ul-img J_ul-img">
                {{#each file_ids}}
                    <li class="li-img">
                        <span class="J_delImg" id="{{this}}">X</span>
                        <img src="/../download_attachment/?file_id={{this}}&download={{this}}" class="add-img" data-id="{{this}}" />
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="signatureMock">
        <img src="" class="dragimg J_dragimg"/>
        <div class="fromClone"></div>
    </div>
</div>