.form-chart-yAxis {
    margin-top:20px;
    .form-chart-y{
        padding:10px;
        background-color:rgba(250, 250, 250, 1);
        .form-chart-y-columns {
            display:inline-block;
            width: calc(100% - 40px);
            >div{
                float:left;
                width:30%;
                margin-right:3%;
                select {
                    vertical-align: bottom;
                    width:100%;
                }
                .auto-select-component{
                    margin-top:0!important;
                    width:100%;
                }
                .form-chart-text {
                    input {
                        width:100%;
                        padding: 9px 7px 6px;
                        margin-top:0;
                    }

                }

            }
            .form-chart-wrapper{
                padding-left:0;
            }
            select {
                margin-top:0;
            }
        }
        .btn-group {
            position:relative;
            top:-8px;
            button {
                text-indent:-99999px;
                border:none;
                outline:none;
            }
        }
        .btn-group {
            position:relative;
            top:-8px;
            button {
                text-indent:-99999px;
                border:none;
                outline:none;
            }
        }
    }
    .yAxis-setting {
        padding-bottom: 10px;
        .form-chart-checkbox {
            label {
                margin-top:0;
            }
        }
        .form-chart-text {
            .form-label {
                display:inline-block;
                border:none;
                span{
                    color:#000;
                    padding-top:3px;
                    padding-right:0;
                    padding-bottom:0;
                }
                span {
                    background:transparent;
                }
            }
            .form-chart-wrapper {
                display:inline-block;
                padding-left:0;
                input {
                    margin-top:0;
                    width:100px;
                }
            }
        }
        >div {
            float:left;
            label {
                padding-top:0;
            }
        }
    }
}