.fast-search {
    padding:5px;
    margin-right: 5px;
    .fast-search-select {
        border-radius: 4px;
        position: relative;
        top: 1px;
        font-size: 12px;
        border: 1px solid #d7d7d7;
        background-color: #fafafa;
        background: url(../../../../assets/images/dataGrid/icon_xiala2.png) no-repeat scroll 42px center transparent;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        outline: none;
        padding-right: 14px;
        width: 62px;
        height: 24px;
        color: rgb(85, 85, 85);
        line-height: 24px;
        margin-right: 5px;
        padding-left: 5px;
    }
    .fast-search-box {
        display: inline-block;
        position: relative;
        width: 102px;
        height: 25px;
        .fast-search-box-input {
            border-radius: 4px;
            background: url(../../../../assets/images/dataGrid/icon_xiala2.png) no-repeat scroll 75px center transparent;
            top:-1px;
            font-size: 12px;
            border: 1px solid #d7d7d7;
            -moz-appearance: none;
            -webkit-appearance: none;
            padding-right: 17px;
            width: 72px;
            height: 20px;
            color: rgb(85, 85, 85);
            line-height: 20px;
            margin-right: 10px;
            padding-left: 5px;
        }
        .fast-search-ul {
            display: none;
            z-index: 999;
            position: absolute;
            top: 23px;
            max-height: 210px;
            width: 94px;
            overflow: auto;
            line-height: 30px;
            border: 1px solid rgb(201, 201, 201);
            background: rgb(255, 255, 255);
            .fast-search-li {
                padding: 0 8px;
                &:hover {
                    background: #f2f2f2;
                }
            }
        }
        .fast-search-ul::-webkit-scrollbar {
            width: 4px;
            height: 6px;
        }
        .fast-search-ul::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(242,242,242,0.290196);
            background: rgba(155,155,155,0.4);
        }
        .fast-search-ul::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(242,242,242,0.290196);
            border-radius: 0;
            background: rgba(155,155,155,0.2);
        }
    }
    .fast-search-value {
        display: inline-block;
        width: 149px;
        height: 25px;
        .fast-search-input {
            border-radius: 4px;
            position: relative;
            font-size: 12px;
            border: 1px solid #d7d7d7;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            padding-right: 14px;
            width: 112px;
            height: 20px;
            color: rgb(85, 85, 85);
            line-height: 30px;
            padding-left: 5px;
        }
        .datetime,.timeInput,.hasDatepicker {
            border: 1px solid #d7d7d7;
            height: 20px;
            border-radius: 4px;
            position: relative;
            top: 1px;
            width: 126px;
            color: #555555;
            padding-left: 5px;
        }
        .component-time-control {
            .input-img {
                left: 113px;
                top: -19px;
            }
        }
    }
    .fast-search-img{
        cursor: pointer;
        position: relative;
        top: 2px;
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(../../../../assets/images/dataGrid/icon_sousuo_1.png) no-repeat scroll center center transparent;
    }
}
