
#drawflow{
    .content{
        position: relative;
    }
    .workflow-draw-box{
        position: relative;
        height: 100px;
        font-size: 12px;
        .draged-item{
            position: absolute;
            height: 30px;
            text-align: center;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            border: 1px solid rgb(225,225,225);
        }
        .draged-item.draged-maodian{
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: transparent;
            border: 1px solid rgb(225,225,225);
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
        }
        .closeSpan{
            background: #fff;
            z-index: 30;
            position: relative;
        }
    }
}

.switch-node{
    font-size: 12px;
    margin-left: 10px;
}
.workflow-draw-box .draged-item[state="2"]{
    background: #117DED;
    color: #fff;
}
.workflow-draw-box .draged-item[state="1"]{
    border: 1px solid currentColor;
    color: #117DED;
}
#app-workflow .workflow-foot #flow-node .workflow-box {
    margin-bottom: 40px;
}
.workflow-box{
    background: #fff;
    margin-bottom: 40px;
    .workflow-box-l {
        height: 40px;
        border-bottom: 1px solid #e4e4e4;
        line-height: 40px;
        font-weight: 700;
        font-size: 14px;
        width: 100%;
        .tit{
            padding: 0 10px;
            display: flex;
            align-items: center;
            .workflow-icon-box{
                margin-right: 5px;
            }
        }
        .workflow-look{
            .previewBtn{
                cursor: pointer;
                padding: 0 7px;
                height: 40px;
                display: flex;
                align-items: center;
            }
            .workflow-icon-box{
                margin: 0 auto;
            }
        }
    }
    .workflow-box-r {
        padding: 10px;
        width: 100%;
        overflow-x: initial;
        box-sizing: border-box;
        .follow-name-list{
            position: relative;
            min-height: 65px;
            padding: 10px 5px;
        }

        .approve-textarea{
            width: 100%;
            height: 66px;
            border: 1px solid #f2dede;
            textarea{
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
                resize: none;
                padding: 0;
            }
        }
    }
}

