#draw{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgb(255,84,0);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0,0.2);
    color: #fff;
}
.content{
    position: relative;
}
#workflow-draw-box{
    position: relative;
    height: 100px;
    font-size: 12px;
    .draged-item{
        position: absolute;
        height: 30px;
        text-align: center;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        border: 1px solid rgb(225,225,225);
    }
    .draged-item.draged-maodian{
        width: 20px;
        height: 20px;
        line-height: 20px;
        background: transparent;
        border: 1px solid rgb(225,225,225);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }
}
.switch-node{
    font-size: 12px;
    margin-left: 10px;
}
