<div class="workflow-box flex flex-column flex-start">
    <div class="workflow-box-l flex">
        <div class="tit">
            <i class="workflow-icon-box workflow-icon-node"></i>
            <span>节点流程</span>
        </div>
        <div class="workflow-look flex">
            <div class="previewBtn"  id="zoomIn">
                <i class="workflow-icon-box workflow-icon-scale2"></i>
            </div>
            <div class="previewBtn" id="zoomOut">
                <i class="workflow-icon-box workflow-icon-scale1"></i>
            </div>
            <div class="previewBtn" id="newWin">
                <i class="workflow-icon-box workflow-icon-full"></i>
            </div>
            <div class="previewBtn flex" id="togglePic">
                <i class="workflow-icon-box workflow-icon-switch"></i>
                <div class="togglePic-text">节点图</div>
            </div>
        </div>
    </div>

    <div class="workflow-box-r">
        <div id="drawflow">
            <div class="content">
                <div class="workflow-draw-box"></div>
            </div>
        </div>
    </div>
</div>