

.treeview {
    .list-group {
        .list-group-item {
            padding-left: 10px;
        }
    }
    .checked_box::before {
        content: url('../../../assets/images/util/tree/icon_checkbox_yes.png')
    }

    .unchecked_box::before {
        content: url('../../../assets/images/util/tree/icon_checkbox_no.png')
    }

    .collapsed_node::before {
        content: url("../../../assets/images/util/tree/icon_fold.png")
    }

    .expanded_node::before {
        content: url("../../../assets/images/util/tree/icon_fold.png")
    }

    .leaf_node::before {
        content: url("../../../assets/images/util/tree/icon_leaf.png")
    }

    .menu_node::before {
        content: url("../../../assets/images/util/tree/icon_fold.png")
    }

    .menu_leaf_node::before {
        content: " ";
    }
    span.icon {
        &:before {
            vertical-align: sub;
        }
    }
}
