.search-in-tree-hd{
    height: 30px;
    background: #F2F2F2;
    border-bottom: 1px solid #E4E4E4;
    font-size: 12px;
    color: #666;
    padding: 0 5px;
    .txt{

    }
    .search-in-tree-box{
        height: 24px;
        background: #fff;
        padding-left: 5px;
        width: 142px;
        input{
            border: none;
            height: 100%;
            width: 100%;
            padding: 0;
            outline: none;
        }
    }
}
#tree .node-disabled{
    display: none;
}
.treeview {
    .list-group {
        .list-group-item {
            padding-left: 10px;
            height: 30px;
            line-height: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &.node-tree:not(.node-disabled):hover{
                background: #eee;
            }
        }
    }
    .checked_box::before {
        content: url('../../../assets/images/util/tree/icon_checkbox_yes.png')
    }

    .unchecked_box::before {
        content: url('../../../assets/images/util/tree/icon_checkbox_no.png')
    }

    .collapsed_node::before {
        content: url("../../../assets/images/util/tree/icon_fold.png")
    }

    .expanded_node::before {
        content: url("../../../assets/images/util/tree/icon_fold.png")
    }

    .leaf_node::before {
        content: url("../../../assets/images/util/tree/icon_leaf.png")
    }

    .menu_node::before {
        content: url("../../../assets/images/util/tree/icon_fold.png")
    }

    .menu_leaf_node::before {
        content: " ";
    }
    span.icon {
        &:before {
            vertical-align: sub;
        }
    }
}
.buttons-in-tree{
    position: absolute;
    bottom:0;
    height: 30px;
    width: 100%;
    border-top:1px solid #E4E4E4;
    background: #fff;
    z-index: 20;
    button{
        border: none;
        outline: none;
        color:#0088FF;
        background: none;
        margin: 0 10px;
        font-size: 12px;
    }
}
.treeBtn{
  display: inline-block;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #159951;
  color: #fff;
  cursor: pointer;
}