/**
 引用公共样式
 */
@import "../core/base";

@media print {
    body * {
        visibility: visible !important;
        overflow: visible !important;
        position: static !important;
    }
}

@mixin icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
}

html.bi, body.bi {
    height: 100%;
    .bi-container {
        height: 100%;
        background: #f5f4f4;
    }
    .remove-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/remove.png') no-repeat;
    }
    .add-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/add.png') no-repeat;
    }
    .edit-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/edit.png') no-repeat;
    }
    .red-remove-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/red-remove.png') no-repeat;
    }
    .start-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/start.png') no-repeat;
    }
    .view-back-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/bi_view_back.png') no-repeat;

    }
    .tabs-menu-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/tabs_menu.png') no-repeat;

    }
    .tabs-menu-active-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/tabs_menu_active.png') no-repeat;
    }
    .original-data-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/original_data.png') no-repeat;
    }
    .save-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/save.png') no-repeat;
    }
    .new-window-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/new-window.png') no-repeat;
    }
    .rich-text-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/richtext.png') no-repeat;
    }
    .right-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/right.png') no-repeat;
    }
    .wrong-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/wrong.png') no-repeat;
    }
    .print-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/print.png') no-repeat;
    }
    .manager-edit-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/manager_edit.png') no-repeat;
    }
    .add-cell-icon {
         @include icon;
         background: url('../../../assets/images/bisystem/add_cell.png') no-repeat;
    }
    .export-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/export.png') no-repeat;
    }
    .import-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/import.png') no-repeat;
    }
    .print-line-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/print_line.png') no-repeat;
    }
    .edit-view-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/edit_view.png') no-repeat;
    }
    .file-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/file.png') no-repeat;
    }
    .new-chart-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/new-chart.png') no-repeat;
    }
    .new-charts-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/new_charts.png') no-repeat;
    }
    .search-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/search.png') no-repeat;
    }
    .select-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/select.png') no-repeat;
    }
    .chart-barline-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/chart_barline.png') no-repeat;
    }
    .chart-table-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/chart_table.png') no-repeat;
    }
    .chart-radar-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/chart_radar.png') no-repeat;
    }
    .chart-multip-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/chart_multip.png') no-repeat;
    }
    .chart-ninegrid-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/chart_ninegrid.png') no-repeat;
    }
    .chart-comment-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/chart_comment.png') no-repeat;
    }
    .chart-pie-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/chart_pie.png') no-repeat;
    }
    .aside-normal-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/aside_barline.png') no-repeat;
    }
    .aside-comment-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/aside_comment.png') no-repeat;
    }
    .aside-multilist-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/aside_multip.png') no-repeat;
    }
    .aside-nineGrid-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/aside_ninegrid.png') no-repeat;
    }
    .aside-pie-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/aside_pie.png') no-repeat;
    }
    .aside-radar-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/aside_radar.png') no-repeat;
    }
    .aside-table-icon {
        @include icon;
        background: url('../../../assets/images/bisystem/aside_table.png') no-repeat;
    }
}

@mixin chart-com {
    height: calc(100%);
    background: rgba(242, 242, 242, 1);
}

.remove-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

/*
* form字段列名显示
*/
@mixin form-clo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    span {
        margin: 8px;
        border: 1px solid #e4e4e4;
        padding: 10px 24px;
        background: #F2F2F2;
    }
}

/*
 * form按钮
 */
@mixin form-btn {
    padding: 8px 40px;
    background: #0E7AEF;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    color: #ffffff;
    outline: none;
    font-size: 12px;
}

/**
* 保存按钮
*/
@mixin save-btn {
    display: inline-block;
    margin-top: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
    clear: both;
    button {
        border: none;
        color: #fff;
        width: 210px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #3b8cff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        outline: none;
        position: relative;
    }
}

.bi-component-container {
    .form-chart {
        @include chart-com;
        > h3 {
            height: 60px;
            line-height: 60px;
            text-indent: 20px;
            background: #ffffff;
            border-bottom: solid 1px rgba(228, 228, 228, 1);
        }
        position: relative;
    }
    .form-group {
        min-width: 600px;
        max-width: 1000px;
        padding: 40px 30px 0;
        background: #ffffff;
        height: calc(100% - 175px);
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0 auto;
        > div {
            margin-bottom: 40px;
        }
        .form-chart-wrapper {
            padding-left: 80px;
        }
        .form-label {
            padding-left: 10px;
            border-bottom: #57c4ff solid 1px;
            span {
                background: #57c4ff;
                display: inline-block;
                padding: 6px 8px;
                color: #ffffff;
            }
            .required, .error-msg {
                color: red;
            }
        }
    }
    .save-btn {
        @include save-btn;
    }
    .checkbox-columns-list {
        label {
            margin: 8px;
            border: 1px solid #e4e4e4;
            padding: 10px 20px;
            background: #F2F2F2;
            span {
                vertical-align: text-bottom;
            }
        }
    }
    .form-chart-clo {
        @include form-clo;
    }

    .save-btn {
        @include form-btn;
    }
}








