@media screen and (max-width: 960px) {
    body {
        .views-header {
            .nav-tabs {
                width: 100%;
                overflow-x: auto !important;
                .icon-chart {
                    display: none;
                }
                &::-webkit-scrollbar {
                    height: 0;
                }
            }
            .views-header-right {
                display: none;
            }
        }
        .cells-container {
            padding: 0 .5em;
            box-sizing: border-box;
            .cells {
                > .cell {
                    display: none;
                }
                .cell {
                    position: static !important;
                    max-width: 100%;
                    margin-top: 1%;
                    .bread-crumb-nav {
                        .original-data-btn {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}