@media screen and (max-width: 960px) {
    body {

        .views-header {
            height: 44px !important;
            > div {
                line-height: 44px !important;
            }
            .nav-tabs {
                width: 100%;
                height: 44px;
                overflow-x: auto !important;
                .icon-chart {
                    display: none;
                }
                a {
                    line-height: 44px;
                }
                &::-webkit-scrollbar {
                    height: 0;
                }
            }
            .views-header-right {
                display: none;
            }
        }
        .cells-container {
            height: calc(100% - 45px) !important;
            padding: 0 .5em;
            box-sizing: border-box;
            -webkit-overflow-scrolling: touch;
            overflow:scroll;
            .cells {
                > .cell {
                    display: none;
                }
                .cell {
                    position: static !important;
                    max-width: 100%;
                    margin-top: 1%;
                    .bread-crumb-nav {
                        .original-data-btn {
                            display: none;
                        }
                    }
                    .cell-chart {
                        .chart-normal-date-zoom {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}