.component-contract-control{
    .contract-view, .contract-edit {
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #2298f4;
        cursor: pointer;
    }
    .contract-view {
        margin-right: 15px;
    }
}