<div class="department-con">
    <!--按鈕-->
    <div class="btn-nav">
        <div class="dataGrid-btn-group">
            <input class="departmentSratch" placeholder="输入搜索关键字" type="text">
            <a class="new-form-btn" href="javascript:;" title="新增"><img src="../../../assets/images/dataGrid/icon_add_1.png" alt=""><span>新增</span></a>
            <a class="grid-del-btn" href="javascript:;" title="删除"><img src="../../../assets/images/dataGrid/icon_delete_1.png" alt=""><span>删除</span></a>
            <a class="grid-import-btn" href="javascript:;" title="导入"><img src="../../../assets/images/dataGrid/icon_daoru_1.png" alt=""><span>导入</span></a>
            <a class="grid-export-btn" href="javascript:;" title="导出"><img src="../../../assets/images/dataGrid/icon_daochu_1.png" alt=""><span>导出</span></a>
            <a class="custom-column-btn" href="javascript:;" title="定制列"><img src="../../../assets/images/dataGrid/icon_dingzhilie_1.png" alt=""><span>定制列</span></a>
            <!--<a class="grid-auto-width" href="javascript:;" title="自适宽度"><img src="../../../assets/images/dataGrid/icon_kuanduzishiyng_1.png" alt=""><span>自适宽度</span></a>-->
            <a class="refresh-btn" href="javascript:;" title="刷新"><img src="../../../assets/images/dataGrid/icon_shuaxin_blue.png" alt=""><span>刷新</span></a>
            <a class="grid-new-window" href="/datagrid/custom_index/?table_id={{tableId}}&folder_id=9&custom_id=department-information" target="_blank" title="全屏"><img src="../../../assets/images/dataGrid/icon_quanping.png" alt=""><span>全屏</span></a>
        </div>
    </div>
    <!--sheet分页-->
    <div class="SheetPage">

    </div>
    <div class="ag-grid-con">
        <!--agGrid数据展示-->
        <div id="data-agGrid">

        </div>
        <!--定制列-->
        <div class="custom-columns-panel">

        </div>
    </div>
</div>