//framework 复用图标

.icon-framework-close{
    width: 16px;
    height: 16px;
    background: url(../../images/framework/close.png) no-repeat;
}

.icon-framework-edit{
    width: 16px;
    height: 16px;
    background: url(../../images/framework/edit-icon.png) no-repeat;
}

.icon-framework-delete{
    width: 16px;
    height: 16px;
    background: url(../../images/framework/delete-icon.png) no-repeat;
}

.icon-framework-drag{
    width: 16px;
    height: 16px;
    background: url(../../images/framework/drag-icon.png) no-repeat;
}

.icon-framework-menu{
    width: 16px;
    height: 16px;
    background: url(../../images/framework/default_menu_icon.png) no-repeat;
}