$aside-bg: #374157;
$section-bg: #60a998;
$aside-a: #f8645c;
$aside-a-last: #3b8cff;
$charts-container-p: #4c576f;
$active: #6b758a;
$filter-match-bg: #eef0f5;
$li-bg: #424e67;
$li-even-bg: #353D53;
$li-odd-bg: #374157;
$li-hover: #424e67;
$btn_width: 16px;
$font_size: 12px;

.bi-container {
    position: fixed;
    left: 250px;
    top: 0;
    height: 100%;
    width: calc(100% - 250px);
}

//左侧导航
.aside {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(51, 51, 51, 1);
    .aside-title {
        height: 46px;
        line-height: 46px;
        background: rgba(67, 67, 67, 1);
        color: #CCCCCC;
        text-align: left;
        padding-left: 20px;
        font-weight: 400;
        b {
            color: #0088FF;
            font-size: 18px;
            padding-right: 10px;
            font-weight: bold;
        }
    }
    //新建编辑按钮
    .user {
        padding: 0px 20px 10px;
        display: inline-block;
        a {
            display: block;
            width: 210px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-top: 10px;
            color: #ffffff;
            text-decoration: none;
            font-size: 12px;
            i {
                vertical-align: middle;
                padding-right: 10px;
            }
            &.add-chart-btn {
                background-color: rgba(0, 136, 255, 1);
            }
            &.edit-view-btn {
                background-color: rgba(102, 102, 102, 1);
            }
        }
        .active {
            box-shadow: 0 0 20px $active inset;
        }
    }
    //搜索框及以下
    .charts-container {
        width: 100%;
        height: calc(100% - 136px);
        display: inline-block;
        .filter {
            padding: 10px 10px 10px 20px;
            .filter-match {
                width: 168px;
                background-color: #333;
                border: none;
                padding: 7px 10px;
                outline: none;
                line-height: inherit;
                color: #F5F5F5;
            }
            i {
                vertical-align: middle;
            }
        }
        .charts {
            height: calc(100% - 68px);
            overflow: auto;
            border-top: 1px solid rgba(68, 68, 68, 1);
            box-sizing: border-box;
        }
    }
}
