<aside class="aside" >
    <div class="aside-title">
        <b>BI</b><span>数据分析系统</span>
    </div>
    <div class="user">
        <a href="#forms/home" draggable="false" class="add-chart-btn" title="新建图表"><i class="new-chart-icon"></i>新建图表</a>
        <a href="#views/edit" draggable="false" class="edit-view-btn" title="编辑视图"><i class="edit-view-icon"></i>编辑视图</a>
    </div>
    <div class="charts-container">
        <p class="filter">
            <i class="search-icon"></i>
            <input type="text" class="filter-match" placeholder="搜索目录">
        </p>
    <div class="charts">
        <ul class="charts-items"></ul>
    </div>
</div>
</aside>