<aside class="aside" >
    <div class="user">
        <a href="#"><i class="font">☲</i> 新建图标</a>
        <a href="#"><i class="font">☶</i> 编辑图表</a>
    </div>
    <div class="charts-container">
        <p class="filter">
            <input type="text" class="filter-match" placeholder="搜索">
            <i class="font">※</i>
        </p>
        <div class="charts">
            <ul class="charts-items">
                <li>
                    <p>
                        <span>雷达图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>表格</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>柱状 折线图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>多表应用</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>九宫图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>图标注释</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>饼图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>雷达图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>表格</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>柱状 折线图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>多表应用</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>九宫图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>图标注释</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>饼图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>雷达图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>表格</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>柱状 折线图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>多表应用</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>九宫图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>图标注释</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>饼图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>雷达图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>表格</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>柱状 折线图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>多表应用</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>九宫图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>图标注释</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
                <li>
                    <p>
                        <span>饼图</span><i class="btn_ripple">┆</i>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="hide_meun">
        <div class="btn_box">
            <button class="menuitem"><span>删除</span></button>
            <button class="menuitem"><span>编辑</span></button>
        </div>
    </div>
</aside>