.component-date-control {
    .ui-calendar {
        line-height: normal;
    }
    .ui-datepicker-trigger {
        position: relative;
        top: 3px;
        left: -20px;
        cursor: pointer;
    }
}


