.df-input-radio-status{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background: #0E7AEF;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  /*opacity:0;*/
}
.df-input-radio {
  width: 20px;
  height: 20px;
  /*-webkit-appearance: none;*/
  vertical-align: middle;
  margin: 0;
  margin-right: 2px;
  outline:none;
  opacity: 0;
}
input:focus{
  outline:none;
}
.df-input-radio:checked {
  width: 20px;
  height: 20px;
  /*-webkit-appearance: none;*/
  vertical-align: middle;
  margin: 0;
  margin-right: 2px;
  outline:none;
}

.df-input-label {
  margin-right: 10px;
  line-height: 30px;
  font-weight:normal;
  position: relative;
}
.df-input-radio:disabled{
  /*-webkit-appearance: radio;*/
  width: 15px;
  height: 15px;
  margin-right: 7px;
  display: inline-block;
}
.df-input-radio-wrapper{
  width: 14px;
  height: 14px;
  position: absolute;
  border: 1px solid #0E7AEF;
  border-radius: 50%;
  top: 8px;
  left: 4px;
  /*z-index:-1;*/
}