.screenshot {
    min-height: 250px;
    background: white;
    border: 1px solid #ccc;
}
.paste-tip {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    color: gray;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    padding: 110px 0;
}
.screenshot-image {
    height: auto;
    width: auto;
    min-width: 500px;
}
.btn-save-rechoose {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px 0;
    .comfirm-n-save, .cancel-to-rechoose{
        width: 90px;
        height: 30px;
        background: inherit;
        background-color: #08f;
        border: none;
        border-radius: 4px;
        box-shadow: none;
        font-family: \\5FAE\8F6F\96C5\9ED1;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
    }
}
