$print-width:1050px;
$print-height: 1485px;

.component-bi-canvas-main {
    width: 100%;
    height: 100%;
    position: relative;
    .views-header {
        width: 100%;
        height: 60px;
        font-size: 12px;
        background: #FFFFFF;
        border-bottom: 1px solid #e4e4e4;
        >div{
            height: 100%;
            line-height: 60px;
        }
    }
    &.manage {
        margin: 0 0 0 250px;
    }
    .cells-container {
        position: absolute;
        width: 100%;
        height: calc(100% - 61px);
        overflow: auto;
        z-index: 90;
        &.client {
            background: #F5F5F5;
            .cells {
                width: 100%;
                height: 100%;
                position: relative;
            }

        }
        &.manager {
            .cells {
                min-height: 10000px;
                min-width: 3000px;
                background-color: #DDDDDD;
                background-image: linear-gradient(rgba(255, 255, 255, 0.5) 50%, transparent 50%, transparent), linear-gradient(90deg, rgba(255, 255, 255, 0.5) 50%, transparent);
                background-size: $print-width $print-height * 2;
            }
        }
    }

    .empty-view {
        position: absolute;
        text-align: center;
        height: 100%;
        width:100%;
        background: #ffffff;
        z-index: 91;
        .empty-view-message{
           position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-70%);
            p {
                color:#666666;
            }
        }

    }
}

@media print {
    .bi-container,.cells-container.client{
        background:transparent !important;
    }
    .component-bi-canvas-main{
        header{
            display: none !important;
        }
    }
}

@import "../../../../assets/scss/bisystem/bi.phone";

