@import "../../../assets/scss/core/base";
.left-content-top{
    padding-top: 10px;padding-bottom: 10px;margin-left: 15px;
    .create{color: #FF7F50;}
    .set-calendar{margin-left: 50px;color: #FF7F50;}
}
.left-calendar-box{border-bottom: 1px solid #605654;padding-bottom: 30px;}
  .taskbar{
    height:25%;
    display: inline-block;
    overflow: auto;
    .label-task{
      padding-top: 5px;padding-bottom: 5px;width: 200px - 15px;
      .chk_1{display: none;}
      .chk_1 + label {
        background-color: #FFF;
        border: 1px solid #C1CACA;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 8px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        margin-right: 5px;
        margin-left: 10px;
      }
      .chk_1 + label:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
      }
      label{font-size: 17px;}
      .chk_task:checked + label {
        background-color: #FF7F50;
        border: 1px solid #FF7F50;
      }
      .chk_approve:checked + label{
        background-color: #2398df;
        border: 1px solid #2398df;
      }

      .chk_remind:checked + label:after {
        content: '\2714'; //勾选符号
        position: absolute;
        top: -5px;
        left: 0px;
        color: #2398df;
        width: 100%;
        text-align: center;
        font-size: 1.4em;
        padding: 1px 0 0 0;
        vertical-align: text-top;
      }
    }
    .label-task:hover{background-color: #a4aaae;}
  }
  .cate-hide{
    height:calc(44% - 40px);
    display: inline-block;
    overflow: auto;
    max-width: 200px;
    bottom: 5px;
    margin-top: 0px;
    #menu{
      height: calc(100%);
      .menu-item{
        height: 100%;
        .item-title{
          border-bottom: 1px solid #a4aaae;border-top: 1px solid #a4aaae;width: 200px;height: 22px;padding-top: 4px;margin-top: 0px !important; position:absoluet;top:0;left:0;
          .cate-hide-icon{margin-left: 180px;margin-top: -12px;}
        }
        .item-content{width: 200px;border-bottom:2px solid blue;height: 90%;}
      }
    }
  }

