<div class="item-title-1 item-title">
	<span>日历操作</span>
	<div class="cate-hide-icon">
		<i class="ui-icon ui-icon-plus create"></i>
		<span class="create-calendar cate-hide-icon-style">创建</span>
		<span class="set-calendar cate-hide-icon-style">设置</span>
	</div>
</div>
<div class="item-content-1 item-content">
	<div class="left-calendar-set">

	</div>
</div>
<div class="item-title-2">
	<span>隐藏分类</span>
	<div class="cate-hide-icon">
	</div>
</div>
<div class="item-content-2">
	<div class="left-calendar-hide">

	</div>
</div>
<div class="item-title-3 item-title">
	<span>与我相关审批</span>
	<div class="cate-hide-icon">
	</div>
</div>
<div class="item-content-3 item-content">

</div>
<div class="item-title-4 item-title">
	<span>已完成</span>
	<div class="cate-hide-icon">
	</div>
</div>
<div class="item-content-4 item-content">

</div>