.label-task-children{
  font-size: 13px !important;
}
.label-task-children{
  padding-top: 5px;
  padding-bottom: 5px;
  word-break: keep-all;
  white-space: nowrap;
}
.cate-hide-icon{
  display: inline-block;
  float: right;
}
.cate-hide-icon-style{
  cursor: pointer;
}
.cate-hide::-webkit-scrollbar,.taskbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.cate-hide::-webkit-scrollbar-thumb,.taskbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(14, 122, 239, 0.290196);
  background:  rgba(242, 242, 242, 1);
}
.cate-hide::-webkit-scrollbar-track,.taskbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(14, 122, 239, 0.290196);
  border-radius: 0;
  background: rgba(14, 122, 239,0.1);
}
.item-title-1,.item-title-4,.item-title-3
{
  border: 1px solid rgba(228, 228, 228, 1);
  width: calc(100% - 22px);
  height: 30px;
  padding: 0px 10px 0px 10px;
  background-color:rgba(228, 228, 228, 1);
  margin-bottom: 2px;
  line-height: 30px;
}
.item-title-2{
  border: 1px solid rgba(228, 228, 228, 1);
  width: calc(100% - 22px);
  height: 30px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 2px;
  line-height: 30px;
}
.item-content-1,.item-content-4,.item-content-3
{
  height:27%;
  overflow: auto;
  padding: 0px 0px 3px 10px;
  width: calc(100% - 20px);
}
.item-content-2
{
  display: none;
  height:27%;
  overflow: auto;
  padding: 10px 0px 3px 10px;
  width: calc(100% - 20px);
}


