       <div class="left-content-top" style="color: red;">
        	<i class="ui-icon ui-icon-plus create"></i>
        	<span class="create">创建</span>
        	<span class="set-calendar">设置</span>
        </div>
        <div class="left-calendar-box">
        	
        </div>
	        <div class="taskbar">
	        	<div class="label-task">
	        		<input type="checkbox" id="checkbox_a2" class="chk_1 chk_approve" checked/>
	            	<label for="checkbox_a2"></label><label for="checkbox_a2">审批</label>
	        	</div>
	        	<div class="label-task">
		        		<input type="checkbox" id="checkbox_a3" class="chk_1 chk_remind" checked />
		            	<label for="checkbox_a3"></label><label for="checkbox_a3">提醒</label>
	        	</div>
				<div class="remind-group">

				</div>
	        </div>
	       <div class="cate-hide">       
		            <div id="menu">  
		    		<div class="menu-item"> 
		    			<div class="item-title">
				        	
				        	<span style="padding-top:3px;padding-bottom: 8px;margin-left: 30px;padding-left: 10px;border-left: 3px solid #205cdc;">隐藏分类</span>
			        		<div class="cate-hide-icon">
			        			
			        		</div>
				        	
				        </div>  
				        	<div class="item-content"></div>  
				       </div>   
		    
					</div>  
	        </div> 

