<div class="calendar-iframe">
    <div class="calendar-header">
        <span class="tool-icon"><img class="header-icon" src="../../assets/images/calendar/calendar-tool.png" alt=""></span>
        <span class="tool-btn" id="monthView">按月</span>
        <span class="tool-btn" id="weekView">按周</span>
        <span class="tool-btn" id="dayView">按日</span>
        <span class="today-btn" id="todayView">今日</span>
        <span class="today-btn" id="schedule">日程</span>
        <div class="calendar-search">
            <input class="search-box" type="text" >
            <img class="header-icon" src="../../assets/images/calendar/calendar-search.png" alt="">
        </div>
        <div class="right-tool">
            <span class="right-tool-btn" id="refresh"><img class="header-icon" src="../../assets/images/calendar/calendar-refresh.png" alt="">刷新</span>
            <span class="right-tool-btn" id="export"><img class="header-icon" src="../../assets/images/calendar/calendar-export.png" alt="">导出</span>
        </div>
    </div>
    <div class="calendar-remind">
        <div class="calendar-date">
            <span class="datepick"><img class="header-icon" src="../../assets/images/calendar/calendar-pre.png" alt=""></span>
            <span class="nowDate">2017</span>
            <span class="datepick"><img class="header-icon" src="../../assets/images/calendar/calendar-next.png" alt=""></span>
        </div>
        <div class="remind-count">
            <span class="count-title">提醒：<span class="count remind-num">8</span></span>
            <span class="count-title">审批：<span class="count approval-num">9</span></span>
        </div>
    </div>
    <div class="calendar-container">
        <div class="left-content">
        </div>
        <div class="main-content">

        </div>
    </div>
</div>

