<div class="calendar-iframe">
    <div class="header">
        <span class="title">日历</span>
        <div class="tool">
            <span>在新窗口打开</span>
        </div>
    </div>
    <div class="calendar-container">
        <div class="left-content">
            
        </div>
        <div class="main-content">

        </div>
        <div class="right-content">
            <div class="hide-right-content" title="收起">
                <span class="ui-icon ui-icon-triangle-1-e hide-icon"></span>
            </div>
            <div class="right-content-workflow">
            </div>
           
        </div>
    </div>
</div>

