<div class="header">
    <span class="title">日历</span>
    <div class="tool">
        <span>在新窗口打开</span>
    </div>
</div>
<div class="calendar-container">

    <div class="left-content">
        <div class="create-new">
            <span>创建{{title}}</span>
        </div>
        <div class="left-calendar-box">

        </div>
        <div class="taskbar">
            <div>任务</div>
            <div>审批</div>
            <div class="">
                隐藏部分
            </div>
        </div>

    </div>
    <div class="right-content">

    </div>
    <div class="right-content-workflow">

    </div>
</div>

