.workbench-list {
    .item {
        span {
            display: block;
            line-height: 40px;
            margin-left: 30px;
            color: #fff;
            cursor: pointer;
        }
    }
}