.auto-select-component {
    border: none;
    position: relative;
    &:after {
        border: 4px solid transparent;
        border-top: 6px solid rgba(103, 106, 108, 0.65);
        width: 0;
        height: 0;
        position: absolute;
        content: '';
        right: 0;
        top: 20px;
    }
    .popup {
        width: calc(100% - 20px) !important;
        background: #ffffff;
        max-height: 400px;
        z-index: 10;
        border: 0;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    }
    .text {
        height: 40px !important;
        line-height: 40px !important;
        border: none !important;
        border-bottom: 1px solid #ececec !important;
        z-index: 0 !important;
    }
}