.auto-select-component {
    border: none;
    border-bottom: 1px solid #ececec ;
    .popup{
      background:#ffffff;
      max-height:400px;
      z-index: 10;
      border: 0;
      box-shadow: 0 2px 5px 1px rgba(0,0,0,.2)
    }
    .text{
      height: 40px!important;
      line-height: 40px!important;
      border: none!important;
    }
}