.auto-select-component {
    margin-top: 6px !important;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    position: relative;
    .result{
        border: none !important;
    }
    .popup {
        width: calc(100% - 20px) !important;
        background: #ffffff;
        max-height: 400px;
        z-index: 10;
        border: 0;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    }
    .text {
        height: 40px !important;
        line-height: 40px !important;
        border: none !important;
        border-bottom: 1px solid #ececec !important;
        z-index: 0 !important;
    }
}