<div class="clearfix">
    {{#if unvisible}}
        <a href="javascript:void(0);" style="color:#ccc;">权限受限</a>
    {{else if be_control_condition}}
        <a href="javascript:void(0);" style="color:#ccc;">被修改条件限制</a>
    {{else}}
        <a href="javascript:void(0);" class="view-attached-list">共{{value.length}}个文件</a>
        <!--{{#if is_view}}-->
            <!--上传文件，截图上传-->
            <input type="file" class="selecting-file" style="display: none;" multiple>
            <button type="button" class='upload-file' value="Browse...">上传文件</button>
            <button type="button" class="shot-screen">截图上传</button>
            <div class="get-screenshot"></div>
            <div class="upload-process-queue"></div>
        <!--{{/if}}-->
    {{/if}}
</div>

