

.global-search-main{
    .search-group{
        position: relative;
        z-index: 10;
        background-color: white;
        a{
            width: 20px;
            height: 20px;
            background-image: url("../../../assets/images/framework/search.png");
            position: absolute;
            left: 175px;
            top:8px;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        li{
            padding-left: 15px;
            text-align: left;
            &:last-child{
                padding-left: 0;
                text-align: center;
            }
        }
    }



}
















//    width:180px;
//    position: relative;
//    z-index: 5;
//    display: none;
//    background-color: white;
//    border: solid 1px #c5e1ff;
//    li{
//        padding: 4px;
//        text-indent: 6px;
//        cursor: pointer;
//        &.clear-record{
//            color: #0f79ef;
//            text-align: center;
//        }
//        &:hover{
//            background-color: #c5e1ff;
//        }
//        &.clear-record:hover{
//            background-color: #00b7ee;
//        }
//        a{
//            color: rgba(75, 75, 75, 0.63);
//
//        }
//    }
//

