@import "../../../assets/scss/core/base";

.global-search-main{
    width: 220px;
    .search-group{
        input.search-content{
            width: 200px;
            height: 24px;
            border: solid 1px #f2f2f2;
            text-indent: 15px;
            outline: none;
            font-size: 12px;
            &::placeholder{
                color: #999999;
            }
        }

        .search-icon{
            width: 16px;
            height: 16px;
            background-image: url("../../../assets/images/framework/global-search.png");
            background-repeat: no-repeat;
            margin-left: 175px;
            margin-top: 5px;
            position: absolute;
            cursor: pointer;

        }

    }

    .history-display{
        width: 198px;
        background-color: white;
        position: relative;
        z-index:10;
        border: solid 1px #f2f2f2;
        display: none;

        .history-list{
            .record-item{
                padding: 5px;
                cursor: pointer;

                .delete-icon{
                    display: inline-block;
                    float: right;
                    cursor: pointer;
                    margin-right: 10px;
                }

                //&:hover{
                //    background-color: #c5e1ff;
                //}
            }
            .item-selected{
                background-color: #c5e1ff;
            }

            .delete-all-history{
                padding: 5px;
                text-align: center;
                cursor: pointer;

                &:hover{
                    background-color: #00b7ee;
                }
            }
        }
    }
}
















//    width:180px;
//    position: relative;
//    z-index: 5;
//    display: none;
//    background-color: white;
//    border: solid 1px #c5e1ff;
//    li{
//        padding: 4px;
//        text-indent: 6px;
//        cursor: pointer;
//        &.clear-record{
//            color: #0f79ef;
//            text-align: center;
//        }
//        &:hover{
//            background-color: #c5e1ff;
//        }
//        &.clear-record:hover{
//            background-color: #00b7ee;
//        }
//        a{
//            color: rgba(75, 75, 75, 0.63);
//
//        }
//    }
//

