<div class="calendar-set-container">
    <div class="set-tool">
        <span class="set-btn editor-btn">编辑</span>
        <span class="set-btn reset-btn">重置</span>
        <div class="hide-btns">
            <button class="set-btn save-btn">保存</button>
            <button class="set-btn cancel-btn">取消</button>
        </div>
    </div>
    <div class="calendar-set-content">
        <table>
            <thead>
            <tr>
                <td class="set-table-head">显示字段</td>
                <td class="set-table-head">首页日历展示</td>
                <td class="set-table-head">提示字段名</td>
                <td class="set-table-head">提示颜色</td>
                <td class="set-table-head">附加显示字段</td>
                <td class="set-table-head">代表字段</td>
                <td class="set-table-head">首页可修改字段</td>
                <td class="set-table-head">预览</td>
                <td class="set-table-head">已设置提醒方式</td>
                <td class="set-table-head">提醒方式</td>
                <td class="set-table-head">更改替换字段</td>
            </tr>
            </thead>
            <tbody class="set-items">
            </tbody>
        </table>
        <div class="time-calendar-set">
            开始时间
            <input class="time-start-calendar-set" type="date"/>
        </div>


    </div>
</div>