$boder-color: #ddd;
.calendar-set-container {
    width: 100%;
    .set-tool {
        margin: 8px 10px;
        .set-btn {
            padding: 5px 12px;
            display: inline-block;
            border: 1px solid #c5dbec;
            background: #0F79EF;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }
        .disabled {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }
        .hide-btns {
            display: inline-block;
            visibility: hidden;
            .cancel-btn {
                background-color: #ff0000;
            }
        }
    }
    .calendar-set-content {
        table{
            width:100%;
            .set-table-head{
                width: calc(9.5%);
                min-width: 90px;
                text-align: center;
                line-height: 30px;
                border: 1px solid #C1CACA;
                margin:0px !important;
            }
        }
        .time-calendar-set{
            width: 400px;
            line-height: 40px;
            padding-left: 50px;
            background-color: rgba(242, 242, 242, 1);
            margin-top: 30px;
            .time-start-calendar-set{
                font-size: 13px;
                width: 200px;
                margin-left: 130px;
                line-height: 25px;
                color: #949191;
            }
        }

    }
}