
.calendar-set-container {
    width: 100%;
    height: calc(100% - 46px);
    .set-tool {
        padding: 8px 10px;
        .set-btn {
            padding: 5px 12px;
            display: inline-block;
            border: 1px solid #c5dbec;
            background: #0088FF;
            color: #fff;
            cursor: pointer;
            outline: none;
        }
        .disabled {
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }
        .hide-btns {
            display: inline-block;
            visibility: hidden;
            .cancel-btn {
                background-color: #ff0000;
            }
        }
    }
    .calendar-set-content {
        height:100%;
        .setting-header-title {
            border-top: 1px solid #E4E4E4;
            width: 100%;
            display: table;
            .table-set-checkbox{
                width: 9% !important;
            }
            .table-set-multile{
                width:16% !important;
            }
            .set-table-head{
                width: 9%;
                text-align: center;
                border-right: 1px solid #E4E4E4;
                display: table-cell;
                box-sizing: border-box;
                line-height: 30px;
                &.no-border{
                    border: none;
                }
            }
            .res-for-text {
                width: 12%;
            }
        }
        .set-items {
            height: 94%;
            overflow: auto;
        }
        .time-calendar-set{
            width: 400px;
            line-height: 40px;
            padding-left: 50px;
            background-color: #F2F2F2;
            margin-top: 30px;
            .time-start-calendar-set{
                font-size: 13px;
                width: 200px;
                margin-left: 130px;
                line-height: 25px;
                color: #949191;
            }
        }
        .calendar-setting-content{
            height:100%;
        }


    }

}