<div class="calendar-set-container">
    <div class="set-tool">
        <button class="set-btn editor-btn" disabled>编辑</button>
        <button class="set-btn reset-btn" disabled>重置</button>
        <div class="hide-btns">
            <button class="set-btn save-btn">保存</button>
            <button class="set-btn cancel-btn">取消</button>
        </div>
    </div>
    <div class="calendar-set-content">
        <div class="setting-header-title clearfix">
            <span class="set-table-head table-set-checkbox">显示字段</span>
            <span class="set-table-head table-set-checkbox">首页日历展示</span>
            <span class="set-table-head">提示字段名</span>
            <span class="set-table-head">提示颜色</span>
            <span class="set-table-head table-set-multile">附加显示字段</span>
            <span class="set-table-head res-for-text">代表字段</span>
            <span class="set-table-head">首页可修改字段</span>
            <span class="set-table-head">预览</span>
            <span class="set-table-head">已设置提醒方式</span>
            <span class="set-table-head no-border">更改替换字段</span>
        </div>
        <div class="set-items" style="width: 100%;">
        </div>
    </div>
</div>