<div class="calendar-set-container">
    <div class="set-tool">
        <button class="set-btn editor-btn">编辑</button>
        <button class="set-btn ">重置</button>
        <div class="hide-btns">
            <button class="set-btn save-btn">保存</button>
            <button class="set-btn cancel-btn">取消</button>
        </div>
    </div>
    <div class="calendar-set-content">
        <table>
            <thead>
            <tr>
                <td colspan="1" style="width: calc(100%/18 *1)">勾选显示字段</td>
                <td colspan="1" style="width: calc(100%/18 *1)">是否在首页日历展示</td>
                <td colspan="2" style="width: calc(100%/18 *2)">提示字段名</td>
                <td colspan="1" style="width: calc(100%/18 *1)">提示颜色</td>
                <td colspan="2" style="width: calc(100%/18 *2)">附加显示字段</td>
                <td colspan="2" style="width: calc(100%/18 *2)">代表字段</td>
                <td colspan="3" style="width: calc(100%/18 *3)">首页可修改字段</td>
                <td colspan="3" style="width: calc(100%/18 *3)">预览</td>
                <td colspan="1" style="width: calc(100%/18 *1)">已设置提醒方式</td>
                <td colspan="1" style="width: calc(100%/18 *1)">提醒方式</td>
                <td colspan="1" style="width: calc(100%/18 *1)">更改替换字段</td>
            </tr>
            </thead>
            <tbody class="set-items">
            </tbody>
        </table>

    </div>
</div>