.remind-dom-content {
    border: 1px solid #dddddd;
    margin-left: 50px;
    width:90%;
    .set-remind-container {
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid #dddddd;
        .set-row-title {
            width: 100%;
            .remind-method-title {
                width: 50%;
                line-height: 34px;
                text-align: center;
            }
            .unchecked{
                background-color:rgba(228, 228, 228, 1);
            }
            .middle-border {
                border-right: 1px solid #dddddd;
            }
        }
    }
    .email{
        display: none;
    }
    .remind-table-content {
        border: 1px solid #dddddd;
        padding: 5px;
        margin-left: 18px;
        margin-top: 10px;
        width: 95%;
        margin-bottom: 30px;
        .remind-table-row {
            height: 55px;
            width: 100%;
            border-bottom: 1px solid #dddddd;
            .remind-state-td {
                width: 100%;
                line-height: 55px;
                text-align: center;
                .change-state-btn {
                    display: inline-block;
                    line-height: 26px;
                    width: 50px;
                    border: 1px solid #dddddd;
                }
                .close-sms-remind{
                }
                .checked{
                    background-color: #205cdc;
                    color: white;
                }
            }
            .remind-row-label {
                width: 30%;
                line-height: 55px;
                text-align: center;
            }
            .remind-auto-select {
                border: 1px solid #dddddd;
                padding: 10px;
                .popup {
                    width: 100%;
                    ul{
                        li {
                            margin-left: 0px;
                            list-style-type: none;
                            label{
                                text-align: left;
                                overflow:hidden;
                            }
                        }
                    }
                    button{
                        width:100%;
                    }
                }
            }
            .select-input {
                width: 100%;
            }

        }
    }
    .set-ok{
        float: right;
        margin-top: 20px;
        width: 50px;
        line-height: 20px;
        background-color: #3d83cc;
        border: 0px;
        color: white;
    }
}